.auth-wrapper {
  max-width: 640px;
  max-height: 618px;
  margin: 231px auto;
}

.auth-signup-wrapper {
  max-width: 640px;
  max-height: 842px;
  margin: 60px auto 178px;
}

.auth-header {
  display: flex;
  justify-content: center;
  padding: 0 112px 40px;
}

.auth-main {
  display: flex;
  flex-direction: column;
}

.auth-field {
  padding-bottom: 24px;
}

.auth-label {
  display: block;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  padding-bottom: 16px;
}

.auth-input-group {
  position: relative;
  display: inline-block;
}

.auth-input {
  padding: 16px 0;
  font-size: 16px;
  border-radius: 12px;
  background-color: var(--gray-100);
  text-indent: 24px;
  border: none;
}

.auth-input:focus {
  outline-color: var(--Primary-100);
}

.auth-input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: var(--gray-400);
}

.input-icon {
  background-image: url("../images/icon/icon_eyes_close.png");
}

.auth-btn {
  padding: 16px 0px;
  border-radius: 40px;
  font-size: 20px;
  line-height: 32px;
  gap: 10px;
  background-color: var(--gray-400);
}

.auth-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 74px;
  border-radius: 8px;
  padding: 16px 23px 16px 23px;
  margin: 24px 0 24px;
  background-color: #e6f2ff;
}

.auth-box a:visited {
  color: var(--gray-800);
}

.auth-gopage {
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  color: var(--gray-800);
}

.auth-snsbox {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.auth-snsbox img {
  width: 42px;
  height: 42px;
}

.auth-register {
  margin: 0 auto;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  color: var(--gray-800);
}
