:root {
  --primary: #6d6afe;
  --red: #ff5b56;
  --error-red:#f74747;
  --black: #111322;
  --black-2: #1f2937;
  --white: #ffffff;
  --white-2: #f3f4f6;
  --white-3: #fcfcfc;
  --white-4: #cfe5ff;
  --white-5: #dfdfdf;
  --whiteblue: #e6f2ff;
  --blue: #3182f6;
  --blue-100: #3692ff;
  --blue-200: #1967d6;
  --blue-300: #1251aa;
  --gray-50: #f9fafb;
  --gray-100: #f3f4f6;
  --gray-200: #e5e7eb;
  --gray-400: #9ca3af;
  --gray-500: #6b7280;
  --gray-600: #4b5563;
  --gray-700: #374151;
  --gray-800: #1f2937;
  --gray-900: #111827;
}
