html {
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-size: 16px;
}
body {
  margin: 0;
  padding: 0;
  /* background-color: #FCFCFC; */
}
* {
  box-sizing: border-box;
}

/* util */
.btn {
  display: inline-block;
  padding: 10px 20px;
  color: #f3f4f6;
  border-radius: 8px;
  background: #3692FF;
  font-weight: 600;
  text-decoration: none;
  text-align: center;
  line-height: 1.6;
  cursor: pointer;
}
.btn.rounded {
  border-radius: 9999px;
}
.btn:hover {
  background-color: #1967D6;
}
.btn:active {
  background-color: #1251AA;
}
.btn:visited {
  background-color: #9CA3AF;
}

.bg-sky {
  background-color: #CFE5FF;
}

/* common */
.container {
  max-width: 1193px;
  margin: 0 auto;
}

/* component */
#header {
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 1020;
}
.header {
  max-width: 1920px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 200px;
}
.header .root-link {
  display: flex;
  gap: 8px;
  align-items: center;
}
.header .site-name {
  margin: 0;
}
.header .btn {
  width: 128px;
}

#footer {
  background-color: #111827;
}
#footer .container {
  display: flex;
  justify-content: space-between;
  padding: 32px 0 108px;
  color: #9CA3AF;
}
#footer p {
  margin: 0;
}
#footer ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}
#footer a {
  display: block;
  color: #9CA3AF;
  text-decoration: none;
}
#footer .links {
  display: flex;
  gap: 30px;
}
#footer nav a:hover {
  text-decoration: underline;
}
#footer .sns {
  display: flex;
  gap: 12px;
}

/* responsive */
@media (max-width: 62rem) {
  html {
    font-size: 18px;
  }
}