:root {
  --gray900: #111827;
  --gray800: #1F2937;
  --gray700: #374151;
  --gray600: #4B5563;
  --gray500: #6B7280;
  --gray400: #9CA3AF;
  --gray200: #E5E7EB;
  --gray100: #F3F4F6;
  --gray50: #F9FAFB;

  --blue: #3692FF;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font: 16px / 1.4 Pretendard, "Noto Sans KR", sans-serif;
  font-weight: 400;
  text-decoration: none;
}

li {
  list-style: none;
}