* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Pretendard";
  src: url("/font/PretendardVariable.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: var(--white-color);
  font-family: "Pretendard";
}

h2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 56px;
  color: var(--gray-700);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  margin: 0 200px;
}

.btn {
  background-color: var(--Primary-100);
  color: var(--gray-100);
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  border: none;
  cursor: pointer;
}

.btn-login {
  width: 128px;
  height: 48px;
  border-radius: 8px;
  font-size: 16px;
  line-height: 26px;
  padding: 12px 23px;
  gap: 10px;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 540px;
  background-color: #cfe5ff;
}

.banner-container {
  display: flex;
  white-space: nowrap;
}

.banner-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 32px;
}

.btn-banner {
  height: 56px;
  border-radius: 40px;
  padding: 16px 124px;
  font-size: 20px;
  line-height: 32px;
  margin-bottom: 60px;
}

.section {
  display: flex;
  padding: 138px 466px;
  justify-content: center;
  align-items: center;
  height: 720px;
  background-color: var(--white-color);
}

.section-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fcfcfc;
  width: 988px;
  gap: 64px;
  border-radius: 12px;
  padding: 0 23.5px;
  white-space: nowrap;
}

.reverse {
  flex-direction: row-reverse;
}

.section-desc {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.textright {
  text-align: right;
  padding: 0 64px 0 0;
}

.section-label {
  color: var(--Primary-100);
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  padding-bottom: 12px;
}

.section-text {
  color: var(--gray-700);
  font-size: 24px;
  font-weight: 500;
  padding-top: 24px;
  line-height: 32px;
}

footer {
  background-color: var(--gray-900);
  height: 160px;
}

.footer-container {
  display: flex;
  justify-content: space-evenly;
  padding: 30px 0;
}

.footer-txt {
  color: var(--gray-400);
  font-size: 16px;
  font-weight: 400;
}

.footer-page {
  display: flex;
  gap: 30px;
}

.footer-page a {
  text-decoration: none;
  color: var(--gray-200);
  font-size: 16px;
  font-weight: 400;
}

.linktxt {
  text-decoration: none;
}

.sns {
  display: flex;
  gap: 7px;
}
