@import url(./font.css);

body {
  box-sizing: border-box;
  font-family: "Pretendard-Regular";
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

input {
  border: none;
}

button {
  border: none;
  cursor: pointer;
}