*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #DFDFDF;
    width: 100%;
    height: 70px;
    padding: 0 200px;
    max-width: 1920px;
    margin: 0 auto;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: white;
} 

.logo{
    width: 153px;
    height: 51px;
    flex-shrink: 0;
    cursor: pointer;
}

.button.header-button{
    flex-shrink: 0; 
    padding: 11px 23px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    white-space: nowrap;
    text-decoration: none;
}

.button{
    background-color: #3692FF;
    color: white;
    border: none;
    border-radius: 10px;
    font-family: 'Pretendard';
}

.main-ad{
    width: 100%;
    height: 540px;
    background-color: #CFE5FF;
    position: relative; 
}

.main-ad-box{
    width: 100vw;
    gap: 7px;
    display: flex;
    position: absolute;
    bottom: 0;
    justify-content: center;
}

.main-ad-content{
    gap: 32px;
    display: flex;
    flex-direction: column;
}

.main-ad-link{
    text-decoration: none;
}

.main-ad-head{
    font-family: 'Pretendard';
    font-size: 40px;
    font-weight: 700;
    line-height: 56px;
}

.button.main-ad-button{
    border-radius: 40px;
    text-align: center;
    font-family: 'Pretendard';
    font-size: 20px;
    font-weight: 600;
    line-height: 32px;
    height: 56px;
    padding: 16px 124px;
    white-space: nowrap;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.main-ad-image{
    max-width: 746px;
    max-height: 340px;
}

.box{
    width: 100%;
    height: 720px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.content{
    display: flex;
    justify-content: space-between;
    border-radius: 12px;
    width: 988px;
    background-color: #FCFCFC;
    white-space: nowrap;
    margin: 0 auto;
}

.box-image{
    width: 579px;
    height: 444px;
}

.main-first-texts{
    padding-right: 24px;
    margin-top: 103px;
    margin-bottom: 103px;
}

.main-second-texts{
    padding-left: 24px;
    display: flex;
    flex-direction: column;
    margin-top: 103px;
    margin-bottom: 103px;
    margin-right: 64px;
    text-align: right;
}

.main-third-texts{
    padding-right: 24px;
    margin-top: 103px;
    margin-bottom: 103px;
    margin-left: 22px;
}

.section-head{
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    font-family: "Pretendard";
    color: #3692FF;
    margin-bottom: 12px;
}

.bigtext{
    font-family: "Pretendard";
    font-size: 40px;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: 2%;
    color: #374151;
    margin-bottom: 24px;
}

.smalltext{
    font-family: "Pretendard";
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    color: #374151;
}

.sub-ad{
    width: 100%;
    height: 540px;
    background-color: #CFE5FF;
    position: relative
    
}

.sub-ad-box{
    width: 100vw;
    gap: 7px;
    display: flex;
    position: absolute;
    bottom: 0;
    justify-content: center;
}

.sub-ad-content{
    padding: 0px 0px 60px 0px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    white-space: nowrap;
    margin-right: 69px;
    margin-top: 112.5px;
}

.sub-ad-head{
    font-family: 'Pretendard';
    font-size: 40px;
    font-weight: 700;
    line-height: 56px;
    color: #374151;
}

.sub-ad-image{
    width: 746px;
    height: 397px;
}

.footer{
    background-color: #111827;
    width: 100%;
    height: 160px;
    display: flex;
    justify-content: center;
}

.footer-box{
    max-width: 1120px;
    width: 100%;
    margin-left: 400px;
    margin-right: 400px;
    margin-top: 32px;
    display: flex;
    justify-content: space-between;
}

.company{
    color: #9CA3AF;
    font-family: 'Pretendard';
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    white-space: nowrap;
}

.info{
    
    font-family: 'Pretendard';
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    display: flex;
    gap: 30px;
    
}

.info-link{
    white-space: nowrap;
    cursor: pointer;
    text-decoration: none;
    color: #E5E7EB;
}

.footer-image-box{
    white-space: nowrap;
}

.footer-image-link{
    cursor: pointer;
}

/* 반응형 - Tablet*/
@media screen and (max-width: 1199px) and (min-width: 768px) {
    .header {
        padding: 0 24px;
    }

    .main-ad{
        width: 100%;
        height: 786px;
        background-color: #CFE5FF;
        position: relative;
    }

    .main-ad-box{
        gap: 80px;
        display: flex;
        flex-direction: column;
        position: absolute;
        bottom: 0;
        align-items: center;
        justify-content: center;
    }

    .main-ad-head {
        text-align: center;
    }

    .main-ad-image {
        width: 100%;
        height: auto;
    }

    .box{
        width: 100%;
        height: auto;   
        display: flex;
        padding: 24px;
    }
    
    .content{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        border-radius: 12px;
        width: 100%;
        background-color: #FCFCFC;
        
    }

    .text{
        background-color: white;
        width: 100%;
        margin: 0;
        padding: 10px 0;
    }

    .box-image{
        width: 100%;
        height: auto;
    }

    .sub-ad{
        width: 100%;
        height: 786px;
        background-color: #CFE5FF;
        position: relative
    }
    
    .sub-ad-box{
        gap: 10px;
        display: flex;
        flex-direction: column;
        position: absolute;
        bottom: 0;
        align-items: center;
        justify-content: center;
    }
    
    .sub-ad-content{
        gap: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        white-space: nowrap;
        margin: 0;
    }

    
    .sub-ad-image{
        width: 746px;
        height: 397px;
    }

    .footer {
        height: 120px;
        text-align: center;
    }

    .footer-box {
        gap: 20px;
    }

    .company, .info {
        font-size: 14px;
    }
}

/* 반응형 - Mobile*/
@media screen and (max-width: 767px)  {
    .header {
        padding: 0 16px;
    }

    .main-ad{
        width: 100%;
        height: 528px;
        background-color: #CFE5FF;
        position: relative;
    }

    .main-ad-box{
        display: flex;
        flex-direction: column;
        position: absolute;
        bottom: 0;
        align-items: center;
        justify-content: center;
    }

    .main-ad-head {
        text-align: center;
        font-size: 30px;
        font-weight: 700;
        line-height: 36px;
    }

    .main-ad-image {
        max-width: 100%;
        height: auto;
    }

    .main-ad-content{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .button.main-ad-button{
        text-align: center;
        font-size: 16px;
        height: 56px;
        padding: 16px;
        width: 200px;
        white-space: nowrap;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    .box{
        width: 100%;
        height: auto;   
        display: flex;
        padding: 16px;
    }
    
    .content{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        border-radius: 12px;
        width: 100%;
        background-color: #FCFCFC;
        
    }

    .text{
        background-color: white;
        width: 100%;
        margin: 0;
        padding: 10px 0;
    }

    .box-image{
        width: 100%;
        height: auto;
    }

    .section-head{
        font-size: 14px;
        font-weight: 700;
        line-height: 26px;
        color: #3692FF;
        margin-bottom: 12px;
    }
    
    .bigtext{
        font-size: 30px;
        font-weight: 700;
        line-height: 36px;
        letter-spacing: 2%;
        color: #374151;
        margin-bottom: 12px;
    }
    
    .smalltext{
        font-size: 20px;
        font-weight: 500;
        line-height: 30px;
        color: #374151;
    }

    .sub-ad{
        width: 100%;
        height: 528px;
        background-color: #CFE5FF;
        position: relative
    }
    
    .sub-ad-box{
        display: flex;
        flex-direction: column;
        height: 100%;
        align-items: center;
        justify-content: space-between;
        position: absolute;
        bottom: 0;
    }
    
    .sub-ad-content{
        display: flex;
        flex-direction: column;
        white-space: nowrap;
        margin: 20px 0 0 0;
        padding-bottom: 10px;
    }

    .sub-ad-head {
        text-align: center;
        font-size: 30px;
        font-weight: 700;
        line-height: 36px;
    }

    .sub-ad-image{
        width: 746px;
        height: 397px;
    }

    .footer {
        height: 120px;
        text-align: center;
    }

    .footer-box {
        gap: 20px;
    }

    .company, .info {
        font-size: 14px;
    }
}