@import url(style.css);

body {
    background-color: #fff;
    color: #374151;
    margin: 0;
}

h1 {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 140%;
}

button {
    background-color: var(--blue);
    color: #fff;
    text-align: center;
    font-weight: 600;
    border: 0;
    cursor: pointer;
}

.header__content, .visual__content, .features, .banner__content, .footer__content {
    max-width: 1120px;
    margin: 0 auto;
}


header {
    position: sticky;
    top: 0;
    background-color: #fff;
    border-bottom: 1px solid #dfdfdf;
    z-index: 2;
}

.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4.4rem;
}

header img {
    width: 9.5rem;
    height: 3.2rem;
}

button:hover{
    background-color: #1967D6;
}

header button {
    width: 8rem;
    height: 3rem;
    font-size: 1rem;
    border-radius: 0.5rem;
}

.visual {
    height: 540px;
    background-color: #CFE5FF;
}

.visual__content {
    height: 100%;
    display: flex;
    align-items: flex-end;
}

.visual__information {
    position: relative;
    bottom: 100px;
}

.visual button {
    width: 22.3rem;
    height: 3.5rem;
    font-size: 1.25rem;
    border-radius: 2.5rem;
}

.visual img {
    width: 46.6rem;
    height: 21.25rem;
}

.features {
    display: flex;
    flex-direction: column;
}

.features__content {
    display: flex;
    align-items: center;
    margin: 8.6rem 0;
    gap: 4rem;
}

.features__content:not(:nth-child(odd)) {
    justify-content: flex-end;
}

.features img{
    width: 36.75rem;
    height: 27.75rem;
}

.features__subtitle {
    font-size: 1.12rem;
    font-weight: 700;
    color: var(--blue);
    margin-bottom: 0.75rem;
}

.features__description {
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: 1.5rem;
    line-height: 2rem;
}

.banner {
    background-color: #CFE5FF;
    height: 540px;
    margin-top: 8.6rem;
}

.banner__content {
    height: 100%;
    display: flex;
    align-items: flex-end;
}

.banner h1 {
    position: relative;
    bottom: 180px;
    margin: 0;
}

.banner img {
    width: 46.6rem;
    height: 25rem;
}

footer {
    height: 160px;
    background-color: var(--gray-900);
    font-size: 1rem;
    font-weight: 400;
    padding-top: 2rem;
}

.footer__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__content * {
    margin: 0;
    text-decoration: none;
    color: inherit;
}

.footer__company {
    color: var(--gray-400);
    flex-basis: 300px;
}

.footer__menu {
    display: flex;
    justify-content: center;
    gap: 1.9rem;
    color: var(--gray-200);
}

.footer__sns {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1.3rem;
    flex-basis: 300px;
}

.footer__sns img {
    width: 1.25rem;
    height: 1.25rem;
}


@media (max-width: 1200px) {
    .header__content, .visual__content, .features, .banner__content, .footer__content {
        max-width: 100%;
        margin: 0 24px;
    }

    .visual img, .banner img {
        max-width: 1000px;
        width: 100vw;
        height: auto;
    }

    .visual h1 br, .features h1 br {
        display: none;    
    }

    .visual h1, .features__content *{
        margin: 0;
    }

    .visual {
        height: 770px;
    }

    .visual__content, .banner__content {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .visual__information {
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 1.5rem;
        top: 80px;
        bottom: 0;
    }

    .features {
        margin-top: 1.5rem;
    }

    .features__content {
        flex-direction: column;
        margin: 0 0 3.25rem;
        align-items: flex-start;
        gap: 0;
    }

    .features__content:not(:nth-child(odd)) {
        flex-direction: column-reverse;
        text-align: right;
        align-items: flex-end;
    }    

    .features h1 {
        font-size: 2rem;
        margin: 1rem 0 1.5rem;
    }

    .features__subtitle {
        margin-top: 1.5rem;
    }

    .features__subtitle, .features__description {
        font-size: 1.125rem;
        line-height: 1.625rem;
    }

    .features img {
        width: 100%;
        height: auto;
    }

    .banner {
        height: 920px;
        margin-top: 0;
    }

    .banner h1 {
        top: 200px;
        bottom: 0;
        text-align: center;
    }

    .footer__content {
        margin: 0 100px;
    }
}

@media (max-width: 768px) {
    
    h1 {
        font-size: 2rem;
    }
    
    .header__content, .visual__content, .features, .banner__content, .footer__content {
        margin: 0 16px;
    }

    header img {
        width: 105px;
        object-fit: cover;
        object-position: right;
    }

    .visual img, .banner img {
        max-width: 560px;
    }

    .visual, .banner {
        height: 540px;
    }

    .visual h1 br {
        display: block;    
    }

    .visual button {
        width: 15rem;
        font-size: 1.125rem;
    }

    .features {
        margin-top: 3.25rem;
        margin-bottom: 5.1rem;
    }

    .features__content {
        margin: 0 0 2.5rem;
    }

    .features h1 {
        font-size: 1.5rem;
        margin: 0.5rem 0 1rem;
    }

    .features__subtitle, .features__description {
        font-size: 1rem;
        line-height: 1.5rem;
    }

    .banner h1 {
        top: 120px;
    }

    .footer__content {
        margin: 0 32px;
        display: grid;
        grid-template-areas: 
        "menu sns"
        "company .";
    }

    .footer__company {
        grid-area: company;
        position: relative;
        top: 60px;
    }

    .footer__menu {
        grid-area: menu;
    }

    .footer__sns {
        grid-area: sns;
    }
}