.inner {
  width: 1120px;
  height: 100%;
  margin: 0 auto;
}

header {
  border-bottom: 1px solid #DFDFDF;
  height: 70px;
}

header .inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .logo {
  display: block;
  width: 153px;
  height: 51px;
  background: url(../images/logo.svg) no-repeat;
  background-size: 100%;
}

header .login {
  border: 0;
  border-radius: 8px;
  background: var(--blue);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 128px;
  height: 48px;
  font-weight: 600;
  color: var(--gray100);
}

footer {
  width: 100%;
  height: 160px;
  background: var(--gray900);
}

footer .inner {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 32px 0 0;
}

footer .inner .copyright,
footer .inner .sns {
  flex-basis: 150px;
}

footer .inner .copyright {
  color: var(--gray400);
}

footer .inner .privacy {
  display: flex;
  gap: 30px;
}

footer .inner .privacy a {
  color: var(--gray200);
}

footer .inner .sns {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
}

footer .inner .sns li a {
  display: block;
  width: 20px;
  height: 20px;
}

footer .inner .sns .facebook {
  background: url(../images/facebook_icon.svg) no-repeat center;
  background-size: 100%;
}

footer .inner .sns .twitter {
  background: url(../images/twitter_icon.svg) no-repeat center;
  background-size: 100%;
}

footer .inner .sns .youtube {
  background: url(../images/youtube_icon.svg) no-repeat center;
  background-size: 100%;
}

footer .inner .sns .instagram {
  background: url(../images/instagram_icon.svg) no-repeat center;
  background-size: 100%;
}

input {
  border: 0;
  border-radius: 12px;
  background: var(--gray100);
  height: 56px;
  color: var(--gray800);
  padding: 0 24px;
}

input::placeholder {
  color: var(--gray400);
}

input:focus {
  outline: none;
  border: 1px solid var(--blue);
}

.password {
  position: relative;
}

.password input {
  width: 100%;
  padding-right: 56px;
}

.password .eye {
  background: url(../images/login/eye_icon.svg) no-repeat;
  background-size: 100%;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);
}

.password .eye.show {
  background: url(../images/login/eye_show_icon.svg) no-repeat;
  background-size: 100%;
}

.mobile {
  display: none;
}



/* 1919이하 해상도에서 header의 로고, 로그인 버튼 양옆으로 붙게 */
@media (max-width: 1919px) {
  header .inner {
    width: 100%;
    padding: 0 200px;
  }
}



/* 1120이하 해상도부터 양쪽 여백 추가 */
@media (max-width: 1119px) {
  header,
  section,
  footer {
    min-width: auto;
  }

  header .inner {
    padding: 0 24px;
  }
  
  footer .inner {
    width: 100%;
    padding: 32px 104px 0;
  }
  
  footer .inner .copyright,
  footer .inner .sns {
    flex-basis: 120px;
  }



  .pc {
    display: none;
  }

  .mobile {
    display: block;
  }
}



@media (max-width: 744px) {
  header .logo {
    width: 103px;
    height: 51px;
    background: url(../images/logo-m.svg) no-repeat;
  }

  header .inner {
    padding: 0 16px;
  }

  header .login {
    border-radius: 8px;
    width: 128px;
    height: 48px;
  }

  footer {
    height: 160px;
  }
  
  footer .inner {
    height: 100%;
    align-items: flex-start;
    padding: 32px;
    position: relative;
  }
  
  footer .inner .copyright,
  footer .inner .sns {
    flex-basis: auto;
  }

  footer .inner .copyright {
    position: absolute;
    bottom: 32px;
    left: 32px;
  }

  footer .inner .privacy {
    gap: 30px;
  }

  footer .inner .sns li a {
    width: 20px;
    height: 20px;
  }
}