/* form */
.wrap {
  min-height: 100vh;
}

.label {
  display: block;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  font-size: 1.125rem;
  font-weight: bold;

  &:first-child {
    margin-top: 0;
  }
}
.input {
  display: block;
  padding: 1rem 1.5rem;
  width: 100%;
  color: var(--gray800);
  border: 1px solid var(--gray100);
  border-radius: 0.75rem;
  background-color: var(--gray100);
  line-height: 1.6;
  outline: 0;

  &::placeholder {
    color: var(--gray400);
  }
  &:focus {
    border-width: 1px;
    border-color: var(--blue);
  }
  &.invalid {
    border-width: 1px;
    border-color: #F74747;
    + .err-msg {
      display: block;
    }
  }
}
.err-msg {
  display: none;
  margin: .5rem 1rem;
  color: #F74747;
  font-size: 0.875rem;
  font-weight: 600;
}

.container {
  width: 640px;

  .logo {
    display: block;
    margin: 0 auto 40px;
    width: 396px;
  }
  .btn {
    display: block;
    width: 100%;
    margin: 1.5em 0;
  }
}
.input-wrap {
  position: relative;

  .btn-eye {
    position: absolute;
    top: 16px;
    right: 24px;
    line-height: 1;
  }
}

.simple-login {
  display: flex;
  align-items: center;
  margin: 24px 0;
  padding: 16px 24px;
  border-radius: 8px;
  background-color: #E6F2FF;

  .links {
    display: flex;
    gap: 16px;
    margin: 0;
    padding: 0;
    list-style: none;

    img {
      display: block;
    }
  }
}

.guide {
  font-size: 0.875rem;
  font-weight: 500;
  text-align: center;
}

/* responsive */
/* ~ tablet */
@media (max-width: 1199px) {
}
/* ~ mobile */
@media (max-width: 767px) {
  .wrap {
    padding-left: 16px;
    padding-right: 16px;
  }

  .container {
    width: 100%;
    max-width: 400px;

    .logo {
      width: 198px;
    }
  }
  .label {
    font-size: 0.875rem;
  }
}