@import "global.css";

:root {
  --gray900: #111827;
  --gray800: #1f2937;
  --gray700: #374151;
  --gray600: #4b5563;
  --gray500: #6b7280;
  --gray400: #9ca3af;
  --gray200: #e5e7eb;
  --gray100: #f3f4f6;
  --gray50: #f9fafb;
  --blue: #3692ff;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 160px;
  gap: 10px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: left;
  gap: 18px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

input:focus {
  outline-color: var(--blue);
}

input::placeholder {
  opacity: 0.7;
}

.thickText {
  font-weight: 600;
}

.myEmail,
.myPw {
  width: 530px;
  height: 45px;
  background-color: var(--gray100);
  border: 0 solid black;
  border-radius: 8px;
  padding-left: 20px;
  padding-right: 40px;
}

.emailError,
.pwError {
  color: red;
  font-size: 0.75rem;
}

.inputPW {
  position: relative;
  display: flex;
  align-items: center;
}

.visiblePW {
  position: absolute;
  right: 20px;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 530px;
  height: 50px;
  background: var(--blue);
  font-size: 1rem;
  color: #ffffff;
  border: 0 solid;
  border-radius: 9999px;
  cursor: pointer;
}

.login:disabled {
  background: var(--gray400);
  cursor: default;
}

.easyLogin {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 530px;
  height: 60px;
  background: #e6f2ff;
  padding: 0 20px;
  border-radius: 8px;
}

.loginIcon {
  height: 36px;
}

.signup {
  text-align: center;
  font-size: 14px;
}

@media (max-width: 767px) and (min-width: 375px) {
  body {
    margin: 60px 16px;
  }

  main {
    width: 100%;
    align-items: center;
  }

  .logo {
    height: 100px;
  }

  form {
    width: 100%;
    max-width: 400px;
    margin: 0 16px;
  }

  .myEmail,
  .myPw {
    width: 100%;
    max-width: 400px;
  }

  .inputPW {
    width: 100%;
    max-width: 440px;
  }

  .login {
    width: 100%;
    max-width: 400px;
  }

  .easyLogin {
    width: 100%;
    max-width: 400px;
  }
}
