@import url(style.css);

body {
    background-color: #fff;
    max-width: 640px;
    margin: 3.75rem auto;
}

.logo {
    display: flex;
    justify-content: center;
    margin-bottom: 2.5rem;
}

.logo img {
    width: 24.75rem;
    height: 8.25rem;
}

label {
    font-size: 1.125rem;
    font-weight: 700;
    color: var(--gray-800);
}

input, input::placeholder {
    font-size: 1rem;
    font-weight: 400;
}

input {
    display: block;
    width: 100%;
    height: 3.5rem;
    background-color: var(--gray-100);
    border: 0;
    border-radius: 0.75rem;
    margin: 1rem 0 1.5rem;
    font-size: 1rem;
    font-weight: 400;
    color: var(--gray-800);
    padding: 1.5rem;
}

input::placeholder {
    color: var(--gray-400);
}

input:focus {
    outline-color: var(--blue);
}

input::-ms-reveal, input::-ms-clear {
    display: none;
}

.password {
    position: relative;
}

.password__visibility {
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    right: 1.5rem;
    bottom: 0.95rem;
    cursor: pointer;
}

.password__visibility--off {
    display: none;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 3.5rem;
    border: 0;
    border-radius: 2.5rem;
    padding: 1rem 7.75rem;
    margin: 1.5rem 0;
    font-size: 1.25rem;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}

.button--disabled {
    display: none;
    background-color: var(--gray-400);
}

.button--enabled {
    background-color: var(--blue);
}

.snslogin {
    display: flex;
    width: 100%;
    height: 4.6rem;
    background-color: #e6f2ff;
    justify-content: space-between;
    align-items: center;
    border-radius: 0.5rem;
    padding: 0 1.5rem;
    margin-bottom: 1.5rem;
    font-size: 1rem;
    font-weight: 500;
    color: var(--gray-800)
}

.snslogin a {
    margin-left: 1rem;
}

.snslogin__logo img {
    width: 2.6rem;
    height: 2.6rem;
}

.member {
    display: flex;
    justify-content: center;
    gap: 0.25rem;
    font-size: 0.875rem;
    font-weight: 500;
    color: var(--gray-800);
}

.member a {
    font-size: 0.938rem;
    color: var(--blue);
}

@media all and (max-width: 767px) {
    html{
        min-width: 400px;
        font-size: 14px;
        margin: 0 16px;
    }
  }