/* PC */
/* logo */
.sign-container {
	max-width: 640px;
	margin: 0 auto;
	width: 42;
}

.gohome-logo {
	display: block;
  	margin-bottom: 24px;
  	text-align: center;
}

.gohome-logo img{
	width: 500px;
}

/* input */
.input-val {
	margin-bottom: 24px;
	display: flex;
	flex-direction: column;
}

.input-val label {
	display: block;
	font-weight: 700;
  	font-size: 14px;
	margin-bottom: 8px;
}

.input-val input {
	padding: 16px 24px;
	background-color: #f3f4f6;
	border: none;
	border-radius: 12px;
	font-size: 16px;
	line-height: 24px;
	width: 100%;
}

.err-msg {
	color: red;
	font-weight: 600;
  	font-size: 15px;
  	line-height: 18px;
  	margin-top: 8px;
	padding-left: 16px;
	display: none;
}

.input-wrapper {
	position: relative;
	display: flex;
	align-items: center;
}


.pwd-toggle-btn {
	position: absolute;
	right: 24px;
	cursor: pointer;
}

/* social */
.social-container {
	background-color: #e6f2ff;
	border-radius: 8px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 16px 23px;
	margin: 24px 0;
}

.social-container h1 {
	font-weight: 200;
	font-size: 16px;
	line-height: 24px;
}

.social-btn-container {
	display: flex;
	gap: 16px;
}

.social-btn-container img {
	width: 42px;
}

/* page switch */
.switch-page {
	font-weight: 500;
	font-size: 15px;
	text-align: center;
}

.switch-page a {
	color: #3182f6;
	text-decoration: underline;
	text-underline-offset: 2px;
}

/* btn */
.watch-btn.full-width-btn {
    display: block;
    width: 100%;
    margin: 24px auto; 
}

@media (max-width: 1279px) and (min-width: 768px) {
	.sign-container {
		max-width: 640px;
		padding: 48px 0;
	}

	.gohome-logo {
		margin-bottom: 40px;
	}

	.gohome-logo img {
		width: 396px;
	}

	.input-val label {
		font-size: 18px;
		margin-bottom: 16px;
	}
}

@media (max-width: 767px) {
	.gohome-logo img {
		width: 198px;
	}
}