body {
  display: flex;

  justify-content: center;
  align-items: center;
}

.container {
  width: 640px;

  gap: 40px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 132px;
  width: 396px;
}
.main-container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 24px;
}

.email-signup-section {
  height: 524px;
  width: 640px;
}
.email-signup-section-form {
  display: flex;
  height: 524px;
  flex-direction: column;
  gap: 24px;
}
.form-group {
  display: flex;
  flex-direction: column;
  height: 98px;
  gap: 16px;
}
.form-group-input {
  height: 56px;
  padding: 16px 24px 16px 24px;
  border: none;
  background: #f3f4f6;
  border-radius: 12px;
}
.font-label {
  font-size: 18px;
  font-weight: bold;
}
.form-group-input:focus {
  border: 1px solid var(--blue-primary);
  outline: none; /* 기본 포커스 outline 제거 */
}
.button-login {
  width: 640px;
  height: 56px;
  padding: 16px 124px 16px 124px;
  background-color: var(--gray-400);
  border-radius: 40px;
  border: none;
  cursor: pointer;
}

.social-login-section {
  height: 56px;
  width: 640px;
  padding: 16px 23px 16px 23px;
  background-color: #e6f2ff;
  display: flex;
  align-items: center;
}
.social-login-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 56px;
  align-items: center;
}

.social-login-options {
  width: 100px;
  height: 42px;
  display: flex;
  gap: 16px;
}
.footer-login-link {
  color: var(--blue-primary);
}

/*  ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ mobile ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ  375px~767px */
@media (max-width: 767px) {
  body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
  }

  .container {
    width: 100%;
    min-width: 400px;

    margin: auto;
    padding: 16px;
    gap: 2.7px;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 66px;
    width: 198px;
  }
  .auth-hedaer {
    width: 100%;
    a {
      width: 100%;
    }
    img {
      width: 100%;
    }
  }
  .market-logo {
    width: 52px;
    height: 52px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .market-font {
    width: 133px;
    height: 45px;
    img {
      width: 133px;
      height: 45px;
    }
  }
  .main-container {
    width: 100%;
    display: flex;

    justify-content: flex-start;
    flex-direction: column;
    gap: 24px;
  }

  .email-signup-section {
    width: 100%;
  }
  .email-signup-section-form {
    display: flex;
    height: 524px;
    flex-direction: column;
    gap: 24px;
  }
  .form-group {
    display: flex;
    flex-direction: column;
    height: 98px;
    gap: 16px;
  }
  .form-group-input {
    height: 56px;
    padding: 16px 24px 16px 24px;
    border: none;
    background: #f3f4f6;
    border-radius: 12px;
  }
  .font-label {
    font-size: 17px;
    font-weight: bold;
  }
  .form-group-input:focus {
    border: 1px solid var(--blue-primary);
    outline: none; /* 기본 포커스 outline 제거 */
  }
  .button-login {
    width: 100%;
    height: 56px;
    padding: 16px 124px 16px 124px;
    background-color: var(--gray-400);
    border-radius: 40px;
    border: none;
    cursor: pointer;
  }

  .social-login-section {
    height: 74px;
    width: 100%;
    padding: 16px 23px 16px 23px;
    background-color: #e6f2ff;
  }
  .social-login-container {
    display: flex;
    justify-content: space-between;
    height: 42px;
    align-items: center;
  }

  .social-login-options {
    width: 100px;
    height: 42px;
    display: flex;
    gap: 16px;
  }
  .footer-login-link {
    color: var(--blue-primary);
  }
}
