label {
	display: block;
	margin-bottom: 16px;
	font-size: 18px;
	font-weight: 700;
}

input {
	padding: 16px 24px;
	background-color: #f3f4f6;
	border: none;
	border-radius: 12px;
	font-size: 16px;
	line-height: 24px;
	width: 100%;
}

.sign-container {
	max-width: 640px;
	margin: 0 auto;
	width: 42;
}

.logo {
	margin: 0 auto;
	display: block;
	text-align: center;
	margin-top: 60px;
	margin-bottom: 40px;
}

.input-val {
	margin-bottom: 24px;
	display: flex;
	flex-direction: column;
}

.input-wrapper {
	position: relative;
	display: flex;
	align-items: center;
}

.toggle-pwd {
	position: absolute;
	right: 24px;
	cursor: pointer;
}

.full-btn-width {
	width: 100%
}

.social-container {
	background-color: #e6f2ff;
	border-radius: 8px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 16px 23px;
	margin: 24px 0;
}

.social-container h3 {
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
}

.social-btn-container {
	display: flex;
	gap: 16px;
}

.switch-page {
	font-weight: 500;
	font-size: 15px;
	text-align: center;
}

.switch-page a {
	color: #3182f6;
	text-decoration: underline;
	text-underline-offset: 2px;
}

@media (min-width: 768px) {
	.sign-container {
		max-width: 640px;
	}

	.logo {
		width: 396px;
		margin-top: 60px;
		margin-bottom: 40px;
	}
}

@media (min-width: 1280px) {
	.logo {
		margin-top: 60px;
		margin-bottom: 40px;
	}
}