
html {
  font-family: Pretendard,'Noto Sans KR', sans-serif;
}

.headers {
  max-width: 1920px;
  width: 100%;
  height: 70px;
  border-bottom: 1px solid #dfdfdf;
  padding: 9px 400px;
  gap:10px;
  background-color: var(--white);
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;

  position: sticky;
}

.logos {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 153px;
  height: 51px;

  position: relative;
}

.logo {
  width: 40px;
  height: 40.14px;
  top:5.02px;
  border-radius: 11.18px;

}

#title {
  /* width height top left */
  font-size: 25.63px;
  font-weight: 700;
  line-height: 34.6px;
  color: # var(--blue);

}
#login {
  width: 128px;
  height: 48px;
  border-radius: 8px;
  padding: 12px 23px;
  gap: 10px;
  background-color: var(--blue);
  
  text-align: center;
  color: var(--white-2);
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;

}

main {
  margin: 0 auto;
  background-color: var(--white-3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sectionAll {
  width: 100%;
  height: 540px;
  background-color: var(--white-4);

  display: flex;
  align-items: end;
  justify-content: center;
  position: relative;
}

.mainBox {
  display: flex;
  /* width height top left */
  gap: 7px;
  width: 1110px;
  height: 340px;
}

.wordBox {
  padding: 0 0 60px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.mainWord {
  font-size: 40px;
  font-weight: 700;
  line-height: 56px;
  color: var(--gray-700);
}
#see {
  border-radius: 40px;
  padding: 16px 124px;
  gap: 10px;
  background-color: var(--blue);

  color: var(--gray-50);
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
  text-align: center;

}

.articles {
  background-color: var(--white);
  width: 1920px;
  padding: 138px 466px;
  gap: 10px;

  display: flex;
  flex-direction: column;

}
.article {
  width: 988px;
  border-radius: 12px;
  gap: 64px;
  background-color: var(--white-3);
  display: flex;
  justify-content:center;
  align-items: center;

  margin: 100px 0; /* reset css라는 것을 실행후 figma에서 보여지는 것과 다르게 article이 붙어 있어 수정하였습니다. */
}

.wordBox2 { /*reset css라는 것을 실행후 figma에서 보여지는 것보다 문단 간격이 좁아보여요*/
  display: flex;
  flex-direction: column;
  padding-bottom: 24px;
  gap:12px;
}

.point {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  color: var(--blue);
}

.articleContent {
  font-size: 40px;
  font-weight: 700;
  line-height: 56px;
  color: var(--gray-700);
  /*letter2%를 letter가 뭔지 잘모르겠습니다.*/
}

.detail {
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  color: var(--gray-700);
}

#word2 {
  text-align: right;
}

#bottom {
  margin-top: 150px;
}

footer {
  margin: 0 auto;
  background-color:var(--gray-900);
  width: 1920px;
  height: 160px;
  padding: 32px 400px;
  gap: 10px;

  display: flex;
  justify-content: space-between;
  align-items:start;
}

.codeit {
  color: var(--gray-400);
  font-size: 16px;
  font-weight: 400;
  line-height: 19.09px;
  text-align: center;
}

#center {
  display: flex;
  gap:30px;
  
  color: var(--gray-200);; /*색 적용이안되는 이유 color: inherit 추가함.*/
  font-size: 16px;
  font-weight: 400;
  line-height: 19.09px;
  text-align: center;
}

.socialLink {
  width: 116px;
  gap: 12px;

  display: flex;
}

.button {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}