html {
  font-family: "Pretendard", "Noto Sans KR", sans-serif;
  word-break: keep-all;
}

header {
  position: fixed;
  top: 0;
  z-index: 99; /* 가려지는 상황이 있어 임의로 추가함.*/
  width: 100%;
  height: 70px;
  border-bottom: 1px solid var(--white-5);
  padding: 0 200px; /*figma에는 9 400 주라고 되어있는데, 답지(?)에는 이렇게 있어요.*/
  gap: 10px; 
  background-color: var(--white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.logos {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 153px;
  height: 51px;
  position: relative;
}

.logo {
  width: 40px;
  height: 40.14px;
  top: 5.02px;
  border-radius: 11.18px;
}

#title {
  font-size: 25.63px;
  font-weight: 700;
  line-height: 34.6px;
  color: var(--blue-100);
}
#login {
  width: 128px;
  height: 48px;
  border-radius: 8px;
  padding: 12px 23px;
  gap: 10px;
  background-color: var(--blue-100);
  text-align: center;
  color: var(--white-2);
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
}

main {
  margin: 0 auto;
  background-color: var(--white-3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sectionAll {
  margin: 70px auto;
  width: 100%;
  height: 540px;
  background-color: var(--white-4);
  display: flex;
  align-items: end;
  justify-content: center;
  position: relative;
}

.mainBox {
  display: flex;
  /* width height top left */
  gap: 7px;
  width: 1110px;
  height: 340px;
}

.wordBox {
  padding: 0 0 60px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.mainWord {
  font-size: 40px;
  font-weight: 700;
  line-height: 56px;
  color: var(--gray-700);
}
#see {
  border-radius: 40px;
  padding: 16px 124px;
  gap: 10px;
  background-color: var(--blue-100);
  color: var(--gray-50);
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
  text-align: center;
}

.articles {
  background-color: var(--white);
  width: 1920px;
  padding: 138px 466px;
  gap: 10px;
  display: flex;
  flex-direction: column;
}
.article {
  width: 988px;
  border-radius: 12px;
  gap: 64px;
  background-color: var(--white-3);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px 0; 
  /* reset css라는 것을 실행후 figma에서 보여지는 것과 다르게 article이 붙어 있어 임의로 수정하였습니다. */
}

.wordBox2 {
  /*reset css라는 것을 실행후 figma에서 보여지는 것보다 문단 간격이 좁아보여요*/
  display: flex;
  flex-direction: column;
  padding-bottom: 24px;
  gap: 12px;
}

.point {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  color: var(--blue-100);
}

.articleContent {
  font-size: 40px;
  font-weight: 700;
  line-height: 56px;
  color: var(--gray-700);
  /*letter2%를 letter가 뭔지 잘모르겠습니다.*/
}

.detail {
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  color: var(--gray-700);
}

#word2 {
  text-align: right;
}

#bottom {
  margin-top: 150px;
}

footer {
  margin: 0 auto;
  background-color: var(--gray-900);
  height: 160px;
  padding: 32px 400px;
  gap: 10px;
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.codeit {
  color: var(--gray-400);
  font-size: 16px;
  font-weight: 400;
  line-height: 19.09px;
  text-align: center;
}

#center {
  display: flex;
  gap: 30px;
  color: var(--gray-200); /*색 적용이안되는 이유 color: inherit 추가함.*/
  font-size: 16px;
  font-weight: 400;
  line-height: 19.09px;
  text-align: center;
}

.socialLink {
  width: 116px;
  gap: 12px;
  display: flex;
}

.button {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}
/* Tablet 스타일 (768px ~ 1199px) */
@media (max-width:1199px){
header {
  padding: 0 24px
}

.sectionAll {
  height: 100%;
}

.mainBox {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wordBox {
  height: 100%;
  width: 512px;
  margin: 84px 116px;
  gap:24px;
  display: flex;
  justify-content: center;
  align-items: center;
}
}

.mainWord {
  text-align: center;
  gap:24px;
  font-size: 40px;
  font-weight: 700;
  line-height: 56px;
}

.break {
  display: inline-block;
  content: " ";
  padding: 0 2px;
}

.mainImage {
  height: 100%;
  width: 100%;
  margin-top: 431px;
}

#see {
  height: 56px;
  width:fit-content;
}

.articleImage {
  width: 100%;
}
.articles {
  width: 696px;
  gap: 52px;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.article {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.reverseArticle {
  flex-direction: column-reverse;
  justify-content: center;
  align-items: end;
}

.wordBox2 {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding-bottom: 24px;
  gap: 12px;
}

.point {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  color: var(--blue-100);
}

.articleContent {
  font-size: 40px;
  font-weight: 700;
  line-height: 56px;
  color: var(--gray-700);
  /*letter2%를 letter가 뭔지 잘모르겠습니다.*/
}

.detail {
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  color: var(--gray-700);
}

#word2 {
  text-align: right;
}

#bottom {
  margin-top: 150px;
}

#bottomBox {
  display: flex;
  justify-content:center;
  align-items: center;
  margin: 201px 224px 0;
}
footer {
  height: 160px;
  padding: 32px 104px 64px;
}

}

/* Mobile 스타일 (375px ~ 767px) */
@media (max-width: 767px){
header {
  padding: 0 24px;
}
}