.product {
  &-area {
    margin: 2.4rem 0 4rem;
  }
  &-category {
    display: flex;
    margin-bottom: 2.4rem;
    gap: 1.2rem;
    &-name {
      flex: 1;
      font-size: 2rem;
      font-weight: 700;
      line-height: 3.2rem;
      color: var(--gray-800);
    }
  }
  &-list {
    display: flex;
    flex-wrap: wrap;
    gap: 2.4rem;
  }
  &-item {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
  }
  &-content {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
  }
  &-name {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 2.4rem;
    color: var(--gray-800);
  }
  &-price {
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 2.6rem;
    color: var(--gray-800);
  }
  &-images {
    border-radius: 1.6rem;
    overflow: hidden;
    &.big {
      width: 48.6rem;
      height: 48.6rem;
    }
    &.large {
      width: 28.2rem;
      height: 28.2rem;
    }
    &.middle {
      width: 22.1rem;
      height: 22.1rem;
    }
    &.small {
      width: 7.2rem;
      height: 7.2rem;
    }
  }
}

.select {
  position: relative;
  button {
    cursor: pointer;
  }
  &-title {
    width: 13rem;
    height: 4.2rem;
    padding: 1.2rem 2rem;
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--gray-800);
    text-align: left;
    border: 1px solid var(--gray-200);
    border-radius: 1.2rem;
    background-color: #fff;
    background-image: url(../../assets/ic_arrow_down.svg);
    background-size: 2.4rem;
    background-repeat: no-repeat;
    background-position: 8.6rem center;
  }
  &-option {
    position: absolute;
    left: 0;
    bottom: -10rem;
    display: flex;
    flex-direction: column;
    width: 13rem;
    text-align: center;
    border: 1px solid var(--gray-200);
    border-radius: 1.2rem;
    overflow: hidden;

    &-list {
      height: 4.2rem;
      padding: 0.9rem 0;
      background-color: #fff;
      font-size: 1.6rem;
      font-weight: 400;
      color: var(--gray-800);
      &:not(:last-child) {
        border-bottom: 1px solid var(--gray-200);
      }
    }
  }
}
