.product {
  &-area {
    margin: 2.4rem 0 4rem;
  }
  &-category {
    margin-bottom: 2.4rem;
    &-name {
      font-size: 2rem;
      font-weight: 700;
      line-height: 3.2rem;
      color: var(--gray-800);
    }
  }
  &-list {
    display: flex;
    flex-wrap: wrap;
    gap: 2.4rem;
  }
  &-item {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
  }
  &-content {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
  }
  &-name {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 2.4rem;
    color: var(--gray-800);
  }
  &-price {
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 2.6rem;
    color: var(--gray-800);
  }
  &-images {
    border-radius: 1.6rem;
    overflow: hidden;
    &.big {
      width: 48.6rem;
      height: 48.6rem;
    }
    &.large {
      width: 28.2rem;
      height: 28.2rem;
    }
    &.middle {
      width: 22.1rem;
      height: 22.1rem;
    }
    &.small {
      width: 7.2rem;
      height: 7.2rem;
    }
  }
}
