.moreDropDown {
  position: absolute;
  top: 30px;
  right: 10px;
  background-color: #ffffff;
  border-radius: 10px;
  border: 1px solid #e5e7eb;
  z-index: 999;
}

.moreDropDownMenu {
  padding: 10px 20px;
  font-size: 16px;
  color: #1f2937;
  cursor: pointer;
  width: 130px;
  text-align: center;
  border-bottom: 1px solid #e5e7eb;
}
