.container {
  width: 1200px;
  margin: 0 auto;
}

.ItemDetail {
  margin-bottom: 40px;
}

.CommentForm {
  margin-bottom: 64px;
}

@media screen and (max-width: 1199px) {
  .container {
    width: 696px;
  }
}

@media screen and (max-width: 767px) {
  .container {
    width: 344px;
  }
}
