* {
  box-sizing: border-box;
  margin: 0;
}
a {
  text-decoration: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
}

.homehead {
  max-width: 1, 920px;
  height: 70px;
  padding: 9px 200px;
  border-bottom: 1px;
  opacity: 0px;
  background: #ffffff;
  border-bottom: 1px solid #dfdfdf;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}
.To_loginPage {
  width: 88px;
  height: 42px;
  top: 20px;
  left: 20px;
  padding: 12px 23px;
  gap: 10px;
  border: #3692ff;
  border-radius: 8px;
  opacity: 0px;
  background: #3692ff;
  color: #ffffff;
}
.canClick:hover {
  cursor: pointer;
}
.loginBtn:hover {
  background: #1967d6;
}
.main_section {
  background: #cfe5ff;
  max-width: 1920px;
  height: 540px;
  position: relative;
}
.homeTop {
  position: absolute;
  width: 1, 110px;
  height: 340px;
  top: 200px;
  left: 405px;
  right: 405px;
  gap: 20px;
  display: flex;
}
.innerHomeTop {
  font-family: Pretendard;
  font-size: 25px;
  font-weight: 700;
  line-height: 56px;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.innerHomeTop > a {
  width: 357px;
  height: 56px;
  padding: 16px 110px;
  border: #3692ff;
  gap: 10px;
  border-radius: 40px;
  background: #3692ff;
  color: #ffffff;
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
  align-content: center;
}
.homeBottom {
  width: 1, 110px;
  height: 397px;
  position: absolute;
  top: 143px;
  left: 405px;
  gap: 69px;
  opacity: 0px;
  align-items: center;
  display: flex;
}
.homeBottom > div {
  width: 295px;
  height: 172px;
  padding: 0px 0px 60px 0px;
  gap: 5px;
  opacity: 0px;
}
.homeBottom > div > h1 {
  font-family: Pretendard;
  font-size: 32px;
  font-weight: 900;
  line-height: 56px;
  text-align: left;
  color: #374151;
}

.centerContent {
  display: flex;
  flex-direction: column;
}
.centerSect {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 138px 466px;
  gap: 10px;
  width: 1920px;
  height: 720px;
  background: #ffffff;
  flex: none;
  order: 1;
  flex-grow: 0;
}
.descriptFrame {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 64px;
  width: 988px;
  height: 444px;
  background: #fcfcfc;
  border-radius: 12px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

footer {
  background-color: #111827;
  color: #9ca3af;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 200px 108px 200px;
  font-size: 16px;
}
.description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;
  width: 274px;
  height: 200px;
  flex: none;
  order: 1;
  flex-grow: 0;
}
.descript_title {
  width: 80px;
  height: 26px;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  display: flex;
  align-items: center;
  color: #3692ff;
}
.center_descript {
  width: 300px;
  height: 112px;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 140%;
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
  color: #374151;
}
.sub_descript {
  width: 300px;
  height: 64px;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  display: flex;
  align-items: center;
  color: #374151;
}
.left_text {
  text-align: right;
  margin-left: auto;
}
