* {
  box-sizing: border-box;
}

html {
  word-break: keep-all;
  font-family: 'Pretendard', sans-serif;
}

h1 {
  color: #374151;
  font-weight: 700;
  font-size: 40px;
  line-height: 140%;
  margin: 0;
}

p {
  color: #374151;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
}

.point-font {
  color: #3692FF;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  margin: 12px 0;
}

body {
  margin: 0;
  background-color: #fff;
  color: #000;
}

header {
  width: 100%;
  padding: 9.5px 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #DFDFDF;
  position: sticky;
  background-color: #fff;
  top: 0;
  z-index: 1;

}

.logo img {
  width: 153px;
  height: 51px;
}

.login-button {
  width: 128px;
  height: 48px;
  background-color: #3692FF;
  border-radius: 8px;
  border: none;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-button:hover {
  background-color: #1967D6;
}
a {
  text-decoration: none;
}

.trade-link-button {
  padding: 12px 124px;
  background-color: #3692FF;
  border-radius: 40px;
  border: none;
  color: #fff;
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
}
.trade-link-button:hover {
  background-color: #1967D6;
}
.hero-section {
width: 100%;
background-color: #CFE5FF;
padding-top: 200px;
}

.hero-contents {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.img-home-top img {
  width: 746px;
  height: 340px;
}
.img-home-bottom img {
  width: 746px;
  height: 340px;
}

.product-section {
  width: 988px;
  display: flex;
  align-items: center;
  margin: 138px auto;
  gap: 64px;
  background-color: #FCFCFC ;
  border-radius: 8px;
}

.section-img img {
  width: 579px;
  height: 444px;
  border-radius: 8px;
}

.hot-item-section-contents {
  display: flex;
  flex-direction: column;
}
.search-section-contents  {
  display: flex;
  flex-direction: column;
  text-align: right;
  width: 345px;
}

footer {
  background-color: #111827;
  color: #9ca3af;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 200px 108px 200px;
  font-size: 16px;
}

.year {
  color: #9CA3AF;
  font-weight: 400;
  line-height: 19.09px;
  text-align: center;
}

.info-group {

  color: #E5E7EB;
  gap: 30px;
  font-weight: 400;
  line-height: 19.09px;
  text-align: center;
}
.info-group a {
  color: inherit; 
}

.sns-icon {
  display: flex;
  gap: 12px;
}
.sns-icon img {
  width: 20px;
  height: 20px;
}