
.title,.bottom-title,.top-title {
  color: #374151;
  font-weight: 700;
  font-size: 40px;
  line-height: 140%;
  margin: 0;
}

.description {
  color: #374151;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
}

.point-font {
  color: #3692FF;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  margin: 12px 0;
}

body {
  margin: 0;
  background-color: #fff;
  color: #000;
}

header {
  width: 100%;
  height: 70px;
  padding: 0px 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #DFDFDF;
  position: sticky;
  background-color: #fff;
  top: 0;
  z-index: 1;

}

.logo img {
  width: 153px;
  height: 51px;
}

.login-button {
  width: 128px;
  height: 48px;
  background-color: #3692FF;
  border-radius: 8px;
  border: none;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-button:hover {
  background-color: #1967D6;
}

.trade-link-button {
  padding: 12px 124px;
  background-color: #3692FF;
  border-radius: 40px;
  border: none;
  color: #fff;
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
}

.trade-link-button:hover {
  background-color: #1967D6;
}

.hero-section,.bottom-section {
width: 100%;
background-color: #CFE5FF;
padding-top: 200px;
}

.hero-contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.img-home img {
  width: 746px;
  height: 340px;
}

.product-section,.product-section-middle {
  width: 988px;
  display: flex;
  align-items: center;
  margin: 138px auto;
  gap: 64px;
  background-color: #FCFCFC ;
  border-radius: 8px;
}

.section-img img {
  width: 579px;
  height: 444px;
  border-radius: 8px;
}

.hot-item-section-contents {
  display: flex;
  flex-direction: column;
}

.search-section-contents  {
  display: flex;
  flex-direction: column;
  text-align: right;
  width: 345px;
}

footer {
  background-color: #111827;
  color: #9ca3af;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 200px 108px 200px;
  font-size: 16px;
  gap: 30px;
}

.year {
  color: #9CA3AF;
  font-weight: 400;
  line-height: 19.09px;
  text-align: center;
}

.info-group {
  display: flex;
  color: #E5E7EB;
  gap: 30px;
  font-weight: 400;
  line-height: 19.09px;
  text-align: center;
}

.info-group a {
  color: inherit; 
}

.sns-icon {
  display: flex;
  gap: 12px;
}

.sns-icon img {
  width: 20px;
  height: 20px;
}
/* Tablet: 768px 이상 ~ 1199px 이하 */
@media (max-width: 1199px) and (min-width: 768px) {
  header {
    padding: 0px 24px;
  }
  .hero {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-top: 84px;
    width: 744px;
    height: 771px;
    gap: 211px;
    }
  .hero-section {
    display: flex;
    justify-content: center;
    padding-top: 84px;
    margin: 0px;
    padding: 0px;
    }  
  .bottom-section {
    display: flex;
    justify-content: center;
    padding-top: 84px;
    margin: 0px;
    padding: 0px;
  }
  h1 br {
    display: none; /* 태블릿 크기에서는 br 태그를 숨김 */
  }
  .product-section {
    width: auto;
    display: flex;
    flex-direction: column;
    margin: 24px 24px;
    gap: 24px;
    background-color: #ffffff ;
  }   
  .hot-item-section-contents,.register-section-contents {
    width: 578px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .title {
    font-size: 32px;
    line-height: 42px;
  }
  .description {
    font-size: 18px;
    line-height: 26px;
  }
  .product-section-middle {
    width: auto;
    display: flex;
    flex-direction: column-reverse;
    margin: 24px 24px;
    gap: 24px;
    background-color: #ffffff ;
  }
  .search-section-contents {
    width: 578px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .bottom-title br {
    display: block;
  }
  .bottom-title,.top-title {
    font-size: 40px;
    font-weight: 700;
    line-height: 56px;
    text-align: center;
  }
  footer {
    padding: 32px 100px 108px 100px;
    font-size: 16px;
    gap: 30px;
  }
  }

/* Mobile: 375px 이상 ~ 767px 이하 */
@media (max-width: 767px) and (min-width: 375px) {
  header {
    padding: 0px 16px;
  }
  .hero {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-top: 48px;
    width: 744px;
    height: auto;
    gap: 132px;
    }
  .hero-section {
    display: flex;
    justify-content: center;
    padding-top: 84px;
    margin: 0px;
    padding: 0px;
    }  
    .trade-link-button {
      width: 240px;
      height: 48px;
      padding: 12px 71px; 
      font-weight: 600;
      font-size: 18px;
      line-height: 26px;
    }  
    .img-home img {
      width: 100%;
      height: auto;
    }
  .bottom-section {
    display: flex;
    justify-content: center;
    padding-top: 84px;
    margin: 0px;
    padding: 0px;
  }
  .section-img img {
    width: 100%;
    height: auto;
  }
  .product-section {
    width: auto;
    display: flex;
    flex-direction: column;
    margin: 16px 16px;
    gap: 24px;
    background-color: #ffffff ;
  }   
  .point-font {
    color: #3692FF;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    margin: 12px 0;
  }
  .hot-item-section-contents,.register-section-contents {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .title {
    font-size: 24px;
    line-height: 33.6px;
  }
  .description {
    font-size: 18px;
    line-height: 25.2px;
  }
  .product-section-middle {
    width: auto;
    display: flex;
    flex-direction: column-reverse;
    margin: 24px 24px;
    gap: 24px;
    background-color: #ffffff ;
  }
  .search-section-contents {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .bottom-title br {
    display: block;
  }
  .bottom-title,.top-title {
    font-size: 32px;
    font-weight: 700;
    line-height: 44.8px;
    text-align: center;
  }
  footer {
    padding: 32px 100px 108px 100px;
    font-size: 16px;
    gap: 30px;
    display: flex;
    flex-direction: column;
  }
  .year {
    order: 2;  
  }
}
