body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background: #FCFCFC;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
}

.logoname {
    font-family: ROKAF Sans;
    font-size: 66.34px;
    font-weight: 700;
    line-height: 89.56px;
    color: #3692FF;
    text-align: center;
    margin-left: 10px;
}

.logo {
    height: auto;
    width: 103.53px;
}

.input-error {
    border: 1px solid red;
}

.password-input-error {
    border: 1px solid red;
}

.error-message {
    display: none;
    color: red;
    font-size: 12px;
    margin-top: 5px;
}

.show-error {
    display: block;
}

.big-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 640px;
    background: white;
    border-radius: 8px;
    padding: 40px;
    gap: 24px;
}

.email-label, .password-label {
    color: #1f2937;
    font-size: 18px;
    font-weight: 800;
    line-height: 26px;
    text-align: left;
    width: 100%;
    padding-bottom: 8px;
    display: block;
    margin: 0;
}

.email-input, .password-input {
    width: 640px;
    height: 26px;
    padding: 16px 24px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 12px;
    gap: 10px;
    display: block;
    background: #F3F4F6;
}

.login-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 16px 124px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
    margin-top: 20px;
    border-radius: 20px;
    gap: 10px;
}

.login-button:disabled {
    background-color: #9CA3AF;
    color: #ffffff;
    cursor: not-allowed;
}

.simple-login {
    display: flex;
    justify-content: space-between;
    width: 640px;
    height: 42px;
    margin-top: 20px;
    background-color: #E6F2FF;
    border-radius: 12px;
    padding: 10px 20px;
    opacity: 1;
}

.simple-login-text {
    color: #333;
    font-size: 16px;
    line-height: 42px;
}

.simple-login-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.simple-login-buttons {
    display: flex;
    gap: 10px;
}

.google-icon, .kakao-icon {
    background-color: white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.signup-container {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.signup-text {
    margin-right: 5px;
    font-size: 14px;
    color: #333;
}
