@import "reset.css";


@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
}

html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginlogo{
    width: 396px;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

label{
    font-size: 18px;
    font-weight: 700;
}

input{
    width: 592px;
    height: 26px;
    padding: 16px 24px;
    background-color: #F3F4F6;
    border: none;
    border-radius: 12px;
}

::placeholder{
    color: #9CA3AF;
    width: 592px;
}

button{
    width: 640px;
    height: 56px;
    background-color: #9CA3AF;
    border-radius: 40px;
    color: #F3F4F6;
    font-size: 20px;
    font-weight: 600;
    border: none;
}

.simple-login{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E6F2FF;
    height: 74px;
}

.simple-login-in{
    width: 594px;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    justify-content: space-between;
}

.login-icon{
    display: flex;
    gap: 16px;
}

.login-icon img{
    width: 42px;
}

.firstuser{
    text-align: center;
    font-size: 14px;
    font-weight: 500px;
    color: #1F2937;
}

.firstuser a{
    color: #3692FF;
}