@import "reset.css";

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
}

:root {
    --gray-900: #111827;
    --gray-800: #1F2937;
    --gray-700: #374151;
    --gray-600: #4B5563;
    --gray-500: #6B7280;
    --gray-400: #9CA3AF;
    --gray-200: #E5E7EB;
    --gray-100: #F3F4F6;
    --gray-50: #F9FAFB;

    --blue: #3692FF;
}

html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginlogo {
    width: 25rem;
    display: flex;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 2.5rem;
}

.inputarea {
    margin-bottom: 2rem;
    position: relative;
}

label {
    font-size: 1.25rem;
    font-weight: 700;
}

input {
    width: 37rem;
    height: 2rem;
    padding: 1rem 1.5rem;
    background-color: var(--gray-100);
    border: none;
    outline: none;
    border-radius: 1rem;
    margin-top: 1rem;
}

.input-container {
    position: relative;
    display: flex;
    align-items: center;
}

input:focus {
    border: solid var(--blue);
}

::placeholder {
    color: var(--gray-400);
    width: 37rem;
}

.error{
    border: 2px solid red;
}

.email-null, .password-null, .email-check, .password-check{
    display: none;
    margin-top: 10px;
    padding-left: 10px;
    color: #F74747;
    font-size: 14px;
    font-weight: 550; 
}

.eye-off, .eye-on {
    position: absolute;
    width: 1.5rem;
    right: 1.5rem;
    top: 50%;
    cursor: pointer;
}

.eye-on{
    display: none;
}

#login-btn {
    display: flex;
    width: 40rem;
    height: 4rem;
    background-color: var(--gray-400);
    border-radius: 2.5rem;
    color: var(--gray-100);
    font-size: 1.5rem;
    font-weight: 600;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border: none;
    margin-bottom: 2rem;
    cursor: not-allowed;
}

#login-btn.active {
    background-color: var(--blue); 
    cursor: pointer;
}

.simple-login {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E6F2FF;
    height: 5rem;
    border-radius: 0.5rem;
    margin-bottom: 2rem;
}

.simple-login-in {
    width: 37rem;
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-weight: 500;
    justify-content: space-between;
}

.login-icon {
    display: flex;
    gap: 1rem;
}

.login-icon img {
    width: 3rem;
}

.firstuser {
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    color: var(--gray-800);
    margin-bottom: 2rem;
}

.firstuser a {
    color: var(--blue);
}

/* PC */
@media (min-width: 1200px) {}

/* Tablet */
@media (min-width: 768px) and (max-width: 1199px) {}

/* Mobile */
@media (min-width: 375px) and (max-width: 767px) {
    .login {
        padding: 0 1rem;
    }

    .loginlogo {
        width: 65%;
    }

    label {
        font-size: 1rem;
        margin-bottom: 1rem;
    }

    input {
        width: 100%;
        max-width: 25rem;
        margin: 0 auto;
        padding: 1rem 0;
        margin-top: 1rem;
    }

    ::placeholder {
        padding: 1rem;
    }

    #login-btn {
        width: 100%;
    }

    .simple-login-in {
        width: 100%;
        padding: 0 1.5rem;
    }
}
