@import "reset.css";


@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
}

:root {
    --gray-900: #111827;
    --gray-800: #1F2937;
    --gray-700: #374151;
    --gray-600: #4B5563;
    --gray-500: #6B7280;
    --gray-400: #9CA3AF;
    --gray-200: #E5E7EB;
    --gray-100: #F3F4F6;
    --gray-50:  #F9FAFB;

    --blue: #3692FF;
}

html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginlogo {
    width: 24.75rem;
    display: flex;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 2.5rem;
}

.inputarea {
    margin-bottom: 1.5rem;
    position: relative;
}

label {
    font-size: 1.125rem;
    font-weight: 700;
}

input {
    width: 37rem;
    height: 1.625rem;
    padding: 1rem 1.5rem;
    background-color: var(--gray-100);
    border: none;
    outline: none;
    border-radius: 0.75rem;
    margin-top: 1rem;
}

.input-container {
    position: relative; 
    display: flex;
    align-items: center;
}

input:focus {
    border: solid var(--blue);
}

::placeholder {
    color: var(--gray-400);
    width: 37rem;
}

.password-icon {
    position: absolute;
    width: 1.375rem;
    right: 1.5625rem;
    top: 50%;
}

.login-btn {
    display: flex; 
    width: 40rem;
    height: 3.5rem;
    background-color: var(--gray-400);
    border-radius: 2.5rem;
    color: var(--gray-100);
    font-size: 1.25rem;
    font-weight: 600;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border: none;
    margin-bottom: 1.5rem;
    cursor: pointer;
}

.simple-login {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E6F2FF;
    height: 4.625rem;
    border-radius: 0.5rem; 
    margin-bottom: 1.5rem;
}

.simple-login-in {
    width: 37.125rem;
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-weight: 500;
    justify-content: space-between;
}

.login-icon {
    display: flex;
    gap: 1rem;
}

.login-icon img {
    width: 2.625rem;
}

.firstuser {
    text-align: center;
    font-size: 0.875rem;
    font-weight: 500;
    color: var(--gray-800);
}

.firstuser a {
    color: var(--blue);
}


/* PC */
@media (min-width: 1200px) {
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1199px) {
}

/* Mobile */
@media (min-width: 375px) and (max-width: 767px) {
    .login{
        padding: 0 16px;
    }

    .loginlogo{
        width: 65%;
    }

    label{
        font-size: 14px;
        margin-bottom: 10px;
    }

    input{
        width: 100%;
        max-width: 400px;
        margin: 0 auto;
        padding: 16px 0;
        margin-top: 10px;
    }

    ::placeholder{
        padding: 24px;
    }

    .login-btn{
        width: 100%;
    }

    .simple-login-in{
        width: 100%;
        padding: 0 23px;
    }
}