* {
  box-sizing: border-box;
  margin: 0;
}

* {
  --primary: #3692ff;
  --primary-home: #cfe5ff;
  --white: #ffffff;
  --gray-400: #9ca3af;
  --gray-border: #dfdfdf;
  --gray-200: #e5e7eb;
  --gray-100: #f3f4f6;
  --gray-50: #f9fafb;
  --gray-10: #fcfcfc;
  --black-900: #111827;
  --black-700: #374151;
}

@font-face {
  font-family: "ROKAF Sans";
  src: url("fonts/ROKAF_Sans_Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

body {
  width: 1920px;
  background-color: var(--gray-10);
}

button {
  background-color: var(--primary);
  border: none;
  cursor: pointer;
}

header {
  margin: 0 auto;
  width: 100%;
  background-color: white;
  background-size: cover;
  height: 70px;
  border-bottom: 1px solid var(--gray-border);
  padding: 9px 400px;
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: auto;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
h1 a {
  font-family: "ROKAF Sans", sans-serif;
  color: var(--primary);
  font-weight: 700;
  font-size: 25.63px;
  line-height: 34.6px;
  text-align: center;
  text-decoration: none;
}

button:hover {
  background-color: #2877d4;
}

.s-button {
  display: flex;
  justify-content: center;
  border-radius: 8px;
  width: 128px;
  height: 48px;
  gap: 10px;
  padding: 12px 23px;
  font-family: pretendard, "Noto Sans Korean";
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
  color: var(--gray-100);
}

.home {
  background-color: var(--primary-home);
  height: 540px;
  width: 100%;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.top,
.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top {
  gap: 7px;
}

.top-text {
  padding-bottom: 60px;
  gap: 32px;
}

h2 {
  font-family: "Pretendard Variable", "Noto Sans Korean";
  font-weight: 700;
  font-size: 40px;
  line-height: 56px;
  color: var(--black-700);
  margin-bottom: 32px;
}
.l-button {
  display: flex;
  border-radius: 40px;
  padding: 16px 124px;
  height: 56px;
  gap: 10px;
  font-family: "Pretendard Variable", "Noto Sans Korean";
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  color: var(--gray-50);
  text-align: center;
  cursor: pointer;
}

section {
  padding: 138px 0;
  gap: 10px;
  width: 100%;
  background-color: white;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.figure1,
.figure2,
.figure3 {
  width: 988px;
  border-radius: 12px;
  gap: 64px;
  background-color: var(--gray-10);
  display: flex;
  justify-content: center;
  align-items: center;
}

.figure1-text,
.figure3-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-right: 24px;
  gap: 12px;
}

.figure2-text {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-left: 24px;
  gap: 12px;
}

span {
  font-family: "Pretendard Variable", "Noto Sans Korean";
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  color: var(--primary);
}

.detail,
.detail2 {
  gap: 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.detail2 > h3,
.detail2 > div {
  text-align: right;
}

h3,
.detail2 > h3 {
  font-family: "Pretendard Variable", "Noto Sans Korean";
  font-size: 40px;
  font-weight: 700;
  line-height: 56px;
  color: var(--black-700);
  white-space: nowrap;
}

.detail > div,
.detail2 > div {
  font-family: "Pretendard Variable", "Noto Sans Korean";
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  color: var(--black-700);
  white-space: nowrap;
}
.bottom {
  gap: 69px;
}

.bottom-text {
  gap: 10px;
}

footer {
  display: flex;
  gap: 10px;
  padding: 32px 400px;
  background-color: var(--black-900);
}

.footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.co,
.info {
  font-family: "Pretendard Variable", "Noto Sans Korean";
  font-size: 16px;
  font-weight: 400;
  line-height: 19.09px;
  text-align: center;
}

.co {
  color: var(--gray-400);
}

.info {
  display: flex;
  gap: 30px;
}

.privacy,
.FAQ {
  text-decoration: none;
  color: var(--gray-200);
}

.sns {
  width: 116px;
  gap: 12px;
}
