@import url('reset.css');
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

html {
  text-align: center;
  height: 100%;
  width: 100%;
}

header {
  display: flex;
  width: 100%;
  height: 70px;
  border-width: 0px 0px 1px 0px;
  margin: auto;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
  max-width: 1120px;
}

body {
  font-family: 'Pretendard', sans-serif;
}

.login_button {
  color: #F3F4F6;
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
  display: flex;
  width: 128px;
  height: 48px;
  background-color: #3692FF;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  cursor: pointer;
}


.div_top {
  background-color: #CFE5FF;
  width: 100%;
  height: 540px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top_Description {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  font-weight: 700;
  line-height: 56px;
}

.banner-button {
  color: #F9FAFB;
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
  display: flex;
  width: 357px;
  height: 56px;
  background-color: #3692FF;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  cursor: pointer;
}

.features-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 276px;
  margin-top: 138px;
  text-align: left;
}

.section-item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 64px;
  background-color: #FCFCFC;
  
}

.section-item > img {
  border-radius: 12px;
}

.item_text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  
}

.section-item:nth-of-type(even) {
  text-align: right;
}


.item_text > p {
  color: #3692FF;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  width: 100%;
}

.item_text > h2 {
  color: #374151;
  font-size: 40px;
  font-weight: 700;
  line-height: 56px;
  width: 100%;
  margin: 12px 0 24px 0;
}

.item_text > h3 {
  color: #374151;
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  width: 100%;
}

.vacuum {
  height: 138px;
  width: 100%;
}

.div_bottom {
  background-color: #CFE5FF;
  width: 100%;
  height: 540px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottom_Description {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  font-weight: 700;
  line-height: 56px;
}


footer {
  background-color: #111827;
  height: 160px;
  padding-top: 32px;
}

.footer-content {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1120px;
}

.footer-codeit-font {
  color: white;
}

.footer-links {
}

.footer_info{
  color: white;
}

.social {
}

.social-icon {
  
}
