@import "reset.css";


@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
}


body {
    font-family: 'Pretendard-Regular', sans-serif;
}




header{
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 200px;
  background-color: #ffffff;
  border-bottom: 1px solid #dfdfdf;
}

#logo{
    height: 50px;
    cursor: pointer;
}

.login{
    display: flex;      
    text-decoration: none;
    align-items: center;
    justify-content: center;
    background-color: #3692FF;
    color: #FFFFFF;
    width: 128px;
    height: 48px;          
    text-align: center;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 300;
}     
  
.home-top
{
    width: 100%;
    height: 540px;
    background-color: #CFE5FF;
    display: flex;
    align-items: flex-end; /* 자식 요소들을 세로축 하단에 정렬 */
    justify-content: center; /* 자식 요소들을 가로축 중앙에 정렬 */
}

.home-top-all{
    display: flex ;
     align-items: center;
     margin: 0 auto;
}

.home-top-content{
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 56px;
}

.home-top h1{
    color:#374151;
}

.home-top-img{
    height: 340px;;
}

.sub{
    color: #374151;
}

.subtitle{
    font-size: 2.5rem;
    line-height: 56px;
    font-weight: 700;
    margin-bottom: 24px;
}

.sub-content{
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 32px ;
}

.home-top-button{
    display: block;
    text-decoration: none;
    color: #F9FAFB;
    background-color: #3692FF;
    height: 56px;
    text-align: center;
    border-radius: 40px;
    font-size: 1.25rem;
    font-weight: 300 ;
    gap: 10px;
    margin: 10% 0;
}

.home-top-img{
    height: 340px;
    object-fit: cover;
}

.badge{
    color: #3692FF;
    font-size: 1.125rem;
    font-weight: 700;
    margin-bottom: 12px;
}

.home-01{
    width: 100%;
    height: 720px;
    display: flex; 
    align-items: center;
}


.home-01-all{
    display: flex;
    width: 964px;
    background-color: #FCFCFC;
    align-items: center;
    margin: 0 auto;
    border-radius: 12px;
}

.home-01-content{
    margin: 0 auto;
}

.home-02{
    width: 100%;
    height: 720px;
    display: flex; 
    align-items: center;
}

.home-02-all{
    display: flex;
    justify-content: space-between;
    width: 964px;
    background-color: #FCFCFC;
    align-items: center;
    margin: 0 auto;
    border-radius: 12px;
}

.home-02-content{
    margin: 0 auto;
}

.home-03{
    width: 100%;
    height: 720px;
    display: flex; 
    align-items: center;
}

.home-03-all{
    display: flex;
    width: 964px;
    background-color: #FCFCFC;
    align-items: center;
    margin: 0 auto;
    border-radius: 12px;
}

.home-03-content{
    margin: 0 auto;
}

.home-bottom{
     width: 100%;
     height: 540px;
     background-color:#CFE5FF ;
     display: flex;
     align-items: flex-end; /* 자식 요소들을 세로축 하단에 정렬 */
     justify-content: center; /* 자식 요소들을 가로축 중앙에 정렬 */
}

.home-bottom-all{
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 56px;
     display: flex;
     align-items: center;
     margin: 0 auto;
}

.home-bottom h1 {
     color: #374151;
     margin: 0;
}

.home-bottom-img {
     width: 746px;
}

footer{
    height: 160px;
    background-color: #111827;
    display: flex;
}

.footer-all{
    width: 1120px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 32px;
}

.footer-01{
    color: 
    #9CA3AF;
    font-size: 1rem;
    font-weight: 400;
}

.footer-02 a{
    text-decoration: none;
    color: #E5E7EB;
    font-size: 1rem;
    font-weight: 400; 
}

.footer-03{
    display: flex;
    width: 116px;
    gap: 12px ;
}

.footer-03 img{
    height: 20px;
}