*{
  box-sizing: border-box;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Pretendard-Regular', Arial, Helvetica, sans-serif;
  width: 100%;
}

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  border: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FFFFFF;
  height: 70px;
  padding: 9px 400px;
  /* 스프린트 미션 2에서 추가한 코드 */
  position: sticky;
  top: 0;
}

.navbar_logo {
  width: 153px;
  height: 51px;
}

.navbar_login {
  background-color: #3692FF;
  padding: 12px 23px;
  border-radius: 8px;
  color: rgba(243, 244, 246, 1);
  font-weight: 600;
}

/* 몸통 시작 */

.content_top_title,
.content_bottom_title {
  background-color: #CFE5FF;
  height: 540px;
}

.content_top_title_components {
  display: flex;
  justify-content: center;
  padding-top: 200px;
}

.content_top_title_text {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.content_top_title_intro,
.content_bottom_title_intro {
  font-weight: 700;
  font-size: 40px;
  color: #374151;
}

.content_top_title_button {
  background-color: #3692FF;
  padding: 16px 124px;
  border-radius: 40px;
  color: rgba(249, 250, 251, 1);
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
}

/* 몸통 2 */

.content_item_page,
.content_search_page,
.content_register_page {
  padding: 138px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content_item_page_components, 
.content_search_page_components,
.content_register_page_components {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FCFCFC;
  width: 988px;
}

.content_item_page_text,
.content_search_page_text,
.content_register_page_text {
  padding: 103px 47.5px;
}

.content_item_page_intro,
.content_search_page_intro,
.content_register_page_intro {
  padding-bottom: 12px;
  color: #3692FF;
  font-weight: 700;
  font-size: 18px;
}

.content_item_page_title,
.content_search_page_title,
.content_register_page_title {
  color: #374151;
  font-weight: 700;
  font-size: 40px;
  padding-bottom: 24px;
}

.content_item_page_eg,
.content_search_page_eg,
.content_register_page_eg {
  color: #374151;
  font-weight: 500;
  font-size: 24px;
}

.content_search_page_text {
  text-align: right;
}

.content_bottom_title_components {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 143px;

}

/* 푸터 */

footer {
  background-color: #111827;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 400px 108px;
}

.footer_copyright {
  color: #9CA3AF;
}

.footer_menu {
  display: flex;
  list-style: none;
  display: flex;
  gap: 30px;
  cursor: pointer;
}

.footer_menu a {
  color: #E5E7EB;
}

.footer_sns {
  display: flex;
  justify-content: space-between;
  gap: 12px;
}

/* 화면 너비에 따른 조정 */

@media (max-width: 1919px) {
  .navbar {
    padding: 1.2vw 200px;
  }
}

/* PC */
@media (min-width: 1200px) {

}

/* Tablet */
@media (min-width: 768px) and (max-width: 1199px) {
  .navbar {
    padding: 1.2vw 24px;
  }
  .content_top_title {
    height: 771px;
  }
  .content_top_title_components {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
  .content_top_title_text {
    align-items: center;
    padding: 84px 0 211px 0;
  }
  .content_item_page {
    padding: 24px;
  }
  .content_search_page,
  .content_register_page {
    padding: 52px 24px;
  }
  .content_top_title_intro > br,
  .content_item_page_title > br,
  .content_search_page_title > br,
  .content_register_page_title > br {
    display: inline-block;
    content: "";
  }
  .content_item_page_components,
  .content_register_page_components {
    flex-direction: column;
    width: 696px;
  }
  .content_search_page_components {
    flex-direction: column-reverse;
    width: 696px;
  }
  .content_item_page_img,
  .content_search_page_img, 
  .content_register_page_img {
    width: 100%;
  }
  .content_item_page_text,
  .content_register_page_text {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px 0;
  }
  .content_search_page_text {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 24px 0;
  }
  .content_item_page_title,
  .content_search_page_title,
  .content_register_page_title {
    font-weight: 700;
    font-size: 32px;
  }
  .content_item_page_eg,
  .content_search_page_eg,
  .content_register_page_eg {
    font-size: 18px;
  }
  /* 좀이따 */
  .content_bottom_title {
    height: 927px;
  }
  .content_bottom_title_components {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
  .content_bottom_title_text {
    align-items: center;
    padding: 217px 0;
  }
  footer {
    padding: 32px 104px 64px 104px;
  }
}

/* Mobile */
@media (min-width: 375px) and (max-width: 767px) {
  .navbar {
    padding: 1.2vw 16px;
  }
  .content_top_title {
    height: 540px;
  }
  /*
  .content_top_title_components {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
  .content_top_title_text {
    align-items: center;
    padding: 84px 0 211px 0;
  }
  .content_item_page {
    padding: 24px;
  }
  .content_search_page,
  .content_register_page {
    padding: 52px 24px;
  }
  .content_top_title_intro > br,
  .content_item_page_title > br,
  .content_search_page_title > br,
  .content_register_page_title > br {
    display: inline-block;
    content: "";
  }
  .content_item_page_components,
  .content_register_page_components {
    flex-direction: column;
    width: 696px;
  }
  .content_search_page_components {
    flex-direction: column-reverse;
    width: 696px;
  }
  .content_item_page_img,
  .content_search_page_img, 
  .content_register_page_img {
    width: 100%;
  }
  .content_item_page_text,
  .content_register_page_text {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px 0;
  }
  .content_search_page_text {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 24px 0;
  }
  .content_item_page_title,
  .content_search_page_title,
  .content_register_page_title {
    font-weight: 700;
    font-size: 32px;
  }
  .content_item_page_eg,
  .content_search_page_eg,
  .content_register_page_eg {
    font-size: 18px;
  }
  .content_bottom_title {
    height: 927px;
  }
  .content_bottom_title_components {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
  .content_bottom_title_text {
    align-items: center;
    padding: 217px 0;
  }
  footer {
    padding: 32px 104px 64px 104px;
  } */
}