@import "reset.css";

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
}

body {
    font-family: 'Pretendard-Regular', sans-serif;
}

header {
    position: sticky;
    top: 0;
    height: 4.375rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12.5rem;
    background-color: #ffffff;
    border-bottom: 0.0625rem solid #dfdfdf;
}

#logo {
    height: 3.125rem;
    cursor: pointer;
}

.login {
    display: flex;      
    text-decoration: none;
    align-items: center;
    justify-content: center;
    background-color: #3692FF;
    color: #FFFFFF;
    width: 8rem;
    height: 3rem;
    text-align: center;
    border-radius: 0.5rem;
    font-size: 1rem;
    font-weight: 300;
}     

.home-top {
    width: 100%;
    height: 33.75rem;
    background-color: #CFE5FF;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.home-top-all {
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.home-top-content {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 3.5rem;
}

.home-top h1 {
    color: #374151;
}

.home-top-img {
    height: 21.25rem;
    object-fit: cover;
}

.sub {
    color: #374151;
}

.subtitle {
    font-size: 2.5rem;
    line-height: 3.5rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
}

.sub-content {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 2rem;
}

.home-top-button {
    display: block;
    text-decoration: none;
    color: #F9FAFB;
    background-color: #3692FF;
    height: 3.5rem;
    text-align: center;
    border-radius: 2.5rem;
    font-size: 1.25rem;
    font-weight: 300;
    gap: 0.625rem;
    margin-top: 2rem;
}

.badge {
    color: #3692FF;
    font-size: 1.125rem;
    font-weight: 700;
    margin-bottom: 0.75rem;
}

.home-first, .home-second, .home-third {
    width: 100%;
    height: 45rem;
    display: flex;
    align-items: center;
}

.home-first-all, .home-second-all, .home-third-all {
    display: flex;
    width: 60.25rem;
    background-color: #FCFCFC;
    align-items: center;
    margin: 0 auto;
    border-radius: 0.75rem;
}

.home-first-content, .home-second-content, .home-third-content {
    margin: 0 auto;
}

.bottom-grayBox {
    width: 100%;
    height: 8.125rem;
    background-color: #FCFCFC;
}

.home-bottom {
    width: 100%;
    height: 33.75rem;
    background-color: #CFE5FF;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.home-bottom-all {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 3.5rem;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.home-bottom h1 {
    color: #374151;
    margin: 0;
}

.home-bottom-img {
    width: 46.625rem;
}

footer {
    height: 10rem;
    background-color: #111827;
    display: flex;
}

.footer-all {
    width: 70rem;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 2rem;
}

.footer-first {
    color: #9CA3AF;
    font-size: 1rem;
    font-weight: 400;
}

.footer-second a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 1rem;
    font-weight: 400; 
}

.footer-third {
    display: flex;
    width: 7.25rem;
    gap: 0.75rem;
}

.footer-third img {
    height: 1.25rem;
}
