* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Pretendard Variable', Arial, Helvetica, sans-serif;
    font-weight: 700;
}

/* GNB */

.nav {
    position: fixed;
    top: 0;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 0 200px;
}

.nav a {
    cursor: pointer;
    font-size: 16px;
}

.nav .logo img {
    width: 153px;
    height: 51px;
}

.nav .login {
    padding: 11px 43px;
    min-width: 128px;
    background-color: #3692FF;
    border-radius: 8px;
    color: #F3F4F6;
    text-decoration: none;
}

/* 메인 */

h2 {
    color: #374151;
    font-size: 40px;
}

/* 인트로 */

.intro {
    margin-top: 70px;
}

.intro,
.last {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: #CFE5FF;
    height: 540px;
    width: 100%;
}

.intro > div,
.last > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1110px;
    margin: 0 auto;
}

.intro a {
    display: flex;
    align-items: center;
    padding: 12px 124px;
    height: 56px;
    margin: 32px 0 60px;
    background-color: #3692FF;
    border-radius: 40px;
    color: #F9FAFB;
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
}

.intro img {
    width: 746px;
    height: 340px;
}

/* 카드 */

.cards {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    width: 988px;
    margin: 138px 0;
    background-color: #FCFCFC;
    display: flex;
    gap: 64px;
    align-items: center;
}

.card img {
    width: 579px;
    height: 444px;
}

.card:nth-of-type(1){
    padding: 0 23.5px;
    text-align: left;
}

.card:nth-of-type(2){
    padding: 0 14px;
    text-align: right;
}

.card:nth-of-type(3) {
    padding: 0 -7px;
    text-align: left;
}

.card-subtitle {
    font-size: 18px;
    color: #3692FF;
}

.card-title {
    margin: 12px 0 24px 0;
}

.card-text {
    font-weight: 500;
    font-size: 24px;
    color: #374151;
}

/* last */

/* `.last` intro 쪽에 설정 */
/* `.last > div` intro 쪽에 설정 */
.last img {
    width: 746px;
    height: 397px;
}

/* 푸터 */

footer {
    display: grid;
    grid-template-rows: 1fr 1fr;
    height: 160px;
    background-color: #111827;
    font-size: 16px;
    font-weight: 400;
}

.container.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 200px;
}

.container.footer p {
    color: #9CA3AF;
}

.support {
    display: flex;
    gap: 30px;
}

.support a {
    color: #E5E7EB;
    text-decoration: none;
    cursor: pointer;
}

.ic-sns {
    display: flex;
    gap: 12px;
}

.ic-sns a {
    cursor: pointer;
}

.ic-sns img {
    width: 20px;
    height: 20px;
}

/* 로그인 페이지 */

.login-body,
.signup-body {
    display: flex;
    justify-content: center;
}

.container.login,
.container.signup {
    margin-top: 120px;
    width: 640px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo.login img,
.logo.signup img {
    width: 396px;
    height: 132px;
    margin-bottom: 40px;
}

.login-form,
.signup-form {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.login-form div,
.signup-form div {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.login-form input,
.signup-form input {
    width: 640px;
    height: 56px;
    background-color: #F3F4F6;
    padding: 16px 24px;
    border-radius: 12px;
    border: none;
    font-weight: 400;
    font-size: 16px;
    color: #1F2937;
    line-height: 26px;
}

.login-form input:focus,
.signup-form input:focus {
    border-color: #3692FF;
}

.login-form input::placeholder,
.signup-form input::placeholder {
    font-weight: 400;
    font-size: 16px;
    color: #9CA3AF;
    line-height: 26px;
}

.login-form button,
.signup-form button {
    background-color: #9CA3AF;
    padding: 16px 124px;
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    text-align: center;
    border: none;
    border-radius: 40px;
    cursor: not-allowed;
}

.login-form button:active,
.signup-form button:active {
    background-color: #3692FF;
    cursor: pointer;
}

.sosial-login {
    margin: 24px 0;
    padding: 16px 23px;
    width: 100%;
    height: 74px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #E6F2FF;
    border: none;
    border-radius: 8px;
}

.sosial-login p {
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    color: #1F2937;
}

.ic-login,
.ic-signup {
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

.sosial-login a {
    font-size: 0;
}

.auth-toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 4px;
}

.auth-toggle p {
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    color: #1F2937;
}

.auth-toggle a {
    font-size: 15px;
    font-weight: 500;
    line-height: 17.9px;
    color: #3182F6;
}