@font-face {
    font-family: "Pretendard-Regular";
    src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
      format("woff");
    font-weight: 400;
    font-style: normal;
  }

body {
    font-family: "Pretendard-Regular";
    margin: 0;
}

.body_1 {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    align-items: center;
}

.section-container {
    display: flex;
    flex-direction: column;
    width: 640px;
    gap: 40px;
    align-items: center;
}

p {
    color: #1F2937;
    font-size: 18px;
    font-weight: 700;
    margin: 0;
}

label {
    color: #1F2937;
    font-size: 18px;
    font-weight: 700;
    margin: 0;
}

.signup-total-container {
    display: flex;
    flex-direction: column;
    width: 640px;
    gap: 24px;
}

.signup-main {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.signup-main-input {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.signup-main-input-email,
.signup-main-input-nickname,
.signup-main-input-password,
.signup-main-input-password-again {
    display: flex;
    flex-direction: column;
    gap: 16px
}

input {
    border: 1px solid #F3F4F6;
    height: 22px;
    background-color: #F3F4F6;
    border-radius: 12px;
    padding: 16px 24px 16px 24px;
}

input::placeholder{
    display: flex;
    color: #9CA3AF;
    font-size: 16px;
}

input:focus {
    border-color: #3692FF;
    outline: none;
}

.signup-main-button {
    background-color: #9CA3AF;
    color: #F3F4F6;
    font-size: 20px;
    font-weight: 600;
    border-width: 0;
    border-radius: 40px;
    padding: 16px 124px 16px 124px;
}

.signup-main-button:hover {
    background-color: #3692FF;
    cursor: pointer;
}

.signup-simple-login {
    background-color: #E6F2FF;
    border-radius: 8px;
    padding: 16px 23px 16px 23px;
}

.signup-simple-login-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.signup-simple-login-description {
    font-size: 16px;
    font-weight: 500;
    color: #1F2937;
}

.signup-simple-login-link {
    display: flex;
    gap: 16px;
}

.signup-already {
    display: flex;
    gap: 4px;
    align-items: center;
    justify-content: center;
}

.signup-already-question {
    color: #1F2937;
    font-size: 14px;
    font-weight: 500;
}

.signup-login-link {
    color: #3692FF;
    font-size: 14px;
    font-weight: 500;
}