@import "reset.css";

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
}

:root {
    --gray-900: #111827;
    --gray-800: #1F2937;
    --gray-700: #374151;
    --gray-600: #4B5563;
    --gray-500: #6B7280;
    --gray-400: #9CA3AF;
    --gray-200: #E5E7EB;
    --gray-100: #F3F4F6;
    --gray-50:  #F9FAFB;
    
    --blue: #3692FF;
}

body {
    font-family: 'Pretendard-Regular', sans-serif;
}

header {
    position: sticky;
    top: 0;
    height: 4.375rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12.5rem;
    background-color: var(--gray-50);
    border-bottom: 0.0625rem solid var(--gray-200);
}

#logo {
    height: 3.125rem;
    cursor: pointer;
}

.login {
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    background-color: var(--blue);
    color: var(--gray-50);
    width: 8rem;
    height: 3rem;
    text-align: center;
    border-radius: 0.5rem;
    font-size: 1rem;
    font-weight: 300;
}     

.hero-section {
    width: 100%;
    height: 33.75rem;
    background-color: #CFE5FF;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.hero-content {
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.hero-text {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 3.5rem;
    color: var(--gray-700);
}

.hero-section h1 {
    color: var(--gray-700);
}

.sub {
    color: var(--gray-700);
}

.subtitle {
    font-size: 2.5rem;
    line-height: 3.5rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
}

.sub-content {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 2rem;
}

.cta-button {
    display: block;
    text-decoration: none;
    color: var(--gray-50);
    background-color: var(--blue);
    padding: 16px, 124px, 16px, 124px;
    text-align: center;
    border-radius: 2.5rem;
    font-size: 1.25rem;
    font-weight: 300;
    gap: 0.625rem;
    margin-top: 2rem;
}

.badge {
    color: var(--blue);
    font-size: 1.125rem;
    font-weight: 700;
    margin-bottom: 0.75rem;
}

.popular-items-section, .search-items-section, .register-items-section {
    width: 100%;
    height: 45rem;
    display: flex;
    align-items: center;
}

.popular-items-content, .search-items-content, .register-items-content {
    display: flex;
    width: 60.25rem;
    background-color: var(--gray-50);
    align-items: center;
    margin: 0 auto;
    border-radius: 0.75rem;
}

.item-details {
    margin: 0 auto;
}

.divider {
    width: 100%;
    height: 8.125rem;
    background-color: var(--gray-50);
}

.trust-section {
    width: 100%;
    height: 33.75rem;
    background-color: #CFE5FF;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.trust-content {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 3.5rem;
    display: flex;
    align-items: center;
    margin: 0 auto;
    color: var(--gray-700);
}

.trust-section h1 {
    color: var(--gray-700);
    margin: 0;
}

.trust-image {
    width: 46.625rem;
}

footer {
    height: 10rem;
    background-color: var(--gray-900);
    display: flex;
}

.footer-section {
    width: 70rem;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 2rem;
}

.footer-content {
    color: var(--gray-400);
    font-size: 1rem;
    font-weight: 400;
}

.footer-policy-faq a {
    text-decoration: none;
    color: var(--gray-200);
    font-size: 1rem;
    font-weight: 400; 
}

.footer-sns {
    display: flex;
    width: 7.25rem;
    gap: 0.75rem;
}

.footer-sns img {
    height: 1.25rem;
}

/* PC */
@media (min-width: 1200px) {
    
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1199px) {
    header {
        padding: 0 24px;
    }

    .hero-section {
        height: 771px;
    }

    .hero-content {
        flex-direction: column;
    }

    .cta-button{
        margin: auto;
        margin-top: 24px;
    }

    .hero-text {
        justify-content: center;
    }

    .hero-image{
        padding-top: 210px;
    }

    .onlyPC{
        display: none;
    }

    .bottom-grayBox{
        display: none;
    }

    .trust-section {
        height: 927px;
        background-color: #CFE5FF;
    }

    .trust-content{
        flex-direction: column;
        text-align: center;
    }

    .trust-image{
        margin-top: 217px;
    }


    .popular-items-content, .search-items-content, .register-items-content {
        display: grid;
        flex-direction: column;
        align-items: flex-start;
        padding: 20px;
    }

    .popular-items-content img, .search-items-content img, .register-items-content img{
        width: 100%;
        height: auto;
        margin-bottom: 20px;
    }

    .item-details {
        text-align: left;
        width: 100%;
    }

    .footer-section {
        width: 100%;
        margin: 0 auto;
        margin-top: 2rem;
        padding: 0 120px;
    }
    
    
}

/* Mobile */
@media (min-width: 375px) and (max-width: 767px) {

    header {
        padding: 0 24px;
    }

    .hero-section {
        height: 771px;
        height: 540px ;
    }

    .hero-content {
        flex-direction: column;
        overflow: hidden;
    }

    .hero-text{
        font-size: 2rem;
        text-align: center;
        line-height: 45px;
    }

    .cta-button{
        margin: auto;
        margin-top: 24px;
        font-size: 18px;
        padding: 9px, 71px, 12px, 9px;
        margin-top: 17px;
    }

    .hero-image {
        width: 120%;
        margin-top: 130px;
    }

    .popular-items-section, .search-items-section, .register-items-section {
        height: auto;
    }

    .popular-items-content, .search-items-content, .register-items-content {
        display: grid;
        flex-direction: column;
        align-items: flex-start;
        padding: 20px;
        background-color: #FCFCFC;
    }

    .popular-items-content img, .search-items-content img, .register-items-content img{
        width: 100%;
        height: auto;
    }

    .search-items-content img{
        order: -1;
    }

    .item-details {
        text-align: left;
        width: 100%;
        margin-top: 24px;
    }

    .badge{
        font-size: 16px;
        margin-bottom: 8px
    }

    .subtitle{
        font-size: 24px;
        line-height: 2rem;
        margin-bottom: 20px;
    }

    .subtitle .onlyPC{
        display: none;
    }

    .sub-content{
        font-size: 16px;
        line-height: 25px;
    }

    .bottom-grayBox{
        display: none;
    }

    .trust-section {
        height: 540px;
        background-color: #CFE5FF;
    }

    .trust-content{
        flex-direction: column;
        text-align: center;
        font-size: 2rem;
        line-height: 43px;
    }

    .trust-image{
        max-width: 100%;
        margin-top: 130px;
    }

    .footer-section {
        height: 10rem;
        padding: 0 32px;
    }

    

    .footer-policy-faq a {
        text-decoration: none;
        color: var(--gray-200);
        font-size: 1rem;
        font-weight: 400;
        gap: 30px;
    }

    .footer-content{
        position: absolute;
        margin-top: 60px;
    }

}
