@import "reset.css";

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
}

:root {
    --gray-900: #111827;
    --gray-800: #1F2937;
    --gray-700: #374151;
    --gray-600: #4B5563;
    --gray-500: #6B7280;
    --gray-400: #9CA3AF;
    --gray-200: #E5E7EB;
    --gray-100: #F3F4F6;
    --gray-50:  #F9FAFB;
    
    --blue: #3692FF;
}

body {
    font-family: 'Pretendard-Regular', sans-serif;
}

header {
    position: sticky;
    top: 0;
    height: 4.375rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12.5rem;
    background-color: var(--gray-50);
    border-bottom: 0.0625rem solid var(--gray-200);
}

#logo {
    height: 3.125rem;
    cursor: pointer;
}

.login {
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    background-color: var(--blue);
    color: var(--gray-50);
    width: 8rem;
    height: 3rem;
    text-align: center;
    border-radius: 0.5rem;
    font-size: 1rem;
    font-weight: 300;
}     

.hero-section {
    width: 100%;
    height: 33.75rem;
    background-color: #CFE5FF;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.hero-content {
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.hero-text {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 3.5rem;
}

.hero-section h1 {
    color: var(--gray-700);
}

.hero-image {
    height: 21.25rem;
    object-fit: cover;
}

.sub {
    color: var(--gray-700);
}

.subtitle {
    font-size: 2.5rem;
    line-height: 3.5rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
}

.sub-content {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 2rem;
}

.cta-button {
    display: block;
    text-decoration: none;
    color: var(--gray-50);
    background-color: var(--blue);
    height: 3.5rem;
    text-align: center;
    border-radius: 2.5rem;
    font-size: 1.25rem;
    font-weight: 300;
    gap: 0.625rem;
    margin-top: 2rem;
}

.badge {
    color: var(--blue);
    font-size: 1.125rem;
    font-weight: 700;
    margin-bottom: 0.75rem;
}

.popular-items-section, .search-items-section, .register-items-section {
    width: 100%;
    height: 45rem;
    display: flex;
    align-items: center;
}

.popular-items-content, .search-items-content, .register-items-content {
    display: flex;
    width: 60.25rem;
    background-color: var(--gray-50);
    align-items: center;
    margin: 0 auto;
    border-radius: 0.75rem;
}

.item-details {
    margin: 0 auto;
}

.divider {
    width: 100%;
    height: 8.125rem;
    background-color: var(--gray-50);
}

.trust-section {
    width: 100%;
    height: 33.75rem;
    background-color: #CFE5FF;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.trust-content {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 3.5rem;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.trust-section h1 {
    color: var(--gray-700);
    margin: 0;
}

.trust-image {
    width: 46.625rem;
}

footer {
    height: 10rem;
    background-color: var(--gray-900);
    display: flex;
}

.footer-section {
    width: 70rem;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 2rem;
}

.footer-content {
    color: var(--gray-400);
    font-size: 1rem;
    font-weight: 400;
}

.footer-policy-faq a {
    text-decoration: none;
    color: var(--gray-200);
    font-size: 1rem;
    font-weight: 400; 
}

.footer-sns {
    display: flex;
    width: 7.25rem;
    gap: 0.75rem;
}

.footer-sns img {
    height: 1.25rem;
}
