* {
  box-sizing: border-box;
}

body {
  background-color: white;
  font-family: "Pretendard";
}

/* @font-face {
  font-family: "Pretendard";
  src: url("/font/PretendardVariable.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
} */
