footer {
  background-color: var(--gray-900);
  height: 160px;
}

.footer-container {
  display: flex;
  justify-content: space-evenly;
  padding: 30px 0;
}

.footer-txt {
  color: var(--gray-400);
  font-size: 16px;
  font-weight: 400;
}

.footer-page {
  display: flex;
  gap: 30px;
}

.footer-page a {
  text-decoration: none;
  color: var(--gray-200);
  font-size: 16px;
  font-weight: 400;
}

.linktxt {
  text-decoration: none;
}

.sns {
  display: flex;
  gap: 7px;
}
