.topbar.between {
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}

.topbar-label {
  font-size: 20px;
  font-weight: 700;
  color: var(--gray-900);
  padding-bottom: 16px;
}

.all-product .topbar {
  display: flex;
}

.product-cardlist__4row {
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(4, 1fr);
}

.product-cardlist__5row {
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(5, 1fr);
}

.best-product {
  padding-top: 40px;
}

.product-cardlist__4row .card-img {
  border-radius: 16px;
  width: 282px;
  height: 282px;
}

.product-cardlist__5row .card-img {
  border-radius: 16px;
  width: 221px;
  height: 221px;
}

.all-product__bottom {
  margin-top: 24px;
}

/* product css */
.product-card__cardinfo {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-top: 16px;
}

.product-card__cardinfo .name {
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
}

product-card__cardinfo .price {
  font-size: 16px;
  line-height: 26px;
  font-weight: 700;
}
