.title {
  font-family: "ROKAF Sans", sans-serif;
  color: var(--primary);
  font-weight: 700;
  text-align: center;
  text-decoration: none;
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button {
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-family: "pretendard Variable", "Noto Sans Korean";
  font-weight: 600;
  text-decoration: none;
}

.large-button {
  border-radius: 40px;
  padding: 16px 124px;
  font-size: 20px;
  line-height: 32px;
}

@media (min-width: 365px) and (max-width: 767px) {
  .title {
    font-family: "ROKAF Sans", sans-serif;
    color: var(--primary);
    font-weight: 700;
    text-align: center;
    text-decoration: none;
  }

  .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .button {
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-family: "pretendard Variable", "Noto Sans Korean";
    font-weight: 600;
    text-decoration: none;
  }

  .large-button {
    border-radius: 40px;
    padding: 16px 124px;
    font-size: 20px;
    line-height: 32px;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .title {
    font-family: "ROKAF Sans", sans-serif;
    color: var(--primary);
    font-weight: 700;
    text-align: center;
    text-decoration: none;
  }

  .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .button {
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-family: "pretendard Variable", "Noto Sans Korean";
    font-weight: 600;
    text-decoration: none;
  }

  .large-button {
    border-radius: 40px;
    padding: 16px 124px;
    font-size: 20px;
    line-height: 32px;
  }
}

@media (min-width: 1200px) {
  .title {
    font-family: "ROKAF Sans", sans-serif;
    color: var(--primary);
    font-weight: 700;
    text-align: center;
    text-decoration: none;
  }

  .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .button {
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-family: "pretendard Variable", "Noto Sans Korean";
    font-weight: 600;
    text-decoration: none;
  }

  .large-button {
    border-radius: 40px;
    padding: 16px 124px;
    font-size: 20px;
    line-height: 32px;
  }
}
