@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

:root {
  /* Color-Primary */
  --primary100: #3692ff;
  --primary200: #1967d6;
  --primary300: #1251aa;

  /* Color-Secondary */
  --gray900: #111827;
  --gray800: #1f2937;
  --gray700: #374151;
  --gray600: #4b5563;
  --gray500: #6b7280;
  --gray400: #9ca3af;
  --gray200: #e5e7eb;
  --gray100: #f3f4f6;
  --gray50: #f9fafb;

  /* Color-Error */
  --error: #f74747;

  /* Font-Weight */
  --normal: 400;
  --medium: 500;
  --semiBold: 600;
  --bold: 700;
}

* {
  font-family: "Pretendard-Regular";
  box-sizing: border-box;
}

html {
  /* 브라우저 폰트 사이즈 16px * 0.625 = 10px */
  font-size: 62.5%;
}

body {
  /* 1rem = html의 폰트 사이즈 */
  font-size: 1rem;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: not-allow;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip-path: inset(50%);
  border: 0;
  clip: rect(0 0 0 0);
}
