* {
  --gray-800: #1f2937;
  --Alice-Blue: #e6f2ff;
}

.join-page {
  margin-top: 190px;
}

body,
.join-page,
.join-content,
.join-main,
.join,
form,
.email-form__input,
.password-form__input {
  display: flex;
  flex-direction: column;
}

body,
.to-us,
.join-page {
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 66px;
  line-height: 89px;
}

.join-page {
  width: 640px;
  margin: 231px 640px;
  gap: 40px;
}

.join-content,
.join-main,
.join,
form,
.auth-content,
.to-us {
  display: flex;
  font-family: "pretendard Variable", "Noto Sans Korean";
}

.join-content,
.join-main,
.join,
form {
  width: 100%;
  gap: 24px;
}

form,
.email-form__input,
.password-form__input,
.auth-sns {
  gap: 16px;
}

.email-form__input,
.password-form__input {
  font-weight: 700;
  font-size: 18px;
  color: var(--gray-800);
  line-height: 26px;
}

input,
button,
.simple-auth {
  width: 640px;
  gap: 10px;
  display: flex;
}

input,
button {
  height: 56px;
}

input {
  border: none;
  border-radius: 12px;
  padding: 16px 24px;
  color: var(--gray-400);
  background-color: var(--gray-100);
}

input:focus {
  border: 2px solid var(--primary);
  outline: none;
}

.large-button {
  background-color: var(--gray-400);
  color: var(--gray-100);
  text-align: center;
}

.auth-sns,
.auth-sns__icon,
.simple-auth,
.auth-content {
  display: flex;
  align-items: center;
}

.simple-auth {
  width: 100%;
  height: 74px;
  border-radius: 8px;
  padding: 16px 23px;
  background-color: var(--Alice-Blue);
}

.auth-content,
.to-us {
  font-weight: 500;
}

.auth-content {
  width: 594px;
  justify-content: space-between;
  font-size: 16px;
  line-height: 26px;
  color: var(--gray-800);
}

.to-us {
  text-align: center;
  gap: 4px;
  font-size: 14px;
}

.us-message {
  line-height: 24px;
  color: var(--gray-800);
}

.us-link {
  line-height: 17px;
  color: var(--primary);
}

@media (min-width: 365px) and (max-width: 767px) {
  body {
    max-width: 400px;
    margin: 16px;
  }

  .join-page {
    margin: 80px 16px;
    width: 100%;
  }

  .head > img {
    width: 51px;
    height: 51px;
  }

  .title {
    font-size: 33px;
    line-height: 44px;
  }

  form {
    gap: 8px;
  }

  .email-form__input,
  .password-form__input {
    font-size: 14px;
    line-height: 24px;
  }

  input,
  .large-button {
    width: 100%;
  }

  .auth-content {
    width: 296px;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  * {
    --gray-800: #1f2937;
    --Alice-Blue: #e6f2ff;
  }

  .join-page {
    margin-top: 190px;
  }

  body,
  .join-page,
  .join-content,
  .join-main,
  .join,
  form,
  .email-form__input,
  .password-form__input {
    display: flex;
    flex-direction: column;
  }

  body,
  .to-us,
  .join-page {
    justify-content: center;
    align-items: center;
  }

  .title {
    font-size: 66px;
    line-height: 89px;
  }

  .join-page {
    width: 640px;
    margin: 231px 640px;
    gap: 40px;
  }

  .join-content,
  .join-main,
  .join,
  form,
  .auth-content,
  .to-us {
    display: flex;
    font-family: "pretendard Variable", "Noto Sans Korean";
  }

  .join-content,
  .join-main,
  .join,
  form {
    width: 100%;
    gap: 24px;
  }

  form,
  .email-form__input,
  .password-form__input,
  .auth-sns {
    gap: 16px;
  }

  .email-form__input,
  .password-form__input {
    font-weight: 700;
    font-size: 18px;
    color: var(--gray-800);
    line-height: 26px;
  }

  input,
  button,
  .simple-auth {
    width: 640px;
    gap: 10px;
    display: flex;
  }

  input,
  button {
    height: 56px;
  }

  input {
    border: none;
    border-radius: 12px;
    padding: 16px 24px;
    color: var(--gray-400);
    background-color: var(--gray-100);
  }

  input:focus {
    border: 2px solid var(--primary);
    outline: none;
  }

  .large-button {
    background-color: var(--gray-400);
    color: var(--gray-100);
    text-align: center;
  }

  .auth-sns,
  .auth-sns__icon,
  .simple-auth,
  .auth-content {
    display: flex;
    align-items: center;
  }

  .simple-auth {
    height: 74px;
    border-radius: 8px;
    padding: 16px 23px;
    background-color: var(--Alice-Blue);
  }

  .auth-content,
  .to-us {
    font-weight: 500;
  }

  .auth-content {
    width: 594px;
    justify-content: space-between;
    font-size: 16px;
    line-height: 26px;
    color: var(--gray-800);
  }

  .to-us {
    text-align: center;
    gap: 4px;
    font-size: 14px;
  }

  .us-message {
    line-height: 24px;
    color: var(--gray-800);
  }

  .us-link {
    line-height: 17px;
    color: var(--primary);
  }
}

@media (min-width: 1200px) {
  * {
    --gray-800: #1f2937;
    --Alice-Blue: #e6f2ff;
  }

  .join-page {
    margin-top: 190px;
  }

  body,
  .join-page,
  .join-content,
  .join-main,
  .join,
  form,
  .email-form__input,
  .password-form__input {
    display: flex;
    flex-direction: column;
  }

  body,
  .to-us,
  .join-page {
    justify-content: center;
    align-items: center;
  }

  .title {
    font-size: 66px;
    line-height: 89px;
  }

  .join-page {
    width: 640px;
    margin: 231px 640px;
    gap: 40px;
  }

  .join-content,
  .join-main,
  .join,
  form,
  .auth-content,
  .to-us {
    display: flex;
    font-family: "pretendard Variable", "Noto Sans Korean";
  }

  .join-content,
  .join-main,
  .join,
  form {
    width: 100%;
    gap: 24px;
  }

  form,
  .email-form__input,
  .password-form__input,
  .auth-sns {
    gap: 16px;
  }

  .email-form__input,
  .password-form__input {
    font-weight: 700;
    font-size: 18px;
    color: var(--gray-800);
    line-height: 26px;
  }

  input,
  button,
  .simple-auth {
    width: 640px;
    gap: 10px;
    display: flex;
  }

  input,
  button {
    height: 56px;
  }

  input {
    border: none;
    border-radius: 12px;
    padding: 16px 24px;
    color: var(--gray-400);
    background-color: var(--gray-100);
  }

  input:focus {
    border: 2px solid var(--primary);
    outline: none;
  }

  .large-button {
    background-color: var(--gray-400);
    color: var(--gray-100);
    text-align: center;
  }

  .auth-sns,
  .auth-sns__icon,
  .simple-auth,
  .auth-content {
    display: flex;
    align-items: center;
  }

  .simple-auth {
    height: 74px;
    border-radius: 8px;
    padding: 16px 23px;
    background-color: var(--Alice-Blue);
  }

  .auth-content,
  .to-us {
    font-weight: 500;
  }

  .auth-content {
    width: 594px;
    justify-content: space-between;
    font-size: 16px;
    line-height: 26px;
    color: var(--gray-800);
  }

  .to-us {
    text-align: center;
    gap: 4px;
    font-size: 14px;
  }

  .us-message {
    line-height: 24px;
    color: var(--gray-800);
  }

  .us-link {
    line-height: 17px;
    color: var(--primary);
  }
}
