

/* pc에 대한 스타일 */
@media (min-width: 1200px){
    header {
        padding: 0 12.5em;
    }

    .bg_img {
        display: flex;
        align-items: center;
        background-position: 72% bottom;
        background-size: 42%;
    }

    .bg_img > .container {
        padding: 8.75em 0 0 5em;
    }

    #second_section {
        padding-bottom: 8.625em;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #check {
        width: 50%;
    }

    .main_menu {
        margin: 8.6em 0;
        display: flex;
        align-items: center;
        gap: 3.125em;
        width: 988px;
    }

    .main_menu:nth-child(2) {
        flex-direction: row-reverse;
    }

    #third_section .container h1 {
        position: relative;
        left: 100px;
    }
}

/* tablet에 대한 스타일 */
@media (max-width: 1199px) {
    header {
        padding: 0 1.5em;
    }

    .bg_img {
        background-size: 110%;
        text-align: center;
        background-position: bottom;
    }

    .bg_img .container h1{
        padding-top: 184px;
        padding-bottom: 24px;
    }

    #first_section .container h1 br{
        display: none;
    }

    .main_menu {
        padding-top: 20px;
        padding-bottom: 16px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .text h1 br {
        display: none;
    }
    

}

body {
    overflow-x: hidden;
}

header {
    background-color: #ffffff;
    border-bottom: 1px solid #dfdfdf;
    height: 4.375em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: fixed;
}   

#header_logo {
    width: 9.5625em;
}

.a_button {
    color: #ffffff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: var(--blue);
    font-weight: 600;
}

#login {
    font-size: 1rem;
    line-height: 1.1625rem;
    border-radius: 0.5rem;
    padding: 0.75em 1.4375em;
}

#first_section {
    background-image: url('../images/main/main.png');
    width: 100%;
}

.container {
    margin: 0 auto;
    width: 100%;
    max-width: 75em;
}

.bg_img {
    background-color: #cfe5ff;
    background-repeat: no-repeat;
    height: 33.75em;
}


h1 {
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 3.5rem;
    color: var(--gray700);
}

#items {
    margin-top: 30px;
    font-size: 1.25rem;
    border-radius: 40px;
    padding: 1em 7.75em;
    height: 3.5em;
}

.main_menu img {
    width: 100%;
}

.title {
    color: var(--blue);
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.625rem;
    margin-bottom: 0.625em;
}

.text {
    flex: 1 1 auto;
}

.explain {
    color: var(--gray700);
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 2rem;
    margin-top: 1.25em;
}

#search {
    text-align: right;
}

#third_section {
    background-image: url('../images/main/end.png');
}

#third_section.bg_img {
    background-position: 68% bottom;
}

footer {
    background-color: var(--gray900);
    color: var(--gray400);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    padding: 2em 15.5em 6.25em 15.5em;
}

#menu {
    display: flex;
    gap: 1.5625em;
}

.f_button {
    color: var(--gray200);
}

.social {
    display: flex;
    gap: 0.9375em;
}