.nickname-form__input {
  display: flex;
  gap: 16px;
  flex-direction: column;
  font-weight: 700;
  font-size: 18px;
  color: var(--gray-800);
  line-height: 21px;
}

@media (min-width: 365px) and (max-width: 767px) {
  .join-page {
    margin-top: 24px;
    gap: 24px;
  }

  .email-form__input,
  .password-form__input,
  .nickname-form__input,
  .password-form__input {
    font-size: 14px;
    line-height: 16px;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .nickname-form__input {
    display: flex;
    gap: 16px;
    flex-direction: column;
    font-weight: 700;
    font-size: 18px;
    color: var(--gray-800);
    line-height: 21px;
  }
}

@media (min-width: 1200px) {
  .nickname-form__input {
    display: flex;
    gap: 16px;
    flex-direction: column;
    font-weight: 700;
    font-size: 18px;
    color: var(--gray-800);
    line-height: 21px;
  }
}
