@charset "UTF-8";
@import url(normalize.css);
@import url(reset.css);
@import url(common.css);
/* Header */
header {
  /* [Srpint2] 헤더 GNB를 위해 position sticky 추가 */
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 7rem;
  /* 로고 & 로그인 버튼 여백 200px 유지하기 위해 rem 사용 X */
  padding: 0.8rem 200px;
  background-color: #fff;
}
header .logo {
  width: 15.3rem;
  height: 5.1rem;
}
header .logo-img {
  display: block;
  width: 100%;
  height: 100%;
}
header .link-login {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12.8rem;
  height: 4.8rem;
  border-radius: 0.8rem;
  background-color: var(--primary100);
  font-size: 1.6rem;
  font-weight: var(--semiBold);
  line-height: 2.6rem;
  color: var(--gray100);
}
header .link-login:hover {
  background-color: var(--primary200);
}
header .link-login:active {
  background-color: var(--primary300);
}

/* Main & Section */
.section-layout {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 72rem;
}
.section-layout .section-wrap {
  display: flex;
  width: 112rem;
  justify-content: center;
}
.section-layout .section-content {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1.2rem;
  background-color: #fcfcfc;
}
.section-layout .section-content .img-home,
.section-layout .section-content .img-homt {
  max-width: 74.6rem;
}
.section-layout .section-title {
  font-size: 4rem;
  font-weight: var(--bold);
  line-height: 5.6rem;
  color: var(--gray700);
}
.section-layout .section-title.mb-60 {
  margin-bottom: 6rem;
}
.section-layout-bg {
  align-items: end;
  height: 54rem;
  background-color: #cfe5ff;
}
.section-layout-bg .section-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-radius: 0;
  background-color: transparent;
}
.section-layout-bg .section-content-inner {
  margin-bottom: 6rem;
}
.section-layout-bg .section-content-inner .link-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35.7rem;
  height: 5.6rem;
  margin-top: 3.2rem;
  border-radius: 4rem;
  background-color: var(--primary100);
  font-size: 2rem;
  font-weight: var(--semiBold);
  line-height: 3.2rem;
  color: var(--gray50);
}
.section-layout-bg .section-content-inner .link-item:hover {
  background-color: var(--primary200);
}
.section-layout-bg .section-content-inner .link-item:active {
  background-color: var(--primary300);
}
.section-layout-card .section-content {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 98.8rem;
  border-radius: 1.2rem;
  background-color: #fcfcfc;
}
.section-layout-card .section-content img {
  display: none;
}
.section-layout-card .section-content img.img-pc {
  display: block;
  width: 57.9rem;
  height: 44.4rem;
}
.section-layout-card .section-content-inner {
  display: flex;
  flex-grow: 1;
  margin-left: 6.4rem;
}
.section-layout-card .section-content-inner > * {
  width: -moz-fit-content;
  width: fit-content;
}
.section-layout-card .section-content .badge {
  margin-bottom: 1.2rem;
  font-size: 1.8rem;
  font-weight: var(--bold);
  line-height: 2.6rem;
  color: var(--primary100);
}
.section-layout-card .section-content .section-desc {
  margin-top: 2.4rem;
  font-size: 2.4rem;
  font-weight: var(--medium);
  line-height: 3.2rem;
  color: var(--gray700);
}
.section-layout-card:nth-child(2n+1) .section-content-inner {
  margin-left: 1.4rem;
  text-align: right;
}

/* Footer */
footer {
  background-color: var(--gray900);
}
footer .footer-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 112rem;
  margin: 0 auto;
  padding: 3.2rem 0 10.8rem;
}
footer .footer-wrap > div {
  font-size: 1.6rem;
  font-weight: var(--normal);
}
footer .footer-wrap .corp {
  color: var(--gray400);
}
footer .footer-wrap .links {
  display: flex;
  gap: 0 3rem;
}
footer .footer-wrap .links a {
  color: var(--gray200);
}
footer .footer-wrap .sns {
  display: flex;
  gap: 0 2rem;
}
footer .footer-wrap .sns a {
  display: block;
  width: 2rem;
  height: 2rem;
}
footer .footer-wrap .sns a img {
  display: block;
  width: 100%;
  height: 100%;
}

/* BreakPoint Tablet */
@media (max-width: 1199px) {
  header {
    padding: 0.8rem 2.4rem;
  }
  .section-layout {
    height: auto;
  }
  .section-layout .section-wrap {
    width: 100%;
  }
  .section-layout:not(:nth-child(5)) .section-title br {
    display: none;
  }
  .section-layout-bg .section-content {
    flex-direction: column;
  }
  .section-layout-bg .section-content-inner {
    text-align: center;
  }
  .section-layout-bg .section-content-inner .link-item {
    margin: 2.4rem auto 0;
  }
  .section-layout-bg.top .section-content-inner {
    margin-bottom: 21.1rem;
    padding-top: 8.4rem;
  }
  .section-layout-bg.bottom {
    margin-bottom: 21.7rem;
    padding-top: 20.1rem;
  }
  .section-layout-card {
    margin: 2.4rem 2.4rem 5.6rem;
  }
  .section-layout-card .section-content {
    flex-direction: column;
    align-items: start;
    gap: 2.4rem 0;
    width: 69.6rem;
  }
  .section-layout-card .section-content-inner {
    margin-left: 0;
  }
  .section-layout-card .section-content img.img-pc {
    display: none;
  }
  .section-layout-card .section-content img.img-tablet {
    display: block;
  }
  .section-layout-card .section-content .section-title {
    margin-top: 1.6rem;
    font-size: 3.2rem;
    line-height: 4rem;
  }
  .section-layout-card .section-content .section-desc {
    font-size: 1.8rem;
    line-height: 2.6rem;
  }
  .section-layout-card:nth-child(2n+1) .section-content {
    flex-direction: column-reverse;
    align-items: end;
  }
  footer .footer-wrap {
    padding: 3.2rem 10.4rem 10.8rem;
  }
  footer .footer-wrap .sns {
    gap: 0 1.2rem;
  }
}
/* BreakPoint Mobile */