.root_layout {
  display: flex;
  justify-content: center;
}
/* 메인 - 로고 */
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 640px;
}
.main_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 22px;
  padding-top: 0;
  padding-bottom: 40px;
}
.main_logo > a {
  font-size: 66px;
  font-weight: 700;
  line-height: 90px;
  color: var(--blue);
}
/* 메인 - 섹션 */
.main > section {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}
/* 로그인폼 */
.login_form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.login_input {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.login_input > label {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  color: var(--gray800);
}
.login_input > input {
  padding: 16px 24px;
  background-color:var( --gray100);
  border-radius: 12px;
} 
.login_input > input ::placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
.login_input > input :focus {
  border: 1px solid var(--blue)
}
.login_input > input :not(focus) {
  border: none
}
.login_input .login_input_pw {
  position: relative;
}
.password_toggle{
  position: absolute;
  top: 16px;
  right: 24px;
}
#login_button {
  padding: 16px 124px;
  border-radius: 40px;
  background-color: var(--gray400);
 
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
  text-align: center;
  color: var( --gray100);
}
/* 간편 로그인하기 */
.social_login {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 23px;
  border-radius: 8px;
  background-color: #E6F2FF;
}
.social_login > p {
  margin: 0;

  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  color: var(--gray800);
}
.social_media_icon{
  display: flex;
  gap: 16px;
}
/* 회원가입 연결 */
.signup_link{
  display: flex;
  justify-content:center;
  align-items: center;
  gap: 4px;
}
.signup_link > p{
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  color: var(--gray800);
}
.signup_link > a{
  text-decoration: underline;
  color: var(--blue);
}
/* 반응형 디자인 */
@media (375px < width < 767px) {
  .root_layout {
    padding: 0px 16px;
  }
  .main {
    max-width: 400px;
  }
  .main_logo > img {
    width: 52px;
    height: 52px;
  }
  .main_logo > a {
  font-size: 33.17px;
  font-weight: 700;
  line-height: 44.78px;
  }
}