.root_layout {
  display: flex;
  justify-content: center;
}
/* 메인 - 로고 */
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 640px;
}
.main_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 22.4px;
  padding-top: 0;
  padding-bottom: 40px;
}
.main_logo > a {
  font-size: 66.34px;
  font-weight: 700;
  line-height: 89.56px;
  text-align: left;
  color: #3692FF;
}
/* 메인 - 섹션 */
.main > section {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}
/* 회원가입폼 */
.signup_form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.signup_input {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.signup_input > label {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-align: left;
  color: #1F2937;
}
.signup_input > input {
  padding: 16px 24px;
  background-color:#F3F4F6;
  border-radius: 12px;
} 
.signup_input > input ::placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
}
.signup_input > input :focus {
  border: 1px solid #3692FF
}
.signup_input > input :not(focus) {
  border: none
}
.signup_input .signup_input_pw {
  position: relative;
}
.password_toggle{
  position: absolute;
  top: 16px;
  right: 24px;
}
#signup_button {
  display: block;
  padding: 16px, 124px;
  border-radius: 40px;
  background-color: #9CA3AF;
 
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
  text-align: center;
  color: #F3F4F6;
}
/* 간편 로그인하기 */
.social_login {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 23px;
  border-radius: 8px;
  background-color: #E6F2FF;
}
.social_login > p {
  margin: 0;

  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  text-align: left;
  color: #1F2937;
}
.social_media_icon{
  display: flex;
  gap: 16px;
}
/* 로그인 연결 */
.login_link{
  display: flex;
  justify-content:center;
  align-items: center;
  gap: 4px;
}
.login_link > p{
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  color: #1F2937;
}
.login_link > a{
  text-decoration: underline;
  color: #3692FF;
}