@import url(style.css);

body {
  background-color: #FCFCFC;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.login-container,
.signup-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;

  width: 640px;
}



/* Logo start */
.logo-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 22px;
}

.logo-icon {
  width: 103.53px;
}

.logo-text {
  font-family: 'ROKAF Sans';
  font-size: 66.34px;
  font-weight: 700;
  color: var(--blue);
}

/* Logo end */



/* form start */
#login-form,
#signup-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  width: 100%;
}

#input-email,
#input-password,
#input-nickname,
#input-password-repeat {
  background-color: var(--gray-200);
  width: 100%;
  padding: 16px 24px;
  border: none;
  border-radius: 12px;

  color: var(--gray-800);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

#input-email::placeholder,
#input-password::placeholder,
#input-nickname::placeholder,
#input-password-repeat::placeholder {
  color: var(--gray-400);
}

#input-email:focus-visible,
#input-password:focus-visible,
#input-nickname:focus-visible,
#input-password-repeat:focus-visible {
  outline-color: var(--blue);
}

label[for="input-email"],
label[for="input-password"],
label[for="input-nickname"],
label[for="input-password-repeat"] {
  display: block;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: var(--gray-800);
  margin-bottom: 16px;
}

input.warning{
  outline-style: solid;
  outline-width: 1px;
  outline-color: #F74747;
}

.input-alert{
  margin-left: 16px;
  font-size: 14px;
  font-weight: 600;
}

.input-alert.warning{
  margin-top: 8px;
  color: #F74747;
}

.input-fieldset {
  width: 100%;
  border: none;
  position: relative;
}

.visibility-btn {
  position: absolute;
  top: 58px;
  right: 24px;

  color: var(--gray-600);

  cursor: pointer;
}

.visibility-btn img.hide {
  display: none;
}

#login-submit-btn,
#signup-submit-btn {
  background-color: var(--gray-400);
  width: 100%;
  padding: 16px 124px;
  border: none;
  border-radius: 40px;

  color: var(--gray-200);
  font-size: 20px;
  font-weight: 600;

  cursor: no-drop;
}

#login-submit-btn.active,
#signup-submit-btn.active {
  background-color: var(--blue);
  color: var(--gray-100);

  cursor: pointer;
}

/* form end */



/* social start */
.social-login {
  display: flex;
  align-items: center;
  gap: 10px;

  background-color: #E6F2FF;
  width: 100%;
  padding: 16px 23px;
  border-radius: 8px;
}

.social-login p {
  flex-grow: 1;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
}

.social-login-btn {
  height: 42px;
}

/* social end */



/* signup start */
.goto-wrap {
  color: var(--gray-800);
  font-size: 14px;
  font-weight: 500;
}

.goto-wrap a {
  color: var(--blue);
  text-decoration: underline;
}

/* signup end */



/* mobile viewport */
@media screen and (max-width : 767px) {
  .logo-wrap {
    gap: 12px;
  }

  .logo-icon {
    width: 52px;
  }

  .logo-text {
    font-size: 33px;
  }

  .login-container,
  .signup-container {
    padding: 0 16px;
    max-width: 432px;
  }

  #input-email,
  #input-password,
  #input-nickname,
  #input-password-repeat {
    margin-bottom: 16px;
  }

  label[for="input-email"],
  label[for="input-password"],
  label[for="input-nickname"],
  label[for="input-password-repeat"] {
    margin-bottom: 8px;
    font-size: 14px;
    line-height: 17px;
  }

  .visibility-btn {
    top: 42px;
  }
}