@import url(style.css);

body{
  background-color : #FCFCFC;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.login-container,
.signup-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;

  width: 640px;
}



/* Logo start */
.logo-wrap{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 396px;
}

.logo-icon{
  width: 103.53px;
}

.logo-text{
  font-family : 'ROKAF Sans';
  font-size: 66.34px;
  font-weight: 700;
  color: var(--blue);
}
/* Logo end */



/* form start */
#login-form,
#signup-form{
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  position: relative;
  width: 100%;
}

#input-email,
#input-password,
#input-nickname,
#input-password-repeat{
  background-color: var(--gray-200);
  width: 100%;
  padding: 16px 24px;
  border: none;
  border-radius: 12px;
  margin-bottom: 24px;

  color: var(--gray-800);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

#input-email::placeholder,
#input-password::placeholder,
#input-nickname::placeholder,
#input-password-repeat::placeholder{
  color: var(--gray-400);
}

#input-email:focus-visible,
#input-password:focus-visible,
#input-nickname:focus-visible,
#input-password-repeat:focus-visible{
  outline-color: var(--blue);
}

label[for="input-email"],
label[for="input-password"],
label[for="input-nickname"],
label[for="input-password-repeat"]{
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: var(--gray-800);
  margin-bottom: 16px;
}

.visible-btn{
  position: absolute;
  right: 24px;
  top: 180px;

  width: 30px;
  text-align: center;

  color: var(--gray-600);
  font-size: 24px;
}

.visible-btn i{
  display: none;
}

.visible-btn i.active{
  display: block;
}

.visible-btn.first{
  top: 302px;
}

.visible-btn.second{
  top: 424px;
}

#login-submit-btn,
#signup-submit-btn{
  background-color: var(--gray-400);
  width: 100%;
  padding: 16px 124px;
  border: none;
  border-radius: 40px;

  color: var(--gray-200);
  font-size: 20px;
  font-weight: 600;
}
/* form end */



/* social start */
.social-login{
  display: flex;
  align-items: center;
  gap: 10px;

  background-color: #E6F2FF;
  width: 100%;
  padding: 16px 23px;
  border-radius: 8px;
}

.social-login p{
  flex-grow: 1;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
}

.social-login-btn{
  height: 42px;
}
/* social end */



/* signup start */
.goto-wrap{
  color: var(--gray-800);
  font-size: 14px;
  font-weight: 500;
}

.goto-wrap a{
  color: var(--blue);
  text-decoration: underline;
}
/* signup end */