@import url(common.css);

.body_1 {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    align-items: center;
}

.section-container {
    display: flex;
    flex-direction: column;
    width: 640px;
    gap: 40px;
    align-items: center;
}

p {
    color: #1F2937;
    font-size: 18px;
    font-weight: 700;
    margin: 0;
}

label {
    color: #1F2937;
    font-size: 18px;
    font-weight: 700;
    margin: 0;
}

.login-total-container {
    display: flex;
    flex-direction: column;
    width: 640px;
    gap: 24px;
}

.login-main {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.login-main-input {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.login-main-input-email,
.login-main-input-password {
    display: flex;
    flex-direction: column;
    gap: 16px
}

.login-main-input-password-container {
    display: flex;
    border: 1px solid #F3F4F6;
    height: 22px;
    background-color: #F3F4F6;
    border-radius: 12px;
    padding: 16px 24px;
}

.email-input {
    border: 1px solid #F3F4F6;
    height: 22px;
    background-color: #F3F4F6;
    border-radius: 12px;
    padding: 16px 24px;
}

.password-input {
    border-style: none;
    background-color: #F3F4F6;
    width: 100%;
}

.email-input::placeholder,
.password-input::placeholder{
    display: flex;
    color: #9CA3AF;
    font-size: 16px;
}

.email-input:focus,
.password-input:focus {
    border-color: #3692FF;
    outline: none;
}

.input-error {
    border-color: #F74747;
}

.error-message {
    color: #F74747;
    font-size: 14px;
    padding-left: 16px;
}

.login-main-button {
    background-color: #9CA3AF;
    color: #F3F4F6;
    font-size: 20px;
    font-weight: 600;
    border-width: 0;
    border-radius: 40px;
    padding: 16px 124px 16px 124px;
}

.login-main-button:hover {
    background-color: #3692FF;
    cursor: pointer;
}

.login-main-button:disabled:hover {
    background-color: #9CA3AF;
    cursor: not-allowed;
}

.login-simple-login {
    background-color: #E6F2FF;
    border-radius: 8px;
    padding: 16px 23px;
    width: 100%;
    box-sizing: border-box;
}

.login-simple-login-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.login-simple-login-description {
    font-size: 16px;
    font-weight: 500;
    color: #1F2937;
}

.login-simple-login-link {
    display: flex;
    gap: 16px;
}

.login-first {
    display: flex;
    gap: 4px;
    align-items: center;
    justify-content: center;
}

.login-signup-question {
    color: #1F2937;
    font-size: 14px;
    font-weight: 500;
}

.login-signup-link {
    color: #3692FF;
    font-size: 14px;
    font-weight: 500;
}

@media (max-width: 767px) { 
    .section-container {
        padding: 0 16px;
        max-width: 400px;
        width: 100%;
        box-sizing: border-box;
    }

    .login-total-container {
        width: 100%;
    }

    .big-logo {
        width: 198px;
        height: 66px;
    }
}