@import url(common.css);

.top {
    display: flex;
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    background-color: #ffffff;
    height: 70px;
    padding: 9px 400px 9px 400px;
    justify-content: center;
    align-items: center;
}


@media (min-width: 768px) and (max-width: 1199px) {
    .top {
        padding: 0 24px 0 24px;
    }
}

.top-nav {
    flex : 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.top-nav-logo {
    width: 153px;
    height: 51px;
}

.btn-login {
    font-family: "Pretendard-Regular";
    background-color: #3692FF;
    border: 1px solid #fff;
    width: 128px;
    height: 48px;
    padding: 12px 23px 12px 23px;
    border-radius: 8px;
    font-size: 16px;
    line-height: 26px;
    font-weight: 500;
    color: #fff;
}

.btn-login:hover,
.btn-catalog:hover {
    cursor: pointer;
}

.body_1 {
    padding-top: 70px;
}

.header {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: flex-end;
    background-color: #CFE5FF;
    align-items: center;
    height: 540px;  
}

@media (min-width: 768px) and (max-width: 1199px) {
    .header {
        height: 771px;
        padding-top: 84px;
    }
}

.header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 7px;
}


@media (min-width: 768px) and (max-width: 1199px) {
    .header-container {
        flex-direction: column;
        gap: 211px;
    }
}

.header-banner {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding : 0px 0px 60px 0px;
}


@media (min-width: 768px) and (max-width: 1199px) {
    .header-banner {
        padding-bottom: 0;
    }
}

.header-description {
    font-size: 40px;
    font-weight: 700;
    line-height: 56px;
    color: #374151;
}



@media (min-width: 768px) and (max-width: 1199px) {
    .header-description {
        text-align: center;
        font-size: 40px;
        line-height: 56px;
        white-space: nowrap;
    }
}

.btn-catalog {
    font-family: "Pretendard-Regular";
    background-color: #3692ff;
    border: 1px solid #CFE5FF;
    border-radius: 40px;
    padding: 16px 124px 16px 124px;
    color: #F3F4F6;
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}


@media (min-width: 768px) and (max-width: 1199px) {
    .btn-catalog {
        width: 357px;
        height: 56px;
        padding: 16px 124px 16px 124px;
        font-size: 20px;
        white-space: nowrap;
    }
}

.header-image {
    width: 746px;
    height: 340px;
}


@media (min-width: 768px) and (max-width: 1199px) {
    .header-image {
        width: 744px;
        height: 340px;
    }
}

.section-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
}


@media (min-width: 768px) and (max-width: 1199px) {
    .section-container {
        padding: 24px 0 56px 0;
        gap: 52px;
    }
}

.section-hotitem,
.section-search,
.section-register {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    background-color: #ffffff;
    padding: 138px 0 138px 0;
    justify-content: center;
    align-items: center;
}


@media (min-width: 768px) and (max-width: 1199px) {
    .section-hotitem,
    .section-search,
    .section-register {
        flex-direction: column;
        padding: 0;
    }
}

.section-banner {
    display: flex;
    gap: 64px;
}


@media (min-width: 768px) and (max-width: 1199px) {
    .section-banner {
        flex-direction: column;
        gap: 24px;
    }
}

.section-hotitem-image,
.section-search-image,
.section-register-image {
    width: 579px;
    height: 444px;
}

@media (max-width : 767px) {
    .section-hotitem-image,
    .section-search-image,
    .section-register-image {
        width: 344px;
        height: 259px;
    }
}

@media (min-width: 768px) and (max-width: 1199px) {
    .section-hotitem-image,
    .section-search-image,
    .section-register-image {
        width: 696px;
        height: 524px;
    }
}

.section-hotitem-container,
.section-register-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: center;
}

@media (max-width : 767px) {
    .section-hotitem-container,
    .section-register-container {
        gap: 8px;
    }
}

@media (min-width: 768px) and (max-width: 1199px) {
    .section-hotitem-container,
    .section-register-container {
        gap: 16px;
    }
}

.section-hotitem-description,
.section-search-description,
.section-register-description {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

@media (max-width : 767px) {
    .section-hotitem-description {
        gap: 16px;
    }
}

@media (min-width: 768px) and (max-width: 1199px) {
    .section-hotitem-description {
        gap: 24px;
    }
}

.section-search-container {
    text-align: right;
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: center;
}

p {
    margin: 0;
}

.section-title {
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    color: #3692FF;
}

@media (max-width : 767px) {
    .section-title {
        font-size: 16px;
        line-height: 26px;
    }
}

@media (min-width: 768px) and (max-width: 1199px) {
    .section-title {
        font-size: 18px;
    }
}

.section-hotitem-description-Bold,
.section-search-description-Bold,
.section-register-description-Bold {
    font-size: 40px;
    font-weight: 700;
    line-height: 56px;
}

@media (max-width : 767px) {
    .section-hotitem-description-Bold, 
    .section-search-description-Bold,
    .section-register-description-Bold {
        font-size: 24px;
        line-height: 32px;
        white-space: nowrap;
    }
}

@media (min-width: 768px) and (max-width: 1199px) {
    .section-hotitem-description-Bold, 
    .section-search-description-Bold,
    .section-register-description-Bold {
        font-size: 32px;
        line-height: 42px;
        white-space: nowrap;
    }
}

.section-hotitem-description-regular,
.section-search-description-regular,
.section-register-description-regular {
    font-size: 24px;
    line-height: 32px;
}

@media (max-width : 767px) {
    .section-hotitem-description-regular,
    .section-search-description-regular,
    .section-register-description-regular {
        font-size: 16px;
        line-height: 26px;
    }
}

@media (min-width: 768px) and (max-width: 1199px) {
    .section-hotitem-description-regular,
    .section-search-description-regular,
    .section-register-description-regular {
        font-size: 18px;
    }
}

.bottom {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: flex-end;
    background-color: #CFE5FF;
    align-items: center;
    height: 540px; 
}

@media (min-width: 768px) and (max-width: 1199px) {
    .bottom {
        height: 927px;
    }
}

@media (max-width: 767px) {
    .bottom-image {
        width: 375px;
        height: 198px;
    }
}

@media (min-width: 768px) and (max-width: 1199px) {
    .bottom-image {
        width: 744px;
        height: 397px;
    }
}

.bottom-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 69px;
}

@media (max-width: 767px) {
    .bottom-container {
        flex-direction: column;
    }
}

@media (min-width: 768px) and (max-width: 1199px) {
    .bottom-container {
        flex-direction: column;
        gap: 150px;
    }
}

.bottom-banner {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding : 0px 0px 60px 0px;
}

.bottom-description {
    font-size: 40px;
    font-weight: 700;
    line-height: 56px;
    color: #374151;
}

@media (max-width: 767px) {
    .bottom-description {
        font-size: 32px;
        line-height: 44.8px;
        text-align: center;
    }
}

@media (min-width: 768px) and (max-width: 1199px) {
    .bottom-description {
        font-size: 40px;
        line-height: 56px;
        text-align: center;
    }
}

.footer {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    background-color: #111827;
    padding: 32px 400px 32px 400px;
    justify-content: center;
    align-items: center;
}

@media (max-width: 767px) {
    .footer {
        padding: 40px 0 0 0;
    }
}

@media (min-width: 768px) and (max-width: 1199px) {
    .footer {
        padding: 32px 104px 108px 104px
    }
}

.footer-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.footer-codeit {
    color: #9CA3AF;
    font-size: 16px;
    font-weight: 400;
}

.footer-Privacy_FAQ {
    display: flex;
    gap: 30px;
}

a {
    color: #E5E7EB;
    font-weight: 400;
    font-size: 16px;
    text-decoration-line: none;
}

@media (max-width: 767px) {
    .top {
        padding: 0 16px 0 16px;
    }

    .header {
        padding-top: 48px;
    }

    .header-container {
        flex-direction: column;
        gap: 132px;
    }

    .header-banner {
        padding-bottom: 0;
    }

    .header-description {
        text-align: center;
        font-size: 32px;
        line-height: 44.8px;
    }

    .btn-catalog {
        width: 240px;
        height: 48px;
        padding: 12px 71px 12px 71px;
        font-size: 18px;
        white-space: nowrap;
    }

    .header-image {
        width: 448px;
        height: 204px;
    }

    .section-container {
        padding: 52px 0 83px 0;
        gap: 40px;
    }

    .section-hotitem,
    .section-search,
    .section-register {
        flex-direction: column;
        padding: 0;
    }

    .section-banner {
        flex-direction: column;
        gap: 24px;
    }
}