.dropdownList {
	position: absolute;
  right: 0;
  background: #fff;
  border-radius: 8px;
  border: 1px solid #e5e7eb;
  z-index: 10;
}

.dropdownItem {
	padding: 12px 44px;
  border-bottom: 1px solid #e5e7eb;
  font-size: 16px;
  cursor: pointer;
}