.best-container {
  width: 62%;
  margin: 0 auto;
  overflow: hidden;
  margin-bottom: 40px;
}

.title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: var(--color-blue-100);
  margin-bottom: 24px;
}

.best-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}

.article-box {
  display: flex;
  flex-direction: column;
  background-color: var(--color-white-100);
  width: 384px;
  height: 169px;
  border-radius: 8px;
  gap: 10px;
  padding: 0 24px;
}

.best-sticker {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-blue-200);
  width: 102px;
  height: 30px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  gap: 5px;
}

.best-img {
  width: 16px;
  height: 16px;
}

.best-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  color: var(--color-white-200);
}

.title-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

.article-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  color: var(--color-blue-300);
  white-space: nowrap;
}

.product-img {
  width: 72px;
  height: 72px;
  border: 1px solid var(--color-white-300);
  border-radius: 6px;
  object-fit: contain;
}

.info-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nickname {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: var(--color-blue-400);
  margin-right: 8px;
}

.info-img {
  width: 16px;
  height: 16px;
  margin-right: 4px;
}

.like-count {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: var(--color-blue-500);
}

.create-date {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: var(--color-blue-600);
}

@media screen and (max-width: 744px) {
  .bestContainer {
    width: 100%;
    padding: 0 24px;
    margin-bottom: 24px;
  }

  .bestBox {
    gap: 16px;
  }

  .articleBox {
    width: 340px;
    height: 198px;
    padding: 0 16px 24px;
  }

  .titleBox {
    gap: 40px;
  }

  .articleTitle {
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
  }
}

/* 반응형 - Mobile */
@media screen and (max-width: 376px) {
  .bestContainer {
    width: 100%;
    padding: 0 16px;
  }

  .title {
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 16px;
  }

  .articleBox {
    width: 343px;
    height: 198px;
    gap: 16px;
    padding: 0 16px 24px;
  }

  .titleBox {
    gap: 40px;
  }

  .articleTitle {
    font-size: 18px;
    line-height: 26px;
  }
}
