.best-article-container {
  display: grid;
  /* grid-template-columns: repeat(1, 1fr); */
  gap: 24px;
  margin-bottom: 40px;
}

.best-article-container h1 {
  font-size: 20px;
  color: #111827;
}

.best-article-container ul {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  overflow-x: hidden;
}

.best-article-container li {
  list-style: none;
  width: 384px;
  height: 169px;
  flex-shrink: 0;
  border-radius: 8px;
  padding: 0 24px;
  background-color: #f9fafb;
}

.title {
  width: 256px;
}

.article-image {
  border: 1px solid #e5e7eb;
  background-color: #ffffff;
}

.title-image {
  display: flex;
  align-items: center;
}

.title-image p {
  font-size: 20px;
  line-height: 32px;
  font-weight: 600;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 26px;
}

.info-left {
  display: flex;
  gap: 8px;
  align-items: center;
}

.likes {
  display: flex;
  align-items: center;
  gap: 4px;
  height: 16px;
}

.info span {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.info-left span {
  color: #4b5563;
}

.date {
  color: #9ca3af;
}
