.board-list-container {
  width: 62%;
  margin: 0 auto;
}

.title-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.title {
  font-weight: 700;
  font-size: 20px;
  line-height: 32px;
  color: var(--color-blue-300);
}

.write-button {
  border-radius: 8px;
  padding: 12px 23px;
  background-color: var(--color-blue-200);
  color: var(--color-white-200);
  font-weight: 600;
  font-size: 16px;
  border: none;
}

.search-box {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 16px;
  margin-bottom: 24px;
}

.search-bar {
  flex-grow: 1;
  flex-shrink: 1;
  height: 42px;
  border: none;
  border-radius: 12px;
  padding: 9px 20px 9px 44px;
  background-color: var(--color-white-400);
  background-image: url("/images/searchIcon.png");
  background-repeat: no-repeat;
  background-position: left 16px center;
  background-size: 20px;
}

.order-by-select {
  flex-shrink: 0;
  width: 130px;
  height: 42px;
  border: 1px solid var(--color-white-300);
  border-radius: 12px;
  padding: 10px 20px;
  gap: 10px;
  font-weight: 400;
  font-size: 16px;
  color: var(--color-blue-300);
}

.option {
  font-weight: 400;
  font-size: 16px;
  color: var(--color-blue-300);
}

.sort-icon {
  display: none;
}

.article-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.article-box {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid var(--color-white-300);
  height: 138px;
  background-color: var(--color-white-500);
}

.article-title-box {
  display: flex;
  justify-content: space-between;
  gap: 8px;
}

.article-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  color: var(--color-blue-300);
  margin: 0;
}

.product-img {
  width: 72px;
  height: 72px;
  border-radius: 8px;
  border: 1px solid var(--color-white-400);
  object-fit: contain;
}

.info-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-info-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

.user-profile {
  width: 24px;
  height: 24px;
}

.user-nickname {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: var(--color-blue-400);
}

.date {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: var(--color-blue-600);
}

.like-count-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

.heart {
  width: 24px;
  height: 24px;
}

.like-count {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: var(--color-blue-500);
}

/* 반응형 - Tablet */
@media screen and (max-width: 744px) {
  .boardListContainer {
    width: 100%;
    padding: 0 24px;
  }

  .titleBox {
    margin-bottom: 48px;
  }

  .searchBox {
    gap: 6px;
    margin-bottom: 40px;
  }
}

/* 반응형 - Mobile */
@media screen and (max-width: 376px) {
  .boardListContainer {
    width: 100%;
    padding: 0 16px;
  }

  .titleBox {
    margin-bottom: 16px;
  }

  .title {
    font-size: 18px;
    line-height: 26px;
  }

  .searchBox {
    gap: 13px;
    margin-bottom: 16px;
  }

  .orderBySelect {
    display: none;
  }

  .option {
    font-weight: 400;
    font-size: 16px;
    color: var(--color-blue-300);
  }

  .sortIcon {
    display: block;
  }

  .articleBox {
    height: 136px;
  }

  .articleTitle {
    font-size: 18px;
    line-height: 26px;
  }
}
