* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Pretendard', sans-serif;
  color: #374151;
}

a {
  text-decoration: none;
  color: inherit; /* 누른 링크 색깔 없애기 */
}

.error-message {
  display: block;
  margin: 8px 0 0 16px;
  color: #f74747;
  font-size: 14px;
  font-weight: 700;
}
