@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #111827;
}

body {
  color: var(--foreground);
  background: var(--background);
  @apply text-base;
}

.t-pc-br {
  display: none;
}
.pc-br {
  display: none;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .pc-br {
    display: block;
  }
  .t-pc-br {
    display: block;
  }
}
