.page-detail {
  max-width: 120rem;
  margin: 2.4rem auto 0;
  .product-detail-contents {
    position: relative;
    display: flex;
    gap: 1.6rem;
    margin-bottom: 4rem;
    padding-bottom: 4rem;
    border-bottom: 0.1rem solid var(--gray200);
    .menu {
      position: absolute;
      right: 0;
      top: 0;
    }
    .img-wrap {
      flex-shrink: 0;
      position: relative;
      width: 48.6rem;
      height: 48.6rem;
      border-radius: 1.6rem;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .desc-wrap {
      flex: 1;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      overflow: hidden;
      .detail {
        &-name {
          width: 100%;

          padding-right: 30px;

          font-size: 2.4rem;
          font-weight: var(--semiBold);
          line-height: 3.2rem;
          color: var(--gray800);

          overflow: hidden;
          text-overflow: ellipsis;
        }
        &-price {
          margin-bottom: 2.4rem;
          padding: 1.6rem 0;
          border-bottom: 0.1rem solid var(--gray200);
          font-size: 4rem;
          font-weight: var(--semiBold);
          color: var(--gray800);
        }
        &-description-wrap {
          .detail-description-title {
            margin-bottom: 1.6rem;
            font-size: 1.6rem;
            font-weight: var(--semiBold);
            line-height: 2.6rem;
            color: var(--gray600);
          }
          .detail-description {
            margin-bottom: 2.4rem;
            font-size: 1.6rem;
            line-height: 2.6rem;
            color: var(--gray600);
          }
        }
        &-tag-wrap {
          .detail-tag-title {
            margin-bottom: 1.6rem;
            font-size: 1.6rem;
            font-weight: var(--semiBold);
            line-height: 2.6rem;
            color: var(--gray600);
          }
          .detail-tags {
            display: flex;
            flex-wrap: wrap;
            gap: 0.8rem;
            .detail-tag {
              max-width: 150px;
              overflow: hidden;
              text-overflow: ellipsis;

              padding: 0.5rem 1.6rem;
              border-radius: 2.6rem;
              background-color: var(--gray100);
              font-size: 1.6rem;
              line-height: 2.6rem;
              color: var(--gray800);
            }
          }
        }
        &-footer {
          display: flex;
          margin: auto 0 0;
          padding-top: 4rem;
          justify-content: space-between;
          align-items: center;
          .owner-wrap {
            display: flex;
            align-items: center;
            gap: 0 1.6rem;
            .owner-icon {
              position: relative;
              width: 4rem;
              height: 4rem;
            }
            .owner-desc {
              .owner-name {
                margin-bottom: 0.2rem;
                font-size: 1.4rem;
                font-weight: var(--medium);
                line-height: 2.4rem;
                color: var(--gray600);
              }
              .date-update {
                font-size: 1.4rem;
                line-height: 2.4rem;
                color: var(--gray400);
              }
            }
          }
          .btn-favorite {
            position: relative;
            display: flex;
            align-items: center;
            gap: 0 0.4rem;
            padding: 0.4rem 1.2rem 0.2rem;
            border-radius: 3.5rem;
            border: 0.1rem solid var(--gray200);
            background-color: var(--white);
            &::before {
              content: "";
              position: absolute;
              top: 0;
              left: -2.4rem;
              width: 0.1rem;
              height: 100%;
              background-color: var(--gray200);
            }
            div {
              position: relative;
              width: 3.2rem;
              height: 3.2rem;
            }
            span {
              font-size: 1.6rem;
              font-weight: var(--medium);
              line-height: 2.6rem;
              color: var(--gray500);
            }
          }
        }
      }
    }
  }
  .product-inquiry-wrap,
  .article-inquiry-wrap {
    form {
      label {
        display: block;
        margin-bottom: 0.9rem;
        font-size: 1.6rem;
        font-weight: var(--semiBold);
        line-height: 2.6rem;
        color: var(--gray900);
      }
      textarea {
        display: block;
        width: 100%;
        height: 10.4rem;
        margin-bottom: 1.6rem;
        padding: 1.6rem 2.4rem;
        border: 0;
        border-radius: 1.2rem;
        background-color: var(--gray100);
        font-size: 1.6rem;
        line-height: 2.6rem;
        color: var(--gray800);
        resize: none;
        &::placeholder {
          color: var(--gray400);
        }
        &:focus {
          outline: 0.1rem solid var(--primary100);
        }
      }
      .btn-add {
        display: block;
        margin: 0 0 0 auto;
      }
    }
  }
  .article-detail-contents {
    margin-bottom: 3.2rem;
    .desc-wrap {
      display: flex;
      flex-direction: column;
      gap: 1.6rem;
      margin-bottom: 2.4rem;
      padding-bottom: 1.6rem;
      border-bottom: 0.1rem solid var(--gray200);
    }
    .detail-title {
      font-size: 2rem;
      font-weight: var(--bold);
      line-height: 3.2rem;
      color: var(--gray800);
    }
    .detail-writer-wrap {
      display: flex;
      align-items: center;
      .writer-img {
        width: 4rem;
        height: 4rem;
        margin-right: 1.6rem;
      }
      .writer-name {
        margin-right: 0.8rem;
        font-size: 1.4rem;
        font-weight: var(--medium);
        line-height: 2.4rem;
        color: var(--gray600);
      }
      .update-date {
        margin-right: 4.4rem;
        font-size: 1.4rem;
        line-height: 2.4rem;
        color: var(--gray400);
      }
      .like-count {
        position: relative;
        display: flex;
        align-items: center;
        gap: 0 0.4rem;
        padding: 0.4rem 1.2rem 0.2rem;
        border-radius: 3.5rem;
        border: 0.1rem solid var(--gray200);
        background-color: var(--white);
        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: -2.4rem;
          width: 0.1rem;
          height: 100%;
          background-color: var(--gray200);
        }
        .icon-heart {
          width: 3.2rem;
          height: 3.2rem;
        }
        span {
          font-size: 1.6rem;
          font-weight: var(--medium);
          line-height: 2.6rem;
          color: var(--gray500);
        }
      }
    }
    .detail-desc {
      font-size: 1.8rem;
      line-height: 2.6rem;
      color: var(--gray800);
    }
  }
  .end-point {
    height: 0.1rem;
  }
  .navigate-to-items {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    width: fit-content;
    margin: 0 auto 4rem;
    padding: 1.1rem 3.95rem;
    border-radius: 4rem;
    background-color: var(--primary100);
    font-size: 1.8rem;
    line-height: 2.6rem;
    color: var(--white);
    &:hover {
      outline: 0.1rem solid var(--black);
    }
    span {
      position: relative;
      width: 2.4rem;
      height: 2.4rem;
    }
  }
}

@media (max-width: 1199px) {
  .page-detail {
    max-width: 69.6rem;
    .product-detail-contents {
      padding-bottom: 3.2rem;
      .img-wrap {
        width: 34rem;
        height: 34rem;
      }
      .desc-wrap {
        .detail {
          &-name {
            font-size: 2rem;
          }
          &-price {
            margin-bottom: 1.6rem;
            padding-top: 0.8rem;
            font-size: 3.2rem;
          }
          &-description-wrap {
            .detail-description-title {
              margin-bottom: 0.8rem;
              font-size: 1.4rem;
              line-height: 2.4rem;
            }
          }
          &-tag-wrap {
            .detail-tag-title {
              margin-bottom: 0.8rem;
              font-size: 1.4rem;
              line-height: 2.4rem;
            }
          }
          &-footer {
            .btn-favorite {
              img {
                width: 2.4rem;
                height: 2.4rem;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .page-detail {
    max-width: 34.4rem;
    .product-detail-contents {
      flex-direction: column;
      margin-bottom: 2.4rem;
      padding-bottom: 2.4rem;
      .desc-wrap {
        .detail {
          &-name {
            font-size: 1.6rem;
            line-height: 2.6rem;
          }
          &-price {
            font-size: 2.4rem;
          }
        }
      }
    }
    .product-inquiry-wrap {
      form {
        label {
          margin-bottom: 1.6rem;
        }
        textarea {
          height: 12.9rem;
          font-size: 1.4rem;
          line-height: 2.4rem;
        }
      }
    }
  }
}
