#productFile {
  display: none;
}

label[for="productFile"] {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 28.2rem;
  height: 28.2rem;
  border-radius: 1.2rem;
  background-color: var(--gray-100);
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.6rem;
  color: var(--gray-400);
  .icon-plus {
    width: 4.8rem;
    height: 4.8rem;
    margin-bottom: 1.2rem;
  }
}
