.itemSubmit {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 74px;
  height: 42px;
  border-radius: 8px;
  background: var(--gray400);
  border: 1px solid var(--gray400);
  color: white;
}
.addItemIC {
  width: 282px;
  height: 282px;
  margin-right: 24px;
}
.textarea {
  height: 300px;
  text-align: left;
  min-height: 50px;
  max-height: 300px;
}
.tagButton {
  width: auto;
  margin: 5px;
}
.addItemImageBtn {
  background-color: transparent;
  border: 1px solid white;
  width: 290px;
}

@media (max-width: 1199px) {
  .itemSubmit {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 74px;
    height: 42px;
    border-radius: 8px;
    background: var(--gray400);
    border: 1px solid var(--gray400);
    color: white;
  }
  .column {
    flex-direction: column;
  }
  .addItemIC {
    width: 282px;
    height: 282px;
    margin-right: 24px;
  }
  .addItemContents {
    display: flex;
    flex-direction: row;
    justify-content: left;
    flex-wrap: wrap;
    height: 100%;
    margin-bottom: 32px;
    background: none;
  }
  .tagButton {
    width: auto;
    margin: 5px;
  }
  .addItemImageBtn {
    background-color: transparent;
    border: 1px solid white;
    width: 290px;
  }
}
@media (max-width: 767px) {
}
