.BestProductItem {
  width: 282px;
  overflow: hidden;
}

.BestProductItem-img {
  height: 282px;
  width: 100%;
  object-fit: cover;
  border-radius: 1rem;
}

.BestProduct {
  width: 100%;
  display: flex;
  list-style-type: none;
  padding: 0;
  justify-content: space-between;
}

.BestProductName {
  font-size: 14px;
  font-weight: 500;
}

.BestProductPrice {
  font-size: 16px;
  font-weight: 700;
}

.BestProductFavoriteCount {
  display: flex;
  align-items: center;
  gap: 3px;
  font-size: 12px;
  font-weight: 500;
}
