body {
  font-family: "Pretendard Variable", Arial, Helvetica, sans-serif;
  font-weight: 700;
}

/* 메인 */

h2 {
  color: var(--gray700);
  font-size: 40px;
}

/* 인트로 */

.intro {
  margin-top: 70px;
}

.intro,
.last {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: #cfe5ff;
  height: 540px;
  width: 100%;
}

.intro > div,
.last > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* width: 1110px; */
  margin: 0 auto;
}

.intro a {
  display: flex;
  align-items: center;
  padding: 12px 124px;
  height: 56px;
  margin: 32px 0 60px;
  background-color: var(--blue);
  border-radius: 40px;
  color: var(--gray50);
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
  text-decoration: none;
}

.intro img {
  width: 746px;
  height: 340px;
}

/* 카드 */

.cards {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  width: 988px;
  margin: 138px 0;
  background-color: #fcfcfc;
  display: flex;
  gap: 64px;
  align-items: center;
}

.card img {
  width: 579px;
  height: 444px;
}

.card:nth-of-type(1) {
  padding: 0 23.5px;
  text-align: left;
}

.card:nth-of-type(2) {
  padding: 0 14px;
  text-align: right;
  flex-direction: row-reverse;
}

.card:nth-of-type(3) {
  padding: 0 -7px;
  text-align: left;
}

.card-subtitle {
  font-size: 18px;
  color: var(--blue);
}

.card-title {
  margin: 12px 0 24px 0;
}

.card-text {
  font-weight: 500;
  font-size: 24px;
  color: var(--gray700);
}

/* last */

/* `.last` intro 쪽에 설정 */
/* `.last > div` intro 쪽에 설정 */
.last img {
  width: 746px;
  height: 397px;
}

/* 푸터 */

footer {
  display: grid;
  grid-template-rows: 1fr 1fr;
  height: 160px;
  background-color: var(--gray900);
  font-size: 16px;
  font-weight: 400;
}

.container.footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.container.footer p {
  color: var(--gray400);
}

.support {
  display: flex;
  gap: 30px;
}

.support a {
  color: var(--gray200);
  text-decoration: none;
  cursor: pointer;
}

.ic-sns {
  display: flex;
  gap: 12px;
}

.ic-sns a {
  cursor: pointer;
}

.ic-sns img {
  width: 20px;
  height: 20px;
}

/* Tablet: 768px 이상 ~ 1199px 이하 */
@media (min-width: 768px) and (max-width: 1199px) {
  .nav {
    padding: 0 24px;
  }

  .responsive-break {
    display: none;
  }

  .intro {
    height: 771px;
  }

  .intro > div,
  .last > div {
    flex-direction: column;
  }

  .intro-container {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .intro a {
    margin: 24px auto 211px;
  }

  .cards {
    background-color: #fcfcfc;
  }

  .card {
    width: 696px;
    margin: 0 auto 52px;
    flex-direction: column;
    gap: 24px;
    align-items: flex-start;
  }

  .card img {
    width: 696px;
    height: 524px;
  }

  .card:nth-of-type(1) {
    margin-top: 24px;
    padding: 0;
  }

  .card:nth-of-type(2) {
    padding: 0;
    text-align: right;
    flex-direction: column;
    align-items: flex-end;
  }

  .card:nth-of-type(3) {
    padding: 0;
    margin-bottom: 56px;
  }

  .last {
    height: 927px;
  }

  .last > div {
    gap: 217px;
    text-align: center;
  }

  .container.footer {
    flex-wrap: wrap;
  }
}

/* Mobile: 375px 이상 ~ 767px 이하 */
@media (min-width: 375px) and (max-width: 767px) {
  .nav {
    padding: 0 16px;
  }

  .responsive-break {
    display: inline;
  }

  h2 {
    font-size: 32px;
  }

  .intro,
  .last {
    height: 540px;
  }

  .intro > div,
  .last > div {
    flex-direction: column;
  }

  .intro-container {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .intro a {
    padding: 11px 71px;
    margin: 18px auto 132px;
    font-size: 18px;
  }

  .intro img {
    width: 448px;
    height: 204px;
  }

  .cards {
    background-color: #fcfcfc;
  }

  .card {
    width: 344px;
    margin: 0 auto 40px;
    flex-direction: column;
    gap: 40px;
    align-items: flex-start;
  }

  .card img {
    width: 344px;
    height: 259px;
  }

  .card:nth-of-type(1) {
    margin-top: 52px;
    padding: 0;
  }

  .card:nth-of-type(2) {
    padding: 0;
    text-align: right;
    flex-direction: column;
    align-items: flex-end;
  }

  .card:nth-of-type(3) {
    padding: 0;
    margin-bottom: 83px;
  }

  .last > div {
    gap: 131px;
  }

  .last img {
    width: 375px;
    height: 198px;
  }

  footer {
    grid-template-rows: 1fr;
  }

  .container.footer {
    flex-wrap: wrap;
  }
}
