@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
    format('woff');
}

.bestProduct {
  justify-content: center;
}

.pandaMarket {
  font-family: 'Pretendard-Regular', sans-serif;
  background-color: #fcfcfc;
}

.page {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.subHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subTitle {
  font-size: 20px;
  font-weight: 700;
  line-height: 32px;
  margin-left: 0;
}
.sub {
  display: flex;
  gap: 10px;
}

input {
  width: 325px;
  height: 42px;
  border-radius: 1rem;
  background-color: #f3f4f6;
  border: none;
}

.productUp {
  height: 42px;
  border-radius: 8px;
  padding: 12px 24px;
  background-color: #3692ff;
  font-size: 16px;
  font-weight: 600;
  border: none;
  color: #f3f4f6;
  text-align: center;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-button {
  width: 130px;
  height: 42px;
  background-color: #ffffff;
  border: none;
  padding: 10px;
  font-size: 16px;
  font-weight: 400;
  border-radius: 8px;
  cursor: pointer;
  border: 2px solid #e5e7eb;
}

.dropdown-menu {
  display: block;
  position: absolute;
  background-color: white;
  border: 2px solid #e5e7eb;
  border-radius: 8px;
  cursor: pointer;
  padding-left: 0 !important;
}

.dropdown p {
  width: 130px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
  border-bottom: 2px solid #e5e7eb;
  cursor: pointer;
  margin: 0;
}
