.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.loginLogo {
  width: 25rem;
  display: flex;
  align-items: center;
  margin: 0 auto 2.5rem;
}

.inputArea {
  margin-bottom: 2rem;
  position: relative;
}

.label {
  font-size: 1.25rem;
  font-weight: 700;
}

.input {
  width: 37rem;
  height: 2rem;
  padding: 1rem 1.5rem;
  background-color: var(--gray-100);
  border: none;
  outline: none;
  border-radius: 1rem;
  margin-top: 1rem;
}

.inputContainer {
  position: relative;
  display: flex;
  align-items: center;
}

.input:focus {
  border: 2px solid var(--blue);
}

.placeholder {
  color: var(--gray-400);
  width: 37rem;
}

.error {
  border: 2px solid red;
}

.errorMessage {
  display: block; /* 수정: 보이지 않는 문제가 있을 경우 */
  margin-top: 10px;
  padding-left: 10px;
  color: #f74747;
  font-size: 14px;
  font-weight: 550;
}

.eyeIcon {
  position: absolute;
  width: 1.5rem;
  right: 1.5rem;
  top: 50%;
  transform: translateY(-50%); /* 아이콘 중앙 정렬 */
  cursor: pointer;
}

.loginBtn {
  display: flex;
  width: 40rem;
  height: 4rem;
  background-color: var(--gray-400);
  border-radius: 2.5rem;
  color: var(--gray-100);
  font-size: 1.5rem;
  font-weight: 600;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border: none;
  margin-bottom: 2rem;
  cursor: not-allowed;
}

.loginBtn.active {
  background-color: var(--blue);
  cursor: pointer;
}

.simpleLogin {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e6f2ff;
  height: 5rem;
  border-radius: 0.5rem;
  margin-bottom: 2rem;
}

.simpleLoginInner {
  width: 37rem;
  display: flex;
  align-items: center;
  font-size: 1rem;
  font-weight: 500;
  justify-content: space-between;
}

.loginIcon {
  display: flex;
  gap: 1rem;
}

.loginIcon img {
  width: 3rem;
}

.firstUser {
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  color: var(--gray-800);
  margin-bottom: 2rem;
}

.firstUser a {
  color: var(--blue);
  text-decoration: none;
}

/* Mobile */
@media (max-width: 767px) {
  .login {
    padding: 0 1rem;
  }

  .loginLogo {
    width: 65%;
  }

  .label {
    font-size: 1rem;
    margin-bottom: 1rem;
  }

  .input {
    width: 100%;
    max-width: 25rem;
    margin: 0 auto;
    padding: 1rem 0;
    margin-top: 1rem;
  }

  .loginBtn {
    width: 100%;
  }

  .simpleLoginInner {
    width: 100%;
    padding: 0 1.5rem;
  }
}
