.ProductListItem {
  width: 221px;
  overflow: hidden;
}

.ProductListItem-img {
  height: 221px;
  width: 100%;
  object-fit: cover;
  border-radius: 1rem;
}

.ProductList {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
  list-style-type: none;
  padding: 0;
}

.productName {
  font-size: 14px;
  font-weight: 500;
}

.productPrice {
  font-size: 16px;
  font-weight: 700;
}

.productFavoriteCount {
  display: flex;
  align-items: center;
  gap: 3px;
  font-size: 12px;
  font-weight: 500;
}
