@import url(./common.css);

* {
  box-sizing: border-box;
  margin: 0;
  text-decoration: none;
}

body {
  font-family: Pretendard, sans-serif;
  width: 100%;
}

header {
  background: #ffffff;
  position: sticky;
  left: 0;
  top: 0;
  width: 100%;
  border-bottom: 1px solid #dfdfdf;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1120px;
  height: 70px;
  margin: 0 auto;
  padding: 9.5px 0;
}

.header-content .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25.63px;
  font-weight: 700;
  line-height: 34.6px;
  gap: 8.59px;
}

.header-content .logo a {
  font-family: 'ROKAF Sans', sans-serif;
  color: var(--blue);
  font-size: 25.63px;
  font-weight: 700;
  line-height: 34.6px;
}

.header-content .logo > .logo-img {
  background: url('./img/판다\ 얼굴.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 40px;
  height: 40.14px;
}

.header-content .login {
  padding: 11px 43px;
  background-color: var(--blue);
  color: var(--gray100);
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
  border: none;
  border-radius: 8px;
}

.landing-page-top,
.landing-page-bottom {
  display: flex;
  align-items: flex-end;
  background-color: var(--landingBackground);
  width: 100%;
  height: 540px;
}

.landing-page-top .content,
.landing-page-bottom .content {
  width: 1110px;
  display: flex;
  margin: 0 auto;
}

.landing-page-top .content div,
.landing-page-bottom .content div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.landing-page-top .content p,
.landing-page-bottom .content p {
  width: 295px;
  color: var(--gray700);
  font-size: 40px;
  font-weight: 700;
  line-height: 56px;
}

.landing-page-top .content {
  margin-top: 200px;
  gap: 7px;
}

.landing-page-top .content p {
  margin-bottom: 32px;
}

.landing-page-top .content img {
  width: 100%;
}

.landing-page-top .content .items {
  color: var(--gray50);
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
  text-align: center;
  background-color: var(--blue);
  border: none;
  border-radius: 40px;
  padding: 12px 124px;
  margin-bottom: 60px;
  white-space: nowrap;
}

.landing-page-bottom .content {
  margin-top: 143px;
}

.landing-page-bottom .content div {
  padding-right: 69px;
}

.landing-page-bottom .content p {
  padding-bottom: 60px;
}

.landing-page-bottom .content img {
  width: 100%;
}

.landing-page-main {
  display: flex;
  flex-direction: column;
  margin-bottom: 138px;
}

.landing-page-main .content {
  width: 988px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 138px auto;
}

.landing-page-main .content .wrap {
  display: flex;
  justify-content: center;
  width: 988px;
}

.landing-page-main .content:nth-child(1) .info {
  margin: 103px 23.5px 103px 64px;
}

.landing-page-main .content:nth-child(2) .info {
  text-align: right;
  margin: 103px 64px 103px 14px;
}

.landing-page-main .content:nth-child(3) .info {
  padding: 103px 0 103px 50px;
}

.landing-page-main .content .info p:nth-child(1) {
  color: var(--blue);
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  margin-bottom: 12px;
}

.landing-page-main .content .info p:nth-child(2) {
  color: var(--gray700);
  font-size: 40px;
  font-weight: 700;
  line-height: 56px;
  margin-bottom: 24px;
}

.landing-page-main .content .info p:nth-child(3) {
  color: var(--gray700);
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
}

footer {
  width: 100%;
  background-color: var(--gray900);
  padding-top: 32px;
  padding-bottom: 108px;
}

.footer-content {
  width: 1120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--gray400);
  font-size: 16px;
  font-weight: 400;
  line-height: 19.09px;
  text-align: center;
  margin: 0 auto;
}

.footer-content p {
  flex-basis: 160px;
  display: flex;
}

.footer-content div {
  font-size: 16px;
  display: flex;
  gap: 30px;
}

.footer-content a {
  color: var(--gray200);
  align-items: center;
  cursor: pointer;
}

.footer-content .sns-icon {
  /* sns-icon 열기준 center배치가 안됨 */
  flex-basis: 160px;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  gap: 12px;
  padding: 0;
}

@media (max-width: 1919px) {
  .header-content {
    width: auto;
    padding: 9.5px 200px;
  }
}

@media (max-width: 1199px) {
  header {
    width: 100%;
  }

  .header-content {
    width: 100%;
    padding: 10px 24px;
    margin: 0;
  }

  .landing-page-top,
  .landing-page-bottom {
    width: auto;
    height: auto;
  }

  .landing-page-top .content,
  .landing-page-bottom .content {
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin: 0;
    gap: 0;
  }

  .landing-page-top .content p,
  .landing-page-bottom .content p {
    width: auto;
  }

  .landing-page-top .content div {
    padding-top: 84px;
    padding-bottom: 211px;
  }

  .landing-page-top .content p {
    margin-bottom: 24px;
  }

  .landing-page-top .content .items {
    margin: 0 77.5px;
    margin-bottom: 0;
  }

  .landing-page-bottom .content div {
    padding-top: 201px;
    padding-bottom: 217px;
    padding-right: 0;
  }

  .landing-page-bottom .content p {
    width: 295px;
    text-align: center;
    padding-bottom: 0;
  }

  .landing-page-main {
    padding: 24px 24px 56px;
    margin-bottom: 0;
    gap: 52px;
  }

  .landing-page-main .content {
    display: block;
    width: 100%;
    margin: 0;
  }

  .landing-page-main .content .info .visible {
    display: none;
  }

  .landing-page-main .content .wrap .info {
    margin: 0;
  }

  .landing-page-main .content .info p:nth-child(2) {
    white-space: nowrap;
  }

  .landing-page-main .content .wrap {
    width: 100%;
    flex-direction: column;
  }

  .landing-page-main .content:nth-child(1) .info {
    padding: 24px 0 0;
  }

  .landing-page-main .content:nth-child(2) .info {
    padding: 24px 0 0;
  }

  .landing-page-main .content:nth-child(3) .info {
    padding: 24px 0 0;
  }

  .landing-page-main .content:nth-child(2) .wrap .info {
    order: 2;
  }

  .landing-page-main .content:nth-child(2) .wrap img {
    order: 1;
  }

  footer {
    width: 100%;
    padding-top: 32px;
    padding-bottom: 108px;
  }

  .footer-content {
    font-family: 'Abel', system-ui;
    line-height: 20.39px;
    width: 536px;
    margin: 0 auto;
  }

  .footer-content p {
    color: #676767;
    flex-basis: 96px;
  }

  .footer-content a {
    color: #cfcfcf;
  }

  .footer-content div {
    flex-basis: 181.11px;
  }

  .footer-content .sns-icon {
    /* sns-icon 열기준 center배치가 안됨 */
    flex-basis: 116px;
  }
}

@media (max-width: 767px) {
  .header-content .logo > .logo-img {
    width: 0;
    height: 0;
  }

  .header-content {
    padding-left: 16px;
    padding-right: 16px;
  }

  .landing-page-top .content p,
  .landing-page-bottom .content p {
    width: 240px;
    font-size: 32px;
    line-height: 44.8px;
  }

  .landing-page-top .content div,
  .landing-page-bottom .content div {
    align-items: center;
    text-align: center;
  }

  .landing-page-top .content div {
    padding-top: 48px;
    padding-bottom: 132px;
  }

  .landing-page-top .content p {
    margin-bottom: 18px;
  }

  .landing-page-top .content .items {
    padding: 11px 71px;
  }

  .landing-page-main {
    padding: 52px 16px 83px 15px;
    gap: 40px;
  }

  .landing-page-main .content .info p:nth-child(1) {
    font-size: 16px;
    margin-bottom: 8px;
  }

  .landing-page-main .content .info p:nth-child(2) {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 16px;
  }

  .landing-page-main .content .info p:nth-child(3) {
    font-size: 16px;
    line-height: 26px;
  }

  .landing-page-bottom .content div {
    padding-top: 121px;
    padding-bottom: 131px;
  }

  footer {
    padding: 0;
  }

  .footer-content {
    font-family: 'Arial', sans-serif;
    flex-wrap: wrap;
    line-height: 18.4px;
    padding: 32px 0;
    width: 311px;
  }

  .footer-content p {
    flex-basis: 105px;
    order: 3;
    margin-top: 60px;
  }

  .footer-content div {
    order: 1;
    flex-shrink: 0;
  }

  .footer-content .sns-icon {
    order: 2;
  }
}
