:root {
  --blue: #3692ff;
  --gray50: #f9fafb;
  --gray100: #f3f4f6;
  --gray200: #e5e7eb;
  --gray400: #9ca3af;
  --gray500: #6b7280;
  --gray600: #4b5563;
  --gray700: #374151;
  --gray800: #1f2937;
  --gray900: #111827;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  white-space: nowrap;
  border: none;
}

body {
  color: var(--gray800);
  font-family: Pretendard, sans-serif;
}

.login-form {
  width: 640px;
  height: 618px;
  margin: 231px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo {
  width: 396px;
  height: 132px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  gap: 22.24px;
  margin-bottom: 40px;
}

.logo img {
  display: block;
  width: 103.53px;
  height: 103.53px;
}

.logo a {
  font-family: 'ROKAF sans', sans-serif;
  color: var(--blue);
  font-size: 66.34px;
  font-weight: 700;
  line-height: 89.56px;
  text-decoration: none;
}

.main-form {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}

.main-form label {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  margin-bottom: 16px;
}

.main-form input {
  height: 56px;
  width: 100%;
  padding: 16px 24px;
  background: var(--gray100);
  border-radius: 12px;
  margin-bottom: 24px;
}

.main-form input::placeholder {
  color: var(--gray400);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

.main-form input:focus {
  border: 1px solid var(--blue);
  outline: none; /* 체크 */
}

.main-form .password-check {
  position: relative;
}

.main-form img {
  position: absolute;
  top: 16px;
  right: 24px;
}

.main-form button {
  color: var(--gray100);
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
  text-align: center;
  padding: 12px 294px;
  border-radius: 40px;
  background: #9ca3af;
  cursor: pointer;
}

.main-form button:hover {
  background: var(--blue);
}

.sns-login {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #e6f2ff;
  border-radius: 8px;
  padding: 16px 23px;
  margin-bottom: 24px;
}

.sns-login p {
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
}

.sns-icon {
  display: flex;
  gap: 16px;
}

.sns-icon img {
  width: 42px;
  height: 42px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
}

footer a {
  line-height: 16.71px;
  color: var(--blue);
}
