@import url(./common.css);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  white-space: nowrap;
  border: none;
}

body {
  color: var(--gray800);
  font-family: Pretendard, sans-serif;
}

.login-form {
  width: 640px;
  margin: 60px auto 178px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo {
  width: 396px;
  display: flex;
  margin: 0 auto;
  align-items: center;
  gap: 22.24px;
  margin-bottom: 40px;
}

.logo img {
  display: block;
  width: 103.53px;
  height: 103.53px;
}

.logo a {
  font-family: 'ROKAF Sans', sans-serif;
  color: var(--blue);
  font-size: 66.34px;
  font-weight: 700;
  line-height: 89.56px;
  text-decoration: none;
}

.main-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}

.main-form label {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  margin-bottom: 16px;
}

.main-form input {
  width: 100%;
  height: 56px;
  padding: 16px 24px;
  background: var(--gray100);
  border-radius: 12px;
  margin-bottom: 24px;
}

.main-form input::placeholder {
  color: var(--gray400);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

.main-form input:focus {
  border: 1px solid var(--blue);
  outline: none; /* 체크 */
}

.main-form .password-check {
  position: relative;
}

.main-form img {
  position: absolute;
  top: 16px;
  right: 24px;
}

.main-form button {
  color: var(--gray100);
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
  text-align: center;
  padding: 12px 294px;
  border-radius: 40px;
  background: var(--gray400);
  cursor: pointer;
}

.main-form button:hover {
  background: var(--blue);
}

.sns-login {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #e6f2ff;
  border-radius: 8px;
  padding: 16px 23px;
  margin-bottom: 24px;
}

.sns-login p {
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
}

.sns-icon {
  display: flex;
  gap: 16px;
}

.sns-icon img {
  width: 42px;
  height: 42px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
}

footer a {
  line-height: 16.71px;
  color: var(--blue);
}

@media (max-width: 767px) {
  .login-form {
    width: 100%;
    height: 681px;
    padding: 0 16px;
    margin: 24px 0 179px;
  }

  .logo {
    width: 198px;
    gap: 11.12px;
    margin-bottom: 24px;
  }

  .logo img {
    width: 51.76px;
    height: 51.94px;
  }

  .logo a {
    font-size: 33.17px;
    line-height: 44.78px;
  }

  .main-form label {
    font-size: 14px;
    line-height: 16.71px;
    margin-bottom: 8px;
  }

  .main-form input {
    margin-bottom: 16px;
  }

  .main-form button {
    padding: 12px 136.5px;
  }
}
