/* Button.module.css */
.button {
  padding: 0.8rem 1.6rem;
  font-size: 1.4rem;
  font-weight: 600;
  color: white;
  background-color: #3692ff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.button:hover {
  background-color: #007bff;
}

.button:active {
  transform: scale(0.98);
}

.button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}
