.dropdown {
  border: 1px solid #e5e7eb;
  background-color: #ffffff;
  border-radius: 12px;
  padding: 12px 20px;
  width: 130px;
  height: 42px;
  display: flex;
  justify-content: center;
}

.sort {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rotation {
  transform: rotate(180deg); /* 180도 회전 */
  transition: transform 0.3s ease; /* 부드러운 회전 애니메이션 */
}
