.form {
  border: none;
  border-radius: 12px;
  background-color: #f3f4f6;
  height: 42px;
  width: 1054px;
  display: flex;
  gap: 4px;
}

.form input {
  border: none;
  background-color: #f3f4f6;
  color: #9ca3af;
  font-size: 16px;
  width: 100%;
}

.search {
  padding: 9px 20px;
}
