header {
  border-bottom: 1px solid #dfdfdf;
  width: 100%;
  height: 70px;
}

.MainHeader .inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.MainHeader .logo {
  display: block;
  width: 153px;
  height: 51px;
  background: url(../assets/logo.svg) no-repeat;
  background-size: 100%;
  text-indent: -9999px;
}

.MainHeader .login {
  border: 0;
  border-radius: 8px;
  background: var(--blue);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 128px;
  height: 48px;
  font-weight: 600;
  color: var(--gray100);
}

.SubHeader__inner {
  display: flex;
  align-items: center;
  max-width: 1520px;
  height: 100%;
  margin: 0 auto;
}

.SubHeader__logo {
  display: block;
  width: 153px;
  height: 51px;
  background: url(../assets/logo.svg) no-repeat;
  background-size: 100%;
}

.SubHeader__nav {
  display: flex;
  height: 100%;
  margin-left: 32px;
}

.SubHeader__nav li a {
  display: flex;
  align-items: center;
  height: 100%;
  font-size: 18px;
  font-weight: 700;
  color: #4b5563;
  padding: 0 15px;
}

.SubHeader__profile {
  display: block;
  width: 40px;
  height: 40px;
  margin-left: auto;
}

.inner {
  width: 1120px;
  height: 100%;
  margin: 0 auto;
}

@media (max-width: 1520px) {
  .SubHeader__inner {
    max-width: 1200px;
  }
}

@media (max-width: 1200px) {
  header {
    min-width: 100%;
  }

  .SubHeader__inner {
    width: 93.5%;
  }

  .SubHeader__nav {
    margin-left: 20px;
  }
}

@media (max-width: 743px) {
  .SubHeader__logo {
    width: 81px;
    height: 40px;
    background: url(../assets/logo-m.svg) no-repeat;
    background-size: 100%;
  }

  .SubHeader__nav {
    gap: 8px;
    margin-left: 8px;
  }

  .SubHeader__nav li a {
    font-size: 16px;
    padding: 0;
  }
}
