#input-images {
  display: none;
}

#label-input-images {
  color: var(--gray-800);
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 16px;
}

label[for="input-images"] {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;

  width: 282px;
  height: 282px;
  border-radius: 12px;
  background-color: var(--gray-200);
  cursor: pointer;
  color: var(--gray-400);
  font-size: 16px;
  font-weight: 400;
}

.wrap-images {
  display: flex;
  gap: 16px;
}

.img-preview {
  position: relative;
  z-index: 10;
}

.img-preview > img {
  width: 282px;
  height: 282px;
  border-radius: 12px;
  object-position: center;
  object-fit: cover;
}

.img-preview button {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 12px;
  background-color: rgba(243, 244, 246, 0.9);
  color: var(--gray-400);
  font-size: 16px;
  font-weight: 400;
}

.img-preview button img {
  transform: rotate(45deg);
}

.img-preview:hover button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
