@import url("https://cdn.jsdelivr.net/npm/pretendard/dist/web/static/pretendard.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Pretendard", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

input {
  outline: none;
  border: none;
}

input:focus {
  border: 2px solid var(--blue);
}

input::placeholder {
  color: var(--gray400);
}

@media (min-width: 375px) {
  .container {
    margin: 70px 20px 0;
  }
}

@media (min-width: 768px) {
  .container {
    margin: 70px 20px 0;
  }
}

@media (min-width: 1200px) {
  .container {
    margin: 70px 200px 0;
  }
}
