.page-detail {
  width: 120rem;
  margin: 2.4rem auto 0;
  .product-detail-contents {
    display: flex;
    .img-wrap {
      width: 48.6rem;
      aspect-ratio: 1 / 1;
      border-radius: 1.6rem;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .desc-wrap {
      flex: 1;
      display: flex;
      flex-direction: column;
      .detail {
        &-name {
          font-size: 2.4rem;
          font-weight: var(--semiBold);
          line-height: 3.2rem;
          color: var(--gray800);
        }
        &-price {
          margin-bottom: 2.4rem;
          padding: 1.6rem 0;
          border-bottom: 0.1rem solid var(--gray200);
          font-size: 4rem;
          font-weight: var(--semiBold);
          color: var(--gray800);
        }
        &-description-wrap {
          .detail-description-title {
            margin-bottom: 1.6rem;
            font-size: 1.6rem;
            font-weight: var(--semiBold);
            line-height: 2.6rem;
            color: var(--gray600);
          }
          .detail-description {
            margin-bottom: 2.4rem;
            font-size: 1.6rem;
            line-height: 2.6rem;
            color: var(--gray600);
          }
        }
        &-tag-wrap {
          .detail-tag-title {
            margin-bottom: 1.6rem;
            font-size: 1.6rem;
            font-weight: var(--semiBold);
            line-height: 2.6rem;
            color: var(--gray600);
          }
          .detail-tag {
            padding: 0.5rem 1.6rem;
            border-radius: 2.6rem;
            background-color: var(--gray100);
            font-size: 1.6rem;
            line-height: 2.6rem;
            color: var(--gray800);
          }
        }
        &-footer {
          display: flex;
          margin: auto 0 0;
          justify-content: space-between;
          align-items: center;
          .owner-wrap {
            display: flex;
            align-items: center;
            gap: 0 1.6rem;
            .owner-icon {
              width: 4rem;
              height: 4rem;
              img {
                width: 100%;
                height: 100%;
              }
            }
            .owner-desc {
              .owner-name {
                margin-bottom: 0.2rem;
                font-size: 1.4rem;
                font-weight: var(--medium);
                line-height: 2.4rem;
                color: var(--gray600);
              }
              .date-update {
                font-size: 1.4rem;
                line-height: 2.4rem;
                color: var(--gray400);
              }
            }
          }
          .btn-favorite {
            display: flex;
            align-items: center;
            gap: 0 0.4rem;
            padding: 0.4rem 1.2rem;
            border-radius: 3.5rem;
            border: 0.1rem solid var(--gray200);
            background-color: #fff;
            img {
              width: 3.2rem;
              height: 3.2rem;
            }
            span {
              font-size: 1.6rem;
              font-weight: var(--medium);
              line-height: 2.6rem;
            }
          }
        }
      }
    }
  }
}
