/* main */
.page-main {
  margin-top: 7rem;
  background-color: #fcfcfc;
}

/* section kv */
.kv {
  height: 54rem;
  background-color: #CFE5FF;
}
.kv .container {
  display: flex;
  align-items: flex-end;
  background-image: url(../images/Img_home_top.png);
  background-repeat: no-repeat;
  background-size: 74.6rem 34rem;
  background-position: 100% 100%;
}
.kv-content {
  margin-bottom: 10rem;
}
.kv-content h2 {
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 3.2rem;
  line-height: 5.6rem;
}
.kv-content .button {
  text-align: center;
  padding: 1.2rem 12.4rem;
  font-size: 2rem;
  line-height: 3.2rem;
  cursor: pointer;
}
.kv-image {
  width: 74.6rem; 
  height: auto;
}

/* section feature */
.feature {
  padding: 13.8rem 0; 
  background-color: #fff;
}
.feature:last-child {
  margin-bottom: 13.8rem;
}
.feature .container {
  display: flex;
  justify-content: center;
}
.feature:nth-child(even) .feature-item {
  flex-direction: row-reverse;
}
.feature-item {
  display: flex;
  align-items: center;
  gap: 6.4rem;
  width: 98.8rem;
  border-radius: 1.2rem;
  overflow: hidden;
  background-color: #FCFCFC;
}
.feature-image {
  width: 57.9rem;
  height: auto;
}
.feature-content .tag {
  display: inline-block;
  margin-bottom: 1.2rem;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.6rem;
  color: var(--blue-100);
}
.feature-content .title {
  margin-bottom: 2.4rem;
  font-size: 4rem;
  font-weight: 700;
  line-height: 5.6rem;
}
.feature-content .desc {
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 3.2rem;
  letter-spacing: -0.05rem;
}

/* section banner */
.banner {
  display: flex;
  align-items: flex-end;
  background-color: #cfe5ff;
  height: 54rem;
}
.banner .container {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  background-image: url(../images/Img_home_bottom.png);
  background-repeat: no-repeat;
  background-size: 74.6rem 39.7rem;
  background-position: 100% 100%;
}
.banner-content p {
  white-space: nowrap;
  font-size: 4rem;
  line-height: 5.6rem;
  font-weight: 700;
  margin-bottom: 17.25rem;
}

/* footer */
.footer {
  height: 16rem;
  padding-top: 3.2rem;
  background-color: var(--gray-900);
}
.footer .container {
  display: flex;
  justify-content: space-between;
}
.footer-item {
  font-size: 1.6rem;
  font-weight: 400;
}
.footer-item .copyright {
  color: var(--gray-400);
}

.footer-item.link-page {
  display: flex;
  gap: 3rem;
}
.footer-item.link-page .link {
  color: var(--gray-200);
}

.footer-item.link-sns {
  display: flex;
  gap: 1.2rem; 
}
.footer-item.link-sns a[class^="icon-"] {
  display: inline-block;
  font-size: 0;
  line-height: 0;
  width: 1.8rem; 
  height: 1.8rem; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.footer-item.link-sns .icon-facebook {
  background-image: url(../images/ic_facebook.png);
}
.footer-item.link-sns .icon-twitter {
  background-image: url(../images/ic_twitter.png);
}
.footer-item.link-sns .icon-youtube {
  background-image: url(../images/ic_youtube.png);
}
.footer-item.link-sns .icon-instagram {
  background-image: url(../images/ic_instagram.png);
}

/* 태블릿 & 모바일 공통 스타일 */
@media screen and (max-width:1199px){
  /* main */
  .main-content{
    display: flex;
    flex-direction: column;
  }

  /* section kv */
  .kv .container{
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-position: center 100%;
  }
  .kv-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;
  }
  .kv-content h2{
    text-align: center;
  }

  /* section feature */
  .feature{
    padding: 0;
  }
  .feature:last-child{
    margin-bottom: 0;
  }
  .feature:nth-child(even) .feature-item{
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
  }
  .feature-item{
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    border-radius: 0;
    gap: 2.4rem;
  }
  .feature-image{
    width: 100%;
    overflow: hidden;
  }
  .feature-content .title > br{
    display: none;
  }

  /* section banner */
  .banner .container{
    align-items: center;
    flex-direction: column;
    height: 100%;
    background-position: center 100%;
  }
  .banner-content p{
    text-align: center;
    margin-bottom: 0;
  }
}
/* 태블릿 */
@media screen and (min-width:768px) and (max-width:1199px){
  /* section kv */
  .kv {
    height: 77.1rem;
  }
  .kv-content {
    margin-top: 8.4rem;
  }
  .kv-content h2 {
    margin-bottom: 2.4rem;
  }
  .kv-content h2 > br {
    display: none;
  }

  /* main */
  .main-content {
    gap: 5.2rem; 
    padding: 2.4rem 2.4rem 5.6rem; 
  }
  /* section feature */
  .feature-image{
    border-radius: 1.42rem;
  }
  .feature-content .tag {
    margin-bottom: 1.6rem;
  }

  /* section banner */
  .banner {
    height: 92.7rem; 
  }
  .banner-content p {
    margin-top: 20.1rem; 
  }

  /* footer */
  .footer .container {
    padding: 0 10.4rem; 
  }
}
/* 모바일 */
@media screen and (max-width: 767px){
  /* section kv */
  .kv .container {
    background-size: 44.8rem 20.4rem;
  }
  .kv-content {
    margin-top: 8.4rem;
  }
  .kv-content h2 {
    margin-bottom: 1.8rem;
    font-size: 3.2rem; 
    line-height: 4.5rem; 
  }
  .kv-content .button {
    padding: 1.1rem 7.1rem; 
    font-size: 1.8rem; 
    line-height: 2.6rem; 
  }

  /* main */
  .main-content {
    gap: 4rem;
    padding: 5.2rem 1.5rem 8.3rem;
  }

  /* section feature */
  .feature-content .tag {
    font-size: 1.6rem; 
    margin-bottom: 0.8rem; 
  }
  .feature-content .title {
    font-size: 2.4rem; 
    line-height: 3.2rem; 
    margin-bottom: 1.6rem; 
  }
  .feature-content .desc {
    font-size: 1.6rem; 
    line-height: 2.6rem; 
    letter-spacing: 0; 
  }
  .feature-image{
    border-radius: .702rem;
  }

  /* section banner */
  .banner .container {
    background-size: 37.5rem 19.8rem; 
  }
  .banner-content p {
    margin-top: 12.1rem; 
    font-size: 3.2rem; 
    line-height: 4.5rem; 
  }

  /* footer */
  .footer {
    padding: 3.2rem; 
  }
  .footer .container {
    flex-wrap: wrap;
    gap: 6rem 0;
  }
  .footer-item.text-copyright {
    order: 2;
    flex: 1;
  }
  .footer-item.link-page,
  .footer-item.link-sns {
    order: 1;
  }
  .footer-item .copyright {
    color: #676767;
  }
  .footer-item.link-page .link {
    color: #cfcfcf;
  }
}