:root {
  --blue-100 : #3692FF;
  --blue-200 : #1967D6;
  --blue-300 : #1251AA;

  --gray-50 : #F9FAFB;
  --gray-100 : #F3F4F6;
  --gray-200 : #E5E7EB;
  --gray-400 : #9CA3AF;
  --gray-500 : #6B7280;
  --gray-600 : #4B5563;
  --gray-700 : #374151;
  --gray-800 : #1F2937;
  --gray-900 : #111827;

  --red : #F74747;
}