.registerForm,
.form-body,
.formTop,
.formBody,
.item-section,
.inputTag,
.tag {
  display: flex;
}

.form-body,
.formBody,
.item-section,
.inputTag {
  flex-direction: column;
}

.registerForm,
.formTop {
  align-items: center;
}

.registerForm,
.inputTag {
  width: 100%;
}

.registerForm {
  height: auto;
  margin-top: 24px;
  margin-bottom: 69px;
  justify-content: center;
  gap: 24px;
}

.form-body {
  width: 1200px;
}

.formTop {
  justify-content: space-between;
}

.add-item-input,
.add-item-content {
  border: none;
}

.formBody {
  margin-top: 24px;
  gap: 32px;
}

.item-section {
  gap: 16px;
}

.inputTag {
  gap: 14px;
}

.tag {
  gap: 12px;
}

.form-theme,
.section-theme,
.add-item-input,
.add-item-content {
  font-family: "pretendard Variable", "Noto Sans Korean";
}

.form-theme,
.section-theme {
  font-weight: 700;
}

.section-theme,
.add-item-input,
.add-item-content {
  line-height: 26px;
}

.add-item-input,
.add-item-content {
  font-size: 16px;
}

.form-theme,
.section-theme {
  color: var(--approx-midnight);
}

.add-item-input,
.add-item-content {
  padding: 16px 24px;
  gap: 10px;
  border-radius: 12px;
  background-color: var(--gray-100);
  font-weight: 400;
  color: var(--gray-400);
}

.form-theme {
  font-size: 20px;
  line-height: 32px;
}

.section-theme {
  font-size: 18px;
}

.add-item-input {
  height: 56px;
}

.add-item-content {
  height: 282px;
}
