textarea {
  resize: none;
}

.addItemPage {
  width: 100%;
  padding: 100px 150px;
}

.input {
  width: 100%;
  background-color: #f3f4f6;
  border: 0px;
  border-radius: 8px;
  padding-left: 10px;
  font-weight: 500;
  font-size: 14px;
}

.title,
.price,
.tag {
  height: 40px;
}

.description {
  padding-top: 10px;
  height: 250px;
}
