.main-content-additem {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 24px auto;
  gap: 24px;
  width: 100%;
}

.product-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product-name {
  font-weight: 700;
  font-size: 20px;
  line-height: 32px;
  color: var(--gray-800);
}

.product-label {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 16px;
  display: inline-block;
}

.product-file-list {
  display: flex;
}

.product-file {
  gap: 12px;
  background-color: var(--gray-100);
  width: 282px;
  height: 282px;
  border-radius: 12px;
  position: relative;
}

.file-icon {
  width: 48px;
  height: 48px;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

/* FileInput 컴포넌트 */

.file-input {
  display: none;
}

.file-input-area {
  display: flex;
}

.file-input-preview {
  border-radius: 12px;
  width: 282px;
  height: 282px;
  padding-left: 24px;
}

.preview-img {
  width: 282px;
  height: 282px;
  border-radius: 12px;
}

.file-label {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  cursor: pointer;
  padding-top: 158px;
  font-weight: 400;
  font-size: 16px;
  color: var(--gray-400);
}

.input-gray::placeholder {
  color: var(--gray-400);
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}

.input-gray {
  height: 56px;
  width: 100%;
  border-radius: 12px;
  padding: 16px 24px;
  background-color: var(--gray-100);
  border: none;
}

.textarea {
  height: 282px;
  background-color: var(--gray-100);
  padding: 16px 24px;
  border-radius: 12px;
  width: 100%;
  border: none;
}

.textarea::placeholder {
  color: var(--gray-400);
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}

/* TABLET */
@media (min-width: 768px) and (max-width: 1199px) {
  .main-content-additem {
    padding: 16px 24px;
  }
}

/* Mobile */
@media (min-width: 365px) and (max-width: 767px) {
  .main-content-additem {
    padding: 24px 15px;
  }
}
