h2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 56px;
  color: var(--gray-700);
}

header {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 999;
  background-color: white;
}

.header {
  background-color: var(--white-color);
  display: flex;
  justify-content: space-between;
  padding: 0 200px;
  align-items: center;
  height: 70px;
}

.image-logo {
  width: 153px;
  height: 51px;
}

.section {
  display: flex;
  padding: 138px 466px;
  justify-content: center;
  align-items: center;
  height: 720px;
  background-color: var(--white-color);
}

footer {
  background-color: var(--gray-900);
  height: 160px;
}

.footer-container {
  display: flex;
  justify-content: space-evenly;
  padding: 30px 0;
}

.footer-txt {
  color: var(--gray-400);
  font-size: 16px;
  font-weight: 400;
}

.footer-page {
  display: flex;
  gap: 30px;
}

.footer-page a {
  text-decoration: none;
  color: var(--gray-200);
  font-size: 16px;
  font-weight: 400;
}

.linktxt {
  text-decoration: none;
}

.sns {
  display: flex;
  gap: 7px;
}

/* TABLET */
@media (min-width: 768px) and (max-width: 1199px) {
  .header {
    padding: 0 24px;
  }

  .br-class {
    display: none;
  }

  .section {
    padding: 24px 24px 32px;
    height: auto;
  }
}

/* Mobile */
@media (min-width: 365px) and (max-width: 767px) {
  .header {
    padding: 0 16px;
  }

  h2 {
    font-size: 32px;
    font-weight: 700;
    line-height: 44.8px;
    color: var(--gray-700);
  }

  .btn-primary-round {
    height: 48px;
    border-radius: 40px;
    padding: 12px 71px;
    font-size: 18px;
    font-weight: 600;
    line-height: 26px;
  }

  .section {
    padding: 20px 16px;
    height: auto;
  }
}
