.item-detail-page {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 64px;
  margin: 94px 360px 222px 360px;
}

.detail-conent {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.item-detail-container {
  display: flex;
  gap: 40px;
  border-bottom: 1px solid var(--gray-200);
}

.item-comments-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.return-list-btn {
  display: flex;
  align-items: center;
  width: 100%;
  height: 48px;
  border-radius: 40px;
  padding: 12px 64px;
  gap: 8px;
  border: none;
  background-color: var(--primary);
}

.return-btn-text {
  font-family: "pretendard Variable", "Noto Sans Korean";
  color: var(--gray-100);
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
}

.return-list-btn:hover {
  cursor: pointer;
  background-color: var(--primary-sub);
}
