.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 40px;
  margin: 24px auto;
}

.best-section {
  display: grid;
  width: 100%;
  gap: 16px;
}

.entire-section {
  display: grid;
  width: 100%;
  gap: 24px;
}

h2 {
  font-family: "pretendard Variable", "Noto Sans Korean";
  color: var(--black-900);
  font-weight: 700;
  font-size: 20px;
  line-height: 32px;
}

.section-to-us {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

aside {
  display: flex;
  gap: 6px;
}

.for-products {
  display: flex;
  gap: 12px;
}

.input-search {
  display: flex;
  width: 325px;
  height: 42px;
  border-radius: 12px;
  padding: 9px 20px 9px 16px;
  gap: 10px;
  border: none;
  background-color: var(--gray-100);
}

.small-button {
  border-radius: 8px;
  width: auto;
  height: 48px;
  padding: 12px 23px;
  background-color: var(--primary);
  border: none;
  cursor: pointer;
  justify-content: center;
  gap: 10px;
  display: flex;
  align-items: center;
}

.small-btn-text {
  font-size: 16px;
  line-height: 26px;
  font-family: "pretendard Variable", "Noto Sans Korean";
  font-weight: 600;
  text-decoration: none;
  color: var(--gray-100);
}

.button:hover {
  background-color: var(--primary-sub);
}

.drop-down {
  width: auto;
  height: 42px;
  border-radius: 12px;
  border: 1px solid var(--gray-200);
  padding: 12px 20px;
  gap: 10px;
  font-family: "pretendard Variable", "Noto Sans Korean";
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: var(--approx-midnight);
}

.drop-down > option {
  width: auto;
  height: 42px;
  border-radius: 12px;
  border: 1px solid var(--gray-200);
  padding: 12px 20px;
  gap: 10px;
  font-family: "pretendard Variable", "Noto Sans Korean";
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: var(--approx-midnight);
}

.pagination {
  display: flex;
  justify-content: center;
  width: auto;
  gap: 4px;
  margin-top: 43px;
  margin-bottom: 58px;
}
