* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
input::placeholder {
  font-size: 0.8rem; /* 원하는 크기 지정 */
  color: gray; /* 원하는 색상 지정 */
}
@tailwind base;
@tailwind components;
@tailwind utilities;
