@import "../../css/Palette.css";

.to-signup {
  text-align: center;
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  font-family: "Pretendard";
}

.to-signup-link {
  color: var(--blue);
}
