.imgContainer {
  margin: 20px 0;
}

.inputLabel {
  display: block;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 600;
  color: #1f2937;
}

.prevImgLayout {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}

.imgButton {
  width: 282px;
  height: 282px;
  border: none;
  background-color: #f3f4f6;
  border-radius: 12px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  gap: 10px;
  color: #9ca3af;
}

.imgButton:hover {
  background-color: #e5e7eb;
}

.imgContainergo {
  position: relative;
}

.prevImg {
  border-radius: 12px;
  margin-left: 15px;
  object-fit: cover;
}

.imgDeleteButtonContainer {
  position: absolute;
  top: 15px;
  right: 16px;
}

.errorMsg {
  color: red;
  font-size: 14px;
  font-weight: 400;
  margin-top: 10px;
}
