.comment-input-form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 24px;

  label {
    width: 100%;
    font-size: 16px;
    font-weight: 600;
    color: var(--gray-900);
    margin-bottom: 8px;
  }

  textarea {
    width: 100%;
    min-height: 104px;
    resize: none;
    padding: 16px 24px;
    border: none;
    border-radius: 12px;
    background-color: var(--gray-200);
    margin-bottom: 16px;

    &::placeholder {
      color: var(--gray-400);
      font-size: 16px;
      font-weight: 400;
    }

    &:focus-visible {
      outline: 2px solid var(--blue);
    }
  }

  button {
    background-color: var(--blue);
    padding: 12px 23px;
    border: none;
    border-radius: 8px;
    color: var(--gray-100);
    font-size: 16px;
    font-weight: 600;

    &:disabled {
      background-color: var(--gray-400);
    }
  }
}

.Comment-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.Comment {
  padding-bottom: 12px;
  border-bottom: 1px solid var(--secondary-200);

  .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
    color: var(--gray-800);
    margin-bottom: 24px;
  }

  .writer {
    flex-grow: 1;
    display: flex;
    align-items: center;
    font-size: 12px;

    .name {
      color: var(--gray-600);
      margin-bottom: 2px;
    }

    .date {
      color: var(--gray-400);
    }

    .profile {
      margin-right: 8px;
    }
  }
}
