@charset "UTF-8";
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
:root {
  /* Color-Primary */
  --primary100: #3692ff;
  --primary200: #1967d6;
  --primary300: #1251aa;
  /* Color-Secondary */
  --gray900: #111827;
  --gray800: #1f2937;
  --gray700: #374151;
  --gray600: #4b5563;
  --gray500: #6b7280;
  --gray400: #9ca3af;
  --gray200: #e5e7eb;
  --gray100: #f3f4f6;
  --gray50: #f9fafb;
  /*Color-Error*/
  --error: #f74747;
  /* Font-Weight */
  --normal: 400;
  --medium: 500;
  --semiBold: 600;
  --bold: 700;
}

* {
  font-family: "Pretendard-Regular";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* 브라우저 폰트 사이즈 16px * 0.625 = 10px */
  font-size: 62.5%;
}

body {
  /* 1rem = html의 폰트 사이즈 */
  font-size: 1rem;
}

a {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* Header */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0.8rem auto;
  /* 로고 & 로그인 버튼 여백 200px 유지하기 위해 rem 사용 X */
  padding: 0 200px;
}
header .logo {
  width: 15.3rem;
  height: 5.1rem;
}
header .logo-img {
  display: block;
  width: 100%;
  height: 100%;
}
header .link-login {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12.8rem;
  height: 4.8rem;
  border-radius: 0.8rem;
  background-color: var(--primary100);
  font-size: 1.6rem;
  font-weight: var(--semiBold);
  line-height: 2.6rem;
  color: var(--gray100);
}
header .link-login:hover {
  background-color: var(--primary200);
}
header .link-login:active {
  background-color: var(--primary300);
}

/* Main & Section */
.section-layout {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 72rem;
}
.section-layout .section-wrap {
  display: flex;
  width: 112rem;
  justify-content: center;
}
.section-layout .section-content {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1.2rem;
  background-color: #fcfcfc;
}
.section-layout .section-content .img-home,
.section-layout .section-content .img-homt {
  max-width: 74.6rem;
}
.section-layout .section-title {
  font-size: 4rem;
  font-weight: var(--bold);
  line-height: 5.6rem;
  color: var(--gray700);
}
.section-layout .section-title.mb-60 {
  margin-bottom: 6rem;
}
.section-layout-bg {
  align-items: end;
  height: 54rem;
  background-color: #cfe5ff;
}
.section-layout-bg .section-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-radius: 0;
  background-color: transparent;
}
.section-layout-bg .section-content-inner {
  margin-bottom: 6rem;
}
.section-layout-bg .section-content-inner .link-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35.7rem;
  height: 5.6rem;
  margin-top: 3.2rem;
  border-radius: 4rem;
  background-color: var(--primary100);
  font-size: 2rem;
  font-weight: var(--semiBold);
  line-height: 3.2rem;
  color: var(--gray50);
}
.section-layout-bg .section-content-inner .link-item:hover {
  background-color: var(--primary200);
}
.section-layout-bg .section-content-inner .link-item:active {
  background-color: var(--primary300);
}
.section-layout-card .section-content {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 98.8rem;
  border-radius: 1.2rem;
  background-color: #fcfcfc;
}
.section-layout-card .section-content img {
  display: block;
  width: 57.9rem;
  height: 44.4rem;
}
.section-layout-card .section-content-inner {
  display: flex;
  flex-grow: 1;
  margin-left: 6.4rem;
}
.section-layout-card .section-content-inner > * {
  width: -moz-fit-content;
  width: fit-content;
}
.section-layout-card .section-content .badge {
  margin-bottom: 1.2rem;
  font-size: 1.8rem;
  font-weight: var(--bold);
  line-height: 2.6rem;
  color: var(--primary100);
}
.section-layout-card .section-content .section-desc {
  margin-top: 2.4rem;
  font-size: 2.4rem;
  font-weight: var(--medium);
  line-height: 3.2rem;
  color: var(--gray700);
}
.section-layout-card:nth-child(2n+1) .section-content-inner {
  margin-left: 1.4rem;
  text-align: right;
}

/* Footer */
footer {
  background-color: var(--gray900);
}
footer .footer-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 112rem;
  margin: 0 auto;
  padding: 3.2rem 0 10.8rem;
}
footer .footer-wrap > div {
  font-size: 1.6rem;
  font-weight: var(--normal);
}
footer .footer-wrap .corp {
  color: var(--gray400);
}
footer .footer-wrap .links {
  display: flex;
  gap: 0 3rem;
}
footer .footer-wrap .links a {
  color: var(--gray200);
}
footer .footer-wrap .sns {
  display: flex;
  gap: 0 2rem;
}
footer .footer-wrap .sns a {
  display: block;
  width: 2rem;
  height: 2rem;
}
footer .footer-wrap .sns a img {
  display: block;
  width: 100%;
  height: 100%;
}

/* 브라우저 width 1200px 이하 */
@media (max-width: 1200px) {
  html {
    /* 브라우저 폰트 사이즈 16px * 0.4 = 6.4px */
    font-size: 40%;
  }
}
@media (max-width: 768px) {
  /* 브라우저 폰트 사이즈 16px * 0.3 = 4.8px */
  html {
    font-size: 30%;
  }
}