button {
  border: none;
  background-color: #fcfcfc;
  cursor: pointer;
}

.sortButtonWrapper {
  position: relative;
}

.sortDropdownTriggerButton {
  padding: 9px;
  margin-left: 8px;
}

.dropdownMenu {
  width: 139px;
  position: absolute;
  top: 110%;
  right: 0;
  background-color: #fff;
  border-radius: 8px;
  border: 1px solid #e5e7eb;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 99;
  font-family: Pretendard;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  color: #6b7280;
}

.dropdownItem {
  padding: 16px 0px 12px 0px;
  border-bottom: 1px solid #e5e7eb;
  font-size: 16px;
  color: #1f2937;
  cursor: pointer;
}

.dropdownItem:last-child {
  border-bottom: none;
}
