.allproducts-container {
  margin: 0 auto 141px;
  width: 1200px;
}

.allproducts-header {
  display: flex;
  justify-content: space-between;
}

.allproducts-title {
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 20px;
  line-height: 32px;
  color: var(--gray900);
}

.header-right {
  display: flex;
  gap: 12px;
}

.search-container {
  display: flex;
  align-items: center;
  position: relative;
  width: 325px;
  height: 42px;
  background-color: var(--gray50);
  border-radius: 12px;
}

.search-icon {
  position: absolute;
  width: 24px;
  height: 24px;
  left: 16px;
  top: 9px;
}

.search-input {
  padding-left: 44px;
  border: none;
  flex-grow: 1;
  background-color: var(--gray50);
  height: 100%;
  border-radius: 12px;
}

.search-input:focus {
  outline: none;
}

.search-input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: var(--gray400);
}

.additem-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 133px;
  height: 42px;
  background: var(--blue);
  border-radius: 8px;
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  color: var(--gray100);
  text-decoration: none;
}

.allcards-container {
  display: grid;
  grid-template-columns: repeat(5, 2fr);
  justify-content: space-between;
  column-gap: 24px;
  row-gap: 40px;
}
