.BestItemsList {
  width: 1200px;
  margin: 24px auto 60px;

  /*Tablet*/
  @media (max-width: 1199px) {
    width: 696px;
  }

  /*Mobile*/
  @media (max-width: 767px) {
    width: 343px;
    margin: 17px auto 24px;
  }
}

.BestItemsList__title {
  font-weight: 700;
  font-size: 20px;

  margin-bottom: 16px;
}

.BestItemsList__cardSection {
  display: flex;
  gap: 24px;

  /*Tablet*/
  @media (max-width: 1199px) {
    gap: 10px;
  }
}
