.best-products-container {
  height: auto;
  width: auto;
  gap: 24px;
  display: grid;
  grid-template: repeat(1, 1fr) / repeat(4, 1fr);
}

.best-product,
.text-box,
.heart {
  display: flex;
}

.best-product,
.text-box {
  flex-direction: column;
  width: 100%;
}

.best-product {
  gap: 16px;
  background-color: var(--gray-10);
}

.best-product-img {
  width: 282px;
  height: 282px;
  border-radius: 16px;
}

.text-box {
  gap: 10px;
}

.product-name,
.product-price,
.like-it {
  font-family: "pretendard Variable", "Noto Sans Korean";
}

.product-name,
.like-it {
  font-weight: 500;
}

.product-name {
  width: 282px;
  font-size: 14px;
  line-height: 24px;
  color: var(--approx-midnight);
}

.product-price {
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
}

.heart {
  width: 100px;
  gap: 4px;
}

.like-it {
  font-size: 12px;
  line-height: 18px;
}
