.file-input-preview-container {
  display: flex;
  gap: 24px;
}

.file-input-preview-selected {
  position: relative;
  display: inline-block;
  width: 282px;
  height: 282px;
}

.file-input-hidden-overlay {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.file-input-preview {
  object-fit: cover;
  display: block;
  object-position: center;
  object-fit: cover;
}

.file-input-clear-button {
  position: absolute;
  top: 12px; /* 이미지 안에서의 위치 조정 */
  right: 12px; /* 이미지 안에서의 위치 조정 */
  background: transparent;
  border: none;
  cursor: pointer;
}
