.fileArea {
  display: flex;
  gap: 20px;
}

.addFile label {
  display: flex;
  width: 250px;
  height: 250px;
  background: #f3f4f6;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.addFile input {
  display: none;
}

.previewImg {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 8px;
}

.uploadImg {
  width: 250px;
  height: 250px;
  cursor: pointer;
}

.ImgErrorMsg {
  color: red;
  font-size: 14px;
}

.previewContainer {
  position: relative;
}

.ImgDeleteIcon {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
