.header {
  @apply py-2 border-b bg-white sticky top-0;
  border-color: #dfdfdf;

  .container {
    @apply flex items-center;
    max-width: 1520px;
  }
}
.gnb {
  @apply flex gap-8 mr-auto;

  .links {
    @apply flex font-bold;
    font-size: 18px;
    color: #4b5563;

    a {
      @apply px-4 py-3 block;

      &.active {
        color: #3692ff;
      }
    }
  }
}

.gnb-market {
  nav .market {
    color: #3692ff;
  }
}
