.nav-container {
  border-bottom: 1px solid #dfdfdf;
}

.nav-bar {
  display: flex;
  padding-right: 200px;
  padding-left: 200px;
  justify-content: space-between;
  align-items: center;
}

.nav-front {
  display: flex;
  align-items: center;
  gap: 47px;
}

.nav-logo {
  width: 153px;
  height: 51px;
}

.nav-board {
  display: flex;
  gap: 30px;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
}

.nav-board a {
  color: #4b5563;
  text-decoration: none;
}

.nav-board-used-market.active {
  color: #3692ff;
}

.nav-icon {
  display: block;
  width: 40px;
  height: 40px;
}

@media (max-width: 1279px) {
  .nav-bar {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media (max-width: 767px) {
  .nav-bar {
    padding-right: 16px;
    padding-left: 16px;
  }

  .nav-front {
    gap: 8px;
  }

  .nav-logo {
    width: 100px;
    height: 35px;
  }

  .nav-board {
    gap: 8px;
    font-size: 16px;
  }
}
