.pagination {
  display: flex;
  align-items: center;
  gap: 4px;
  justify-content: center;
  padding-top: 20px;
}

.pagination button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #d1d5db;
  background-color: #fff;
  color: #6b7280;
  cursor: pointer;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
}

.pagination button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.pagination .active {
  background-color: #3692ff;
  color: #fff;
  border: 1px solid #3692ff;
}
