.product-inquiry {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px auto;
  width: 100%;
  max-width: 1200px;
}

.product-inquiry h2 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 9px;
}
