.dd-con {
  position: relative;
}
.dd-con .dd-box {
  width: 130px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--gray200);
  border-radius: 12px;
  gap: 24px;
  cursor: pointer;
}
.dd-con .dd-box p {
  display: block;
}
.dd-con .dd-box .d-icon {
  width: 16px;
}
.dd-con .dd-box .d-icon .pc-downicon {
  display: block;
  width: 100%;
}
.dd-con .dd-box .d-icon .m-downicon {
  width: 100%;
  display: none;
}
.dd-con .dd-list {
  position: absolute;
  top: 0;
  transform: translateY(50px);
}

.dd-con .dd-list button {
  width: 130px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--gray200);
  gap: 24px;
  cursor: pointer;
  background-color: var(--white);
  font-size: 1rem;
}
.dd-con .dd-list .newbtn {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
.dd-con .dd-list .goodbtn {
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

/* Mobile */
@media (min-width: 320px) and (max-width: 767px) {
  .dd-con .dd-box {
    width: 42px;
  }
  .dd-con .dd-box p {
    display: none;
  }
  .dd-con .dd-box .d-icon .m-downicon {
    width: 100%;
    display: block;
  }
  .dd-con .dd-box .d-icon .pc-downicon {
    display: none;
    width: 100%;
  }
  .dd-con .dd-list {
    left: -85px;
  }
}
