.pagination-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  margin-top: 43px;
  margin-bottom: 58px;
}
.pagination-wrap .pagin-btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: relative;
  background-color: var(--white);
  border: 1px solid var(--gray200);
}
.pagination-wrap .pagin-btn img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.pagination-wrap .pagin-btn:disabled {
  cursor: default;
  opacity: 0.5;
}
.pagination-wrap .pagin-btn.active {
  background-color: var(--pgnibtn);
  color: #fff;
}
