@import "./global.css";

.bestProducts {
  width: 1370px;
  margin-top: 100px;
}

.bestTitle {
  font-weight: 600;
  font-size: 20px;
  padding-bottom: 20px;
}

.products {
  display: flex;
  gap: 30px;
}

@media (max-width: 1152px) {
  .bestProducts {
    width: 810px;
  }

  .items {
    flex-wrap: wrap;
  }
}

@media (max-width: 768px) {
  .bestProducts {
    width: 520px;
  }

  .items {
    flex-wrap: wrap;
  }
}
