@import "global.css";

.Navibar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 100px;
  align-items: center;
  position: fixed;
  top: 0;
  background-color: #ffffff;
  border-bottom: 1px solid gray;
}

.logoAndMenu {
  display: flex;
  gap: 50px;
}

.menu {
  display: flex;
  gap: 20px;
  font-weight: 600;
  font-size: 16px;
  align-items: center;
  color: gray;
  text-decoration: none;
}

.MainLogo {
  height: 48px;
}

.UserLogo {
  height: 40px;
}
