.pagination {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.paginationButton {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: #24242c;
  border: none;
  border-radius: 10px;
  width: 30px;
  height: 25px;
  font-size: 16px;
}

.paginationButton:disabled {
  cursor: not-allowed;
  background-color: #d1d5db;
}
