.titleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sectionTitle {
  padding-top: 15px;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 700;
  color: #111827;
}

.addPostLink {
  width: 88px;
  height: 42px;
  text-align: center;
  padding: 12px;
  border-radius: 8px;
  background-color: #3692ff;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  color: #fff;
}
