* {
  box-sizing: border-box;
  margin: 0;
}

* {
  --primary: #3692ff;
  --cyan-blue: #cfe5ff;
  --white: #ffffff;
  --gray-400: #9ca3af;
  --light-gray: #dfdfdf;
  --gray-200: #e5e7eb;
  --gray-100: #f3f4f6;
  --gray-50: #f9fafb;
  --gray-10: #fcfcfc;
  --black-900: #111827;
  --black-700: #374151;
}

@font-face {
  font-family: "ROKAF Sans";
  src: url("fonts/ROKAF_Sans_Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

.title {
  font-family: "ROKAF Sans", sans-serif;
  color: var(--primary);
  font-weight: 700;
  text-align: center;
  text-decoration: none;
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button {
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-family: "pretendard Variable", "Noto Sans Korean";
  font-weight: 600;
  text-decoration: none;
}

.large-button {
  border-radius: 40px;
  padding: 16px 124px;
  font-size: 20px;
  line-height: 32px;
}

@media (max-width: 1199px) {
  * {
    box-sizing: border-box;
    margin: 0;
  }

  * {
    --primary: #3692ff;
    --cyan-blue: #cfe5ff;
    --white: #ffffff;
    --gray-400: #9ca3af;
    --light-gray: #dfdfdf;
    --gray-200: #e5e7eb;
    --gray-100: #f3f4f6;
    --gray-50: #f9fafb;
    --gray-10: #fcfcfc;
    --black-900: #111827;
    --black-700: #374151;
  }

  @font-face {
    font-family: "ROKAF Sans";
    src: url("fonts/ROKAF_Sans_Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
  }

  .title {
    font-family: "ROKAF Sans", sans-serif;
    color: var(--primary);
    font-weight: 700;
    text-align: center;
    text-decoration: none;
  }

  .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .button {
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-family: "pretendard Variable", "Noto Sans Korean";
    font-weight: 600;
    text-decoration: none;
  }

  .large-button {
    border-radius: 40px;
    padding: 16px 124px;
    font-size: 20px;
    line-height: 32px;
  }
}

@media (min-width: 1200px) {
  * {
    box-sizing: border-box;
    margin: 0;
  }

  * {
    --primary: #3692ff;
    --cyan-blue: #cfe5ff;
    --white: #ffffff;
    --gray-400: #9ca3af;
    --light-gray: #dfdfdf;
    --gray-200: #e5e7eb;
    --gray-100: #f3f4f6;
    --gray-50: #f9fafb;
    --gray-10: #fcfcfc;
    --black-900: #111827;
    --black-700: #374151;
  }

  @font-face {
    font-family: "ROKAF Sans";
    src: url("fonts/ROKAF_Sans_Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
  }

  .title {
    font-family: "ROKAF Sans", sans-serif;
    color: var(--primary);
    font-weight: 700;
    text-align: center;
    text-decoration: none;
  }

  .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .button {
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-family: "pretendard Variable", "Noto Sans Korean";
    font-weight: 600;
    text-decoration: none;
  }

  .large-button {
    border-radius: 40px;
    padding: 16px 124px;
    font-size: 20px;
    line-height: 32px;
  }
}
