* {
  --gray-800: #1f2937;
  --Alice-Blue: #e6f2ff;
}

body,
.join-page,
.join-content,
.join-main,
.join,
.email,
.password {
  display: flex;
  flex-direction: column;
}

body,
.to-us,
.join-page {
  justify-content: center;
  align-items: center;
}

.head {
  width: 396px;
  height: 132px;
}

.title {
  font-size: 66px;
  line-height: 89px;
}

.join-page {
  width: 640px;
  margin: 231px 640px;
  gap: 40px;
}

.join-content,
.join-main,
.join,
form,
.simple-login,
.to-us {
  display: flex;
  font-family: "pretendard Variable", "Noto Sans Korean";
}

.join-content,
.join-main,
.join,
form {
  width: 100%;
  gap: 24px;
}

form,
.email,
.password,
.sns {
  gap: 16px;
}

.email,
.password {
  font-weight: 700;
  font-size: 18px;
  color: var(--gray-800);
  line-height: 26px;
}

input,
button,
.sky-login {
  width: 640px;
  gap: 10px;
  display: flex;
}

input,
button {
  height: 56px;
}

input {
  border: none;
  border-radius: 12px;
  padding: 16px 24px;
  color: var(--gray-400);
  background-color: var(--gray-100);
}

input:focus {
  border: 2px solid var(--primary);
  outline: none;
}

.large-button {
  background-color: var(--gray-400);
  color: var(--gray-100);
  text-align: center;
}

.sns,
.sns-icon,
.sky-login,
.simple-login {
  display: flex;
  align-items: center;
}

.sky-login {
  height: 74px;
  border-radius: 8px;
  padding: 16px 23px;
  background-color: var(--Alice-Blue);
}

.simple-login,
.to-us {
  font-weight: 500;
}

.simple-login {
  width: 594px;
  justify-content: space-between;
  font-size: 16px;
  line-height: 26px;
  color: var(--gray-800);
}

.to-us {
  text-align: center;
  gap: 4px;
  font-size: 14px;
}

.us-message {
  line-height: 24px;
  color: var(--gray-800);
}

.us-link {
  line-height: 17px;
  color: var(--primary);
}
