* {
  --primary: #3692ff;
  --black: #1f2937;
  --gray-400: #9ca3af;
  --gray-100: #f3f4f6;
  --sky: #e6f2ff;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 640px;
  margin: 231px 640px;
  gap: 40px;
}

.head {
  width: 396px;
  height: 132px;
}

.title {
  font-size: 66px;
  line-height: 89px;
}

.login-content,
.login-main,
.input-id,
form {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.login-content,
.login-main,
.input-id {
  flex-direction: column;
  gap: 24px;
}

form {
  gap: 16px;
}

.email,
.password {
  display: flex;
  gap: 16px;
  flex-direction: column;
  font-family: "pretendard Variable", "Noto Sans Korean";
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: var(--black);
}

input,
button,
.sky-login {
  width: 640px;
  gap: 10px;
  display: flex;
}

input,
button {
  height: 56px;
}

input {
  border: none;
  border-radius: 12px;
  padding: 16px 24px;
  color: var(--gray-400);
  background-color: var(--gray-100);
}

input:focus {
  border: 2px solid var(--primary);
  outline: none;
}

button {
  padding: 16px 124px;
  background-color: var(--gray-400);
  border-radius: 40px;
  color: var(--gray-100);
  font-size: 20px;
  line-height: 32px;
  text-align: center;
}

.sky-login {
  height: 74px;
  border-radius: 8px;
  padding: 16px 23px;
  background-color: var(--sky);
  align-items: center;
}

.simple-login,
.visitor {
  font-family: "pretendard Variable", "Noto Sans Korean";
  font-weight: 500;
}

.simple-login {
  width: 594px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  line-height: 26px;
  color: var(--black);
}

.sns {
  display: flex;
  align-items: center;
  gap: 16px;
}

.sns-icon {
  display: flex;
}

.visitor {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 4px;
  font-size: 14px;
}

.first-time {
  line-height: 24px;
  color: var(--black);
}

.sign-up {
  line-height: 17px;
  color: var(--primary);
}
