body {
  background-color: var(--gray-10);
}

header {
  position: sticky;
  z-index: 1;
  top: 0;
  margin: 0 auto;
  width: 100%;
  background-color: white;
  background-size: cover;
  height: 70px;
  border-bottom: 1px solid var(--gray-border);
  padding: 9px 400px;
}

.head {
  height: 100%;
  width: auto;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.title {
  font-size: 26px;
  line-height: 35px;
}

button:hover {
  background-color: #2877d4;
}

button {
  background-color: var(--primary);
  justify-content: center;
}

.small-button {
  border-radius: 8px;
  width: 128px;
  height: 48px;
  padding: 12px 23px;
  font-size: 16px;
  line-height: 26px;
  color: var(--gray-100);
}

.large-button {
  border-radius: 40px;
  padding: 16px 124px;
  height: 56px;
  font-size: 20px;
  line-height: 32px;
  color: var(--gray-50);
  cursor: pointer;
}

.home {
  background-color: var(--primary-home);
  height: 540px;
  width: 100%;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.top,
.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top {
  gap: 7px;
}

.top-text {
  padding-bottom: 60px;
  gap: 32px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

h2 {
  font-family: "Pretendard Variable", "Noto Sans Korean";
  font-weight: 700;
  font-size: 40px;
  line-height: 56px;
  color: var(--black-700);
  margin-bottom: 32px;
}

section {
  padding: 138px 0;
  gap: 10px;
  width: 100%;
  background-color: white;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section {
  width: 988px;
  border-radius: 12px;
  gap: 64px;
  background-color: var(--gray-10);
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-left,
.image-right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-right: 24px;
  gap: 12px;
}

.image-right {
  align-items: flex-end;
  padding-left: 24px;
}

span {
  font-family: "Pretendard Variable", "Noto Sans Korean";
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  color: var(--primary);
}

.text-right,
.text-left {
  gap: 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.text-left > h3,
.text-left > div {
  text-align: right;
}

h3 {
  font-family: "Pretendard Variable", "Noto Sans Korean";
  font-size: 40px;
  font-weight: 700;
  line-height: 56px;
  color: var(--black-700);
  white-space: nowrap;
}

.text-right > div,
.text-left > div {
  font-family: "Pretendard Variable", "Noto Sans Korean";
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  color: var(--black-700);
  white-space: nowrap;
}

.bottom {
  gap: 69px;
}

.bottom-text {
  gap: 10px;
}

footer {
  display: flex;
  gap: 10px;
  padding: 32px 400px;
  background-color: var(--black-900);
}

.footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.copyright,
.info {
  font-family: "Pretendard Variable", "Noto Sans Korean";
  font-size: 16px;
  font-weight: 400;
  line-height: 19.09px;
  text-align: center;
}

.copyright {
  color: var(--gray-400);
}

.info {
  display: flex;
  gap: 30px;
}

.privacy,
.faq {
  text-decoration: none;
  color: var(--gray-200);
}

.sns {
  width: 116px;
  gap: 12px;
}
