.add-item-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 24px 360px;
}

.add-item-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-item-register-btn {
  width: fit-content;
  height: fit-content;
  padding: 12px 24px;
  border-radius: 8px;
  background-color: var(--blue-400);
  transition: background-color 0.3s ease, color 0.3s ease;
  color: white;
  font-size: 16px;
  font-weight: 600;
  border: none;
}

.add-item-register-btn:disabled {
  background-color: var(--gray-400);
  color: var(--gray-100);
  transition: background-color 0.3s ease, color 0.3s ease;
}
