.ItemList {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  width: 1200px;
  margin: 0 auto;
}

.ItemList-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  margin-bottom: 24px;
}

.ItemList-header .utils {
  display: flex;
  align-items: center;
  gap: 12px;
}

.ItemList-header .title {
  font-size: 20px;
  font-weight: 700;
  line-height: 32px;
}

.ItemList-header .btn-add {
  background-color: var(--blue);
  color: var(--gray-100);
  height: 42px;
  padding: 0 23px;
  border: none;
  border-radius: 8px;

  font-size: 16px;
  font-weight: 600;
}

.select-order {
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: relative;
  width: 130px;
  height: 42px;
  padding: 0 20px;
  border-radius: 12px;
  border: 1px solid var(--gray-200);
  background-color: #ffffff;

  font-size: 16px;
  font-weight: 400;
  user-select: none;
}

.option-wrap {
  display: none;

  position: absolute;
  bottom: -98px;
  right: 0;

  width: 130px;
  border: 1px solid var(--gray-200);
  border-radius: 12px;
  background-color: #ffffff;
}

.option-wrap.show {
  display: block;
}

.option {
  height: 42px;
  border-bottom: 1px solid var(--gray-200);
  padding: 12px 0;
  text-align: center;
}

.ItemList-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 40px 12px;
  width: 100%;
  margin-bottom: 40px;
}

@media screen and (max-width: 1199px) {
  .ItemList {
    width: 696px;
  }

  .ItemList-content {
    gap: 40px 18px;
  }
}

@media screen and (max-width: 767px) {
  .ItemList {
    width: 344px;
  }

  .ItemList-content {
    gap: 40px 8px;
  }

  .ItemList-header {
    flex-direction: column;
    gap: 8px;
  }

  .ItemList-header .mobile-wrap {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}
