.btn- {
  &login {
    padding: 1.1rem 4.3rem;
    font-size: 1.6rem;
    line-height: 2.6rem;
  }

  &addItem {
    padding: 0.8rem 2.3rem;
    font-size: 1.6rem;
    line-height: 2.6rem;
  }
}

@media screen and (max-width: 767px) {
  .btn- {
    &addItem {
      order: 2;
    }
  }
}
