header {
  width: 100%;
  height: 70px;
  border-bottom: 1px solid var(--bordercode);
  position: fixed;
  top: 0;
  z-index: 10;
  background-color: var(--white);
}
header .header-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0px 200px;
}
header .header-container .header-logo-wrap {
  display: flex;
  gap: 8.5px;
  align-items: center;
}
header .header-container .header-logo-wrap .header-face-logo {
  width: 40px;
  height: 40px;
}
header .header-container .header-logo-wrap .header-face-logo img {
  width: 100%;
}
header .header-container .header-logo-wrap .header-face-tetx {
  width: 130px;
}
header .header-container .header-logo-wrap .header-face-tetx img {
  width: 100%;
}
header .header-container .header-nav {
  padding-left: 50px;
  flex: 1;
}
header .header-container .header-nav ol {
  display: flex;
  gap: 30px;
}
header .header-container .header-nav ol li a {
  font-size: 1.125rem;
  font-weight: 700;
}
header .header-container .header-nav ol li .used-market {
  color: var(--skyblue);
}
header .header-container .header-myicon {
  width: 40px;
  height: 40px;
}
header .header-container .header-myicon img {
  width: 100%;
  height: 100%;
}
/* Tablet */
@media (min-width: 744px) and (max-width: 1199px) {
  header .header-container {
    padding: 0px 24px;
  }
}
/* Mobile */
@media (min-width: 375px) and (max-width: 744px) {
  header .header-container {
    padding: 0px 14px;
  }
  header .header-container .header-nav ol li a {
    font-size: 1rem;
  }
  header .header-container .header-logo-wrap .header-face-logo {
    display: none;
  }
  header .header-container .header-logo-wrap .header-face-tetx {
    width: 80px;
  }
  header .header-container .header-nav {
    padding-left: 8px;
  }
  header .header-container .header-nav ol {
    gap: 8px;
  }
}
