.Navigation {
  width: 100%;
  background-color: #ffffff;
  border-bottom: 1px solid #dfdfdf;
  margin-bottom: 24px;
}

.Navigation-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;

  max-width: 1200px;
  padding: 14px 0;
  margin: 0 auto;
}

.logo-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.logo-icon {
  width: 40px;
}

.logo-text {
  font-size: 26px;
  font-weight: 700;
  color: var(--blue);
  text-decoration: none;
  font-family: "ROKAF Sans";
}

.Navigation-tabs {
  display: flex;
  justify-content: flex-start;
  flex-grow: 1;
  margin: 0 32px;
}

.Navigation-tabs li {
  flex: 0 0 108px;
  text-align: center;
}

.Navigation-tabs .tab {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  color: var(--gray-600);
}

.Navigation-tabs .tab.current {
  color: var(--blue);
}

@media screen and (min-width: 1600px) {
  .Navigation {
    padding: 0 200px;
  }
  .Navigation-wrap {
    max-width: 100%;
  }
}

@media screen and (max-width: 1199px) {
  .Navigation-wrap {
    padding: 14px 24px;
  }
}
