@import url(common.css);
body {
  margin: 0 auto;
  position: relative;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 200px;
  background-color: white;
  border-bottom: 1px solid #dfdfdf;
  z-index: 999;
}
.header a {
  cursor: pointer;
}
.banner-header {
  margin-top: 66px;
  display: flex;
  justify-content: center;
  height: 540px;
  background-size: 100%;
  background-image: url(/img/main/pc_banner_main.png);
  background-color: var(--bannerBackGround);
  position: relative;
}
.banner-header-info {
  height: 260px;
  position: absolute;
  top: 240px;
  left: 18vw;
  display: flex;
  flex-direction: column;
}
.banner-header-txt {
  width: 350px;
  font-size: 2.2rem;
  color: var(--contentsDetailBackGround);
  font-weight: bold;
  margin-bottom: 32px;
}
h1 br {
  display: inline-block;
}
.banner-button {
  height: 56px;
  border-radius: 30px;
  border: 0px;
  background-color: var(--skyblue);
  cursor: pointer;
}
.banner-button a {
  color: #f5f5f5;
  font-size: 1.5rem;
  line-height: 20px;
  text-decoration: none;
  font-weight: bold;
}
.contents:nth-child(2n) {
  text-align: right;
}
.contents {
  margin: 0 auto;
  width: 988px;
  display: flex;
  justify-content: center;
  margin: 138px auto;
}
.contents-form {
  width: 100%;
  height: 444px;
  background: var(--contentsFormBackGround);
  padding: 0 23.5px;
  display: flex;
  justify-content: center;
}
.contents-detail {
  background-color: var(--contentsFormBackGround);
  margin: auto;
}
.contents-detail img {
  height: 444px;
}
.contents-detail-top {
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  color: var(--skyblue);
  margin-bottom: 12px;
}
.contents-detail-mid {
  font-weight: 700;
  font-size: 40px;
  color: var(--contentsDetailBackGround);
  margin: 12px 0 8px 0;
}

.contents-detail-bottom {
  font-weight: 500;
  font-size: 16px;
  line-height: 19.2px;
  letter-spacing: 0.08em;
  color: var(--contentsDetailBackGround);
}
.blank {
  height: 138px;
  width: auto;
  background-color: #f5f5f5;
}
.banner-footer {
  margin-top: 66px;
  height: 540px;
  background-size: 100%;
  background-image: url(/img/main/pc_banner_footer.png);
  background-color: var(--bannerBackGround);
  position: relative;
}
.banner-bottom-txt {
  position: absolute;
  top: 235px;
  left: 18vw;
  width: 350px;
  height: 260px;
  font-size: 2.5rem;
  color: var(--contentsDetailBackGround);
  font-weight: bold;
  letter-spacing: -1.5px;
}
.footer {
  height: 160px;
  background-color: #111827;
  display: flex;
  justify-content: space-between;
}
.footer div {
  flex: 1;
  text-align: center;
  padding-top: 32px;
}
.footer a {
  padding-right: 20px;
  cursor: pointer;
}
.since img {
  padding-left: 10px;
}

@media (max-width: 1199px) {
  .header {
    padding: 0 24px;
  }
  .header a:nth-child(1) {
    content: url("/img/main/logo_tablet.png");
  }
  .banner-header {
    margin-top: 66px;
    height: 80vh;
    background-image: url(/img/main/small_banner_main.png);
    margin-bottom: 24px;
  }
  .banner-header-info {
    top: 0;
    left: auto;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  h1 br {
    display: contents;
  }
  .banner-header-txt {
    width: 100%;
    font-size: 2.2rem;
    color: var(--contentsDetailBackGround);
    font-weight: bold;
    margin-bottom: 32px;
  }
  .banner-button {
    width: 40vw;
  }

  .contents {
    width: 100%;
    margin: 16px auto;
  }
  .contents-form {
    height: auto;
    display: flex;
    padding: 0 24px;
    flex-direction: column;
    justify-content: left;
  }
  .contents-detail {
    background-color: var(--contentsFormBackGround);
    margin: 24 0;
    order: 2;
  }
  .contents-form img {
    width: 100%;
    border-radius: 14.2041px;
    background-size: 100%;
    background-repeat: no-repeat;
  }
  .contents-home-img {
    content: url(/img/main/small_content_hot_item.png);
  }
  .contents-search-img {
    content: url(/img/main/small_content_search.png);
    order: 1;
  }
  .contents-register-img {
    content: url(/img/main/small_content_register.png);
  }
  .contents-detail-top {
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    color: var(--skyblue);
    margin-bottom: 12px;
  }
  .contents-detail-mid {
    font-weight: 700;
    font-size: 40px;
    color: var(--contentsDetailBackGround);
    margin: 12px 0 8px 0;
  }
  .banner-bottom {
    height: 80vh;
  }
  .banner-bottom-img {
    content: url(/img/main/small_banner_footer.png);
  }
  .banner-bottom-txt {
    width: 80vw;
    left: auto;
    text-align: center;
  }
  .banner-bottom-txt br {
    display: none;
  }
  .blank {
    display: none;
  }
  .banner-footer {
    margin-top: 83px;
    height: 80vh;
    background-size: 100%;
    background-image: url(/img/main/small_banner_footer.png);
    background-color: var(--bannerBackGround);
    position: relative;
  }
  .banner-bottom-txt {
    position: absolute;
    top: 235px;
    width: 100%;
    font-size: 2.5rem;
    color: var(--contentsDetailBackGround);
    font-weight: bold;
    letter-spacing: -1.5px;
  }
}

@media (max-width: 767px) {
  .header {
    padding: 0 16px;
  }
  .header a:nth-child(1) {
    content: url("/img/main/logo_mobile.png");
  }
  .banner-header {
    margin-top: 66px;
    height: 50vh;
    background-image: url(/img/main/small_banner_main.png);
    margin-bottom: 52px;
  }
  .banner-header-info {
    top: 0;
    left: auto;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  h1 br {
    display: inline-block;
  }
  .banner-header-txt {
    width: 100%;
    font-size: 2.2rem;
    color: var(--contentsDetailBackGround);
    font-weight: bold;
    margin-bottom: 18px;
    text-align: center;
  }
  .banner-button {
    width: 40vw;
  }

  .contents {
    width: 100%;
  }
  .contents-form {
    height: auto;
    display: flex;
    padding: 0 15px;
    flex-direction: column;
    justify-content: left;
  }
  .contents-detail {
    background-color: var(--contentsFormBackGround);
    margin: 16 0;
    order: 2;
  }
  .contents-form img {
    width: 100%;
    border-radius: 14.2041px;
    background-size: 100%;
    background-repeat: no-repeat;
  }
  .contents-home-img {
    content: url(/img/main/small_content_hot_item.png);
  }
  .contents-search-img {
    content: url(/img/main/small_content_search.png);
    order: 1;
  }
  .contents-register-img {
    content: url(/img/main/small_content_register.png);
  }
  .contents-detail-top {
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    color: var(--skyblue);
    margin-bottom: 12px;
  }
  .contents-detail-mid {
    font-weight: 700;
    font-size: 40px;
    color: var(--contentsDetailBackGround);
    margin: 12px 0 8px 0;
  }
  .banner-bottom {
    height: 80vh;
  }
  .banner-bottom-img {
    content: url(/img/main/small_banner_footer.png);
  }
  .banner-bottom-txt {
    width: 80vw;
    left: auto;
    text-align: center;
  }
  .banner-bottom-txt br {
    display: inline-block;
  }
  .blank {
    display: none;
  }
  .banner-footer {
    margin-top: 83px;
    height: 43vh;
    background-size: 100%;
    background-image: url(/img/main/small_banner_footer.png);
    background-color: var(--bannerBackGround);
    position: relative;
  }
  .banner-bottom-txt {
    position: absolute;
    top: 121px;
    width: 100%;
    font-size: 2.5rem;
    color: var(--contentsDetailBackGround);
    font-weight: bold;
    letter-spacing: -1.5px;
  }
}
