* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  position: relative;
  font-family: Pretendard;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 200px;
  background-color: white;
  border-bottom: 1px solid #dfdfdf;
  z-index: 999;
}
header a {
  cursor: pointer;
}
main {
  padding-top: 66px;
}
.banner-top {
  display: flex;
  justify-content: center;
  width: auto;
  height: 540px;
  background-color: #cfe5ff;
}
.banner-img {
  position: relative;
}
.banner-info {
  width: auto;
  height: 260px;
  position: absolute;
  top: 245px;
  left: 405;
  display: flex;
  flex-direction: column;
}
.banner_txt {
  width: 350px;
  height: 112px;
  font-size: 2.2rem;
  color: #374151;
  padding-bottom: 140px;
  font-weight: bold;
}
.banner-button {
  width: auto;
  height: 56px;
  border-radius: 30px;
  border: 0px;
  background-color: #3692ff;
  cursor: pointer;
}
.banner-button a {
  color: #f5f5f5;
  font-size: 1.5rem;
  line-height: 20px;
  text-decoration: none;
  font-weight: bold;
}

.contents {
  display: flex;
  justify-content: center;
  padding: 138px 466px;
}
.empty {
  height: 138px;
  width: auto;
  background-color: #f5f5f5;
}
.banner-bottom {
  display: flex;
  justify-content: center;
  width: auto;
  height: 540px;
  background-color: #cfe5ff;
}
.contents-img {
  position: relative;
}
.contents-info {
  position: absolute;
  top: 235px;
  left: 405;
  width: 350px;
  height: 260px;
  font-size: 2.5rem;
  color: #374151;
  font-weight: bold;
  letter-spacing: -1.5px;
}
footer {
  height: 160px;
  background-color: #111827;
  display: flex;
  justify-content: space-between;
}
footer div {
  flex: 1;
  text-align: center;
  padding-top: 32px;
}
footer .info a {
  padding-right: 20px;
  cursor: pointer;
}

.since img {
  padding-left: 10px;
  cursor: pointer;
}
