.header {
  @apply sticky top-0 z-50 border-b bg-white py-2;
  border-color: #dfdfdf;

  .container {
    @apply mx-auto flex items-center px-4;
    max-width: 1520px;
  }
}

.gnb {
  @apply mr-auto flex gap-2 sm:gap-8;

  .links {
    @apply flex font-bold;
    font-size: 18px;
    color: #4b5563;

    .link {
      @apply block px-1 py-3 sm:px-2 md:px-4;

      &:hover,
      &.active {
        color: #3692ff;
      }
    }
  }
}
