@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "ROKAF Sans";
  src: url("./assets/fonts/ROKAF_Sans/ROKAF\ Sans\ Medium.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  font-size: 16px;

  --gray-900: #111827;
  --gray-800: #1f2937;
  --gray-700: #374151;
  --gray-600: #4b5563;
  --gray-500: #6b7280;
  --gray-400: #9ca3af;
  --gray-300: #e5e7eb;
  --gray-200: #f3f4f6;
  --gray-100: #f9fafb;

  --blue: #3692ff;

  --warning: #f74747;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Pretendard-Regular";
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}
