.header {
  display: flex;
  align-items: center;
  margin-bottom: 32px;
}

.headerTitle {
  flex-grow: 1;
  font-size: 20px;
  line-height: 32px;
  font-weight: 700;
  color: var(--gray-800);
}

.submitButton {
  padding: 12px 23px;
  border: none;
  border-radius: 8px;
  background-color: var(--blue);

  color: var(--gray-200);
  font-size: 16px;
  font-weight: 600;
}

.submitButton:hover {
  background-color: var(--blue-hover);
}

.submitButton:active {
  background-color: var(--blue-active);
}

.submitButton:disabled {
  background-color: var(--inactive);
}
