.all-section-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
  align-items: center;
}

.addArticlelink {
  padding: 12px 23px;
  gap: 10px;
  border-radius: 8px;
  background-color: #3692ff;
  color: #ffffff;
  font-family: Pretendard;
  font-size: 16px;
  font-weight: 600;
  text-align: left;
  text-decoration: none;
}

.all-title {
  font-family: Pretendard;
  font-size: 20px;
  font-weight: 700;
  text-align: left;
  color: #111827;
}

.allarticle-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.allarticle-item {
  text-decoration: none;
  display: flex;
  gap: 16px;
  flex-direction: column;
  padding: 0 0 24px;
  border-bottom: 1px solid #e5e7eb;
  color: #1f2937;
}

.allarticle-body {
  display: flex;
  justify-content: space-between;
}

.allarticle-title {
  margin: 0;
}

.allarticle-image {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #e5e7eb;
}

.allarticle-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.allarticle-info {
  display: flex;
  gap: 8px;
  font-family: Pretendard;
  font-size: 14px;
  text-align: left;
  font-weight: 400;
}

.allarticle-writer {
  color: #4b5563;
}

.allarticle-updatedAt {
  color: #9ca3af;
}

.allarticle-likes {
  font-family: Pretendard;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  color: #6b7280;
  display: flex;
  align-items: center;
  gap: 8px;
}

@media (min-width: 768px) {
  .allarticle-list {
    gap: 16px;
  }
}

@media (min-width: 1280px) {
  .all-title {
    font-size: 28px;
  }

  .allarticle-list {
    gap: 24px;
  }
}
