.boards-page {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 4rem;
  margin-top: 2.4rem;
}
.best-board-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 2.4rem;
}

.best-board-title {
  font-weight: var(--bold);
  font-size: 2rem;
  line-height: 2.3rem;
}

.best-board-card {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 2.4rem;
}

.card-content {
  display: flex;
  flex-direction: column;
  width: 38.4rem;
  height: 16.9rem;
  padding: 0 2.4rem 1.6rem 2.4rem;
  background-color: var(--gray-50);
  gap: 1rem;
}

.card-head {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10.2rem;
  padding: 0.2rem 2.4rem;
  gap: 0.5rem;
  background-color: var(--primary);
  border-bottom-left-radius: 1.6rem;
  border-bottom-right-radius: 1.6rem;
}

.card-head-title {
  font-weight: var(--medium);
  font-size: 1.6rem;
  line-height: 2.6rem;
  color: var(--white);
}

.card-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.card-body-content {
  width: auto;
  font-weight: var(--medium);
  font-size: 2rem;
  line-height: 3.2rem;
  color: var(--approx-midnight);
}

.card-body-content-image {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.2rem;
  background-color: var(--white);
  border-radius: 0.6rem;
  border: 0.1rem solid var(--gray-200);
}

.card-bottom {
  display: flex;
  justify-content: space-between;
}

.card-bottom-ahead {
  display: flex;
  width: 100%;
  gap: 0.8rem;
}

.board-user-id,
.like-count,
.upload-date {
  font-weight: var(--regular);
  font-size: 1.4rem;
  line-height: 2.4rem;
}

.board-user-id {
  color: var(--grayish-blue);
}

.like-count {
  color: var(--gray-500);
}

.upload-date {
  color: var(--gray-400);
}

.like-it {
  display: flex;
  width: 100%;
  gap: 0.4rem;
}

/*module로 바꾸기*/
