.best_article_link {
  display: flex;
  gap: 24px;
}

.board_container {
  padding-top: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.best_article_container {
  display: flex;
  flex-direction: column;
  width: 1200px;
}

.best_article {
  display: flex;
  gap: 24px;
  margin-top: 24px;
}

.container {
  background-color: #f9fafb;
  padding: 0 24px;
}

.clip {
  background-color: #3692ff;
  font-size: #3692ff;
  color: #ffffff;
  width: 60px;
  padding: 7px 24px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  display: flex;
  gap: 5px;
}

.best_article_middle {
  margin-top: 16px;
  margin-bottom: 18px;
  display: flex;
  justify-content: space-between;
  width: 336px;
}

.image_container {
  width: 72px;
  height: 72px;
  border: 1px solid #e5e7eb;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.best_article_title {
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
  color: #1f2937;
}

.best_article_bottom {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.best_article_bottom_front {
  display: flex;
}

.best_article_author {
  font-size: 14px;
  font-weight: 400;
  color: #4b5563;
  margin-right: 8px;
}

.best_article_like {
  display: flex;
  align-items: center;
  gap: 4px;
  color: #6b7280;
}

.best_article_date {
  font-size: 14px;
  color: #9ca3af;
}

.h1,
.h2 {
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
  color: #1f2937;
}

.article_container {
  display: flex;
  flex-direction: column;
  width: 1200px;
}

.article_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.button {
  background-color: #3692ff;
  border: none;
  color: #ffffff;
  padding: 12px 23px;
  border-radius: 8px;
}

.button:hover {
  cursor: pointer;
}

.article_controls {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
  gap: 16px;
}

.article_search {
  background-color: #f3f4f6;
  border: 1px solid #f3f4f6;
  border-radius: 12px;
  padding: 0 20px;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 4px;
}

.search_button {
  border: none;
  background-color: #f3f4f6;
  padding: 0;
}

.search_button:hover {
  cursor: pointer;
}

.search_button > img {
  display: flex;
}

.search_input {
  border: none;
  background-color: #f3f4f6;
  color: #9ca3af;
  outline: none;
  width: 100%;
}

.search_input::placeholder {
  font-size: 16px;
  color: #9ca3af;
}

.dropdown_button {
  border: 1px solid #e5e7eb;
  background-color: #ffffff;
  border-radius: 12px;
  padding: 12px 20px;
  font-size: 16px;
  width: 130px;
}

.dropdown_button:hover {
  cursor: pointer;
}

.article_content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.article_title {
  font-size: 20px;
  color: #1f2937;
  font-weight: 600;
}

.article_bottom {
  display: flex;
  justify-content: space-between;
  padding-bottom: 24px;
  border-bottom: 1px solid #e5e7eb;
  margin-bottom: 24px;
}

.article_bottom_front {
  display: flex;
  align-items: center;
  gap: 8px;
}

.article_author {
  font-size: 14px;
  color: #4b5563;
}

.article_date {
  font-size: 14px;
  color: #9ca3af;
}

.article_like {
  display: flex;
  gap: 8px;
  align-items: center;
  font-size: 16px;
  color: #6b7280;
  font-weight: 400;
}

.best_article_link,
.article_link {
  text-decoration: none;
  color: inherit;
}

.dropdown {
  position: relative;
}

.dropdown_options {
  position: absolute;
  top: 120%;
  text-align: center;
  background-color: #ffffff;
  border: 1px solid #e5e7eb;
  border-radius: 8px;
  z-index: 1000;
  width: 130px;
}

.dropdown_options div {
  padding: 12px 16px;
  border-bottom: 1px solid #f0f0f0;
  cursor: pointer;
  color: #1f2937;
}

.dropdown_options div:hover {
  background-color: #f3f4f6;
}

@media (max-width: 1279px) {
  .article_container {
    width: 90%;
  }

  .best_article_container {
    width: 90%;
  }
}
