.postBoardItem {
  background-color: #fcfcfc;
  width: 1200px;
  padding-bottom: 24px;
  margin: auto;
  border-bottom: 2px solid #e8eaed;
  display: flex;
  flex-direction: column;
  gap: 16px;

  & .content {
    display: flex;
  }

  & .title {
    flex-grow: 1;
    font-size: 20px;
    font-weight: 600;
    line-height: 32px;
    color: var(--gray-800);
  }

  & .preview {
    position: relative;
    width: 72px;
    height: 72px;
    border: 1px solid var(--gray-100);
    border-radius: 8px;
  }

  & .info {
    display: flex;
  }

  & .info .wrap {
    display: flex;
    gap: 8px;
  }

  & .info .wrap:first-of-type {
    display: flex;
    gap: 8px;
    flex-grow: 1;
  }

  & .info .image {
    position: relative;
    width: 24px;
    height: 24px;
  }

  .writer {
    font-size: 14px;
    line-height: 24px;
  }

  & .like {
    width: 50px;
    text-align: end;
  }
}
