.container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 1200px;
  margin: 0 auto;
}

@media screen and (max-width: 1199px) {
  .container {
    max-width: 696px;
  }
}

@media screen and (max-width: 767px) {
  .container {
    max-width: 343px;
  }
}
