.smallButton {
  height: 4.2rem;
  width: auto;
  padding: 1.2rem 2.3rem;
  gap: 1rem;
  border-radius: 0.8rem;
  background-color: var(--primary);
  font-weight: var(--medium);
  font-size: 1.6rem;
  line-height: 1.9rem;
  color: var(--white);
}

.smallButton:disabled {
  background-color: var(--gray-400);
  color: var(--gray-100);
  line-height: 2.6rem;
}

.mediumButton {
  width: 12.8rem;
  height: 4.8rem;
  border-radius: 0.8rem;
  padding: 1.2rem 2.3rem;
  gap: 1rem;
  background-color: var(--primary);
  font-weight: var(--medium);
  font-size: 1.6rem;
  line-height: 2.6rem;
  color: var(--gray-100);
}

.largeButton {
  height: 5.6rem;
  width: auto;
  background-color: var(--primary);
  border-radius: 4rem;
  color: var(--gray-50);
  height: 5.6rem;
  padding: 1.6rem 12.4rem;
  font-size: 2rem;
  line-height: 3.2rem;
  font-weight: var(--medium);
  text-align: center;
}
