.smallButton {
  height: 4.2rem;
  width: auto;
  padding: 1.2rem 2.3rem;
  gap: 1rem;
  border-radius: 0.8rem;
  background-color: var(--primary);
}

.smallButton:disabled {
  background-color: var(--gray-400);
  color: var(--gray-100);
  line-height: 2.6rem;
}

.smallButtonText {
  font-weight: var(--medium);
  font-size: 1.6rem;
  line-height: 1.9rem;
  color: var(--white);
}
