.detailedBoardPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  gap: 6.4rem;
  padding-top: 3.2rem;
  padding-bottom: 9.5rem;
}

.detailContent {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

.detailedCardContainer {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.detailedCardContent {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  border-bottom: 0.1rem solid var(--gray-200);
}

.cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cardTitle {
  font-weight: var(--bold);
  font-size: 2rem;
  line-height: 3.2rem;
  color: var(--approx-midnight);
}

.userSpace {
  display: flex;
  gap: 3.2rem;
  margin-bottom: 1.6rem;
  align-items: center;
}

.user {
  display: flex;
  gap: 1.6rem;
  align-items: center;
}

.userInfo {
  display: flex;
  gap: 0.8rem;
}

.userNickname,
.updatedAt {
  font-weight: var(--regular);
  font-size: 1.4rem;
  line-height: 2.4rem;
}

.userNickname {
  color: var(--grayish-blue);
}

.updatedAt {
  color: var(--gray-400);
}

.likeContent {
  padding-left: 3.2rem;
  border-left: 0.1rem solid var(--gray-200);
}

.likeButton {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.7rem;
  height: 4rem;
  border-radius: 3.5rem;
  border: 0.1rem solid var(--gray-200);
  padding: 0.4rem 1.2rem;
  color: var(--gray-500);
  background-color: transparent;
}

.likeCount {
  font-weight: var(--regular);
  font-size: 1.6rem;
  line-height: 2.6rem;
}

.likeButton:hover {
  background-color: var(--primary);
  color: var(--white);
}

.cardMainContent {
  font-weight: var(--thin);
  font-size: 1.8rem;
  line-height: 2.6rem;
  color: var(--approx-midnight);
}

.addCommentSection {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.commentForm {
  display: flex;
  flex-direction: column;
  gap: 0.9rem;
}

.CommentFormTitle {
  font-weight: var(--medium);
  font-size: 1.6rem;
  line-height: 2.6rem;
  color: var(--black-900);
}

.addComment {
  height: 10.4rem;
  border-radius: 1.2rem;
  padding: 1.6rem 2.4rem;
  background-color: var(--gray-100);
  border: none;
  font-weight: var(--thin);
  font-size: 1.6rem;
  line-height: 2.6rem;
  color: var(--gray-400);
}

.commentButton {
  display: flex;
  justify-content: flex-end;
}

.commentContainer {
  display: grid;
  width: 100%;
  grid-template-rows: repeat(3, 1fr);
  column-gap: 4rem;
}

.waitingComment {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;
}

.waitingCommentText {
  font-weight: var(--thin);
  font-size: 1.6rem;
  line-height: 2.6rem;
  color: var(--gray-400);
  text-align: center;
}

.returnListButton {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 4.8rem;
  border-radius: 4rem;
  padding: 1.2rem 6.4rem;
  gap: 0.8rem;
  background-color: var(--primary);
}

.returnListText {
  font-weight: var(--medium);
  font-size: 1.8rem;
  line-height: 2.6rem;
  color: var(--gray-100);
}
