@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: 'Pretendard';
}

:root {
  /*color palette*/
  --primary: #3692ff;
  --cyan-blue: #cfe5ff;
  --white: #ffffff;
  --grayish-blue: #4b5563;
  --gray-500: #6b7280;
  --gray-400: #9ca3af;
  --light-gray: #dfdfdf;
  --gray-300: #d1d5db;
  --gray-200: #e5e7eb;
  --gray-100: #f3f4f6;
  --gray-50: #f9fafb;
  --gray-10: #fcfcfc;
  --black-900: #111827;
  --approx-midnight: #1f2937;
  --black-700: #374151;
  --gray-800: #1f2937;
  --Alice-Blue: #e6f2ff;
  --tomato: #f74747;

  /*font-weight*/
  --thin: 400;
  --regular: 500;
  --medium: 600;
  --bold: 700;
}

html {
  /* 브라우저 폰트 사이즈 16px * 0.625 = 10px */
  font-size: 62.5%;
}

body {
  /* 1rem = html의 폰트 사이즈, 10px = 1rem */
  font-size: 1rem;
}

button {
  border: 0;
  cursor: pointer;
  text-decoration: none;
}

button:disabled {
  cursor: not-allow;
}

img {
  object-fit: cover;
}
