.nav-bar,
.nav-content,
.logo,
.tab,
.title {
  display: flex;
}

.nav-bar,
.logo,
.tab,
.title {
  align-items: center;
}

.nav-bar {
  position: sticky;
  z-index: 1;
  top: 0;
  padding: 0.9rem 0;
  background-color: white;
  height: 7rem;
  border-bottom: 0.1rem solid var(--light-gray);
  justify-content: space-around;
}

.title,
.tab-list {
  text-align: center;
}

.title {
  justify-content: center;
  color: var(--primary);
  font-weight: var(--bold);
  font-size: 2.6rem;
  line-height: 3.5rem;
}

li {
  list-style: none;
}
.tab-list {
  font-weight: var(--medium);
  font-size: 1.8rem;
  line-height: 2.6rem;
  padding: 2.1rem 1.5rem;
  gap: 1rem;
}
li > a {
  color: var(--grayish-blue);
}
a {
  text-decoration: none;
}