.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 200px;
  height: 70px;
  border-bottom: 1px solid #dfdfdf;
}

.nav-front {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-link {
  display: flex;
  align-items: center;
  font-family: 'Pretendard', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  gap: 10px;
  opacity: 0px;
}

.nav-link > .nav-list {
  padding: 21px 15px 21px 15px;
  text-decoration: none;
  color: #4b5563;
}

.nav-link .active-link {
  color: #3692ff;
}

.login {
  padding: 12px 23px;
  border-radius: 8px;
  background-color: #3692ff;
  font-family: 'Pretendard', sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
  text-align: center;
  color: #f3f4f6;
  border: 0;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sortButtonWrapper {
  position: relative;
}

.sortDropdownTriggerButton {
  background-color: #fff;
  border: 0;
  padding: 9px;
  margin-left: 8px;
  cursor: pointer;
}

.dropdownMenu {
  width: 139px;
  position: absolute;
  top: 110%;
  right: 0;
  background-color: #fff;
  border-radius: 8px;
  border: 1px solid #e5e7eb;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 99;
  font-family: Pretendard;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
}

.dropdownItem {
  padding: 12px 28px;
  border: 1px solid #e5e7eb;
  font-size: 16px;
  color: #6b7280;
  cursor: pointer;
}

@media (min-width: 768px) and (max-width: 1199px) {
  /* Tablet */
  .navbar {
    padding: 0 24px;
  }
}

@media (min-width: 375px) and (max-width: 767px) {
  /* Mobile */
  .navbar {
    padding: 0 16px;
  }
}
