.body {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  align-items: center;
}

.section_container {
  display: flex;
  flex-direction: column;
  width: 640px;
  gap: 40px;
  align-items: center;
}

.login_simple_login_description,
.login_signup_question {
  color: var(--gray800);
  font-size: 18px;
  font-weight: 700;
  margin: 0;
}

.password {
  color: var(--gray800);
  font-size: 18px;
  font-weight: 700;
  margin: 0;
}

.login_total_container {
  display: flex;
  flex-direction: column;
  width: 640px;
  gap: 24px;
}

.login_main {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.login_main_input {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.login_main_input_email,
.login_main_input_password {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.login_main_input_password_container {
  display: flex;
  height: 22px;
  border: 1px solid var(--gray100);
  background-color: var(--gray100);
  border-radius: 12px;
  padding: 16px 24px;
}

.login_main_input_password_container:focus-within {
  border-color: var(--blue);
}

.email_input {
  border: 1px solid var(--gray100);
  height: 22px;
  background-color: var(--gray100);
  border-radius: 12px;
  padding: 16px 24px;
}

.password_input {
  border-style: none;
  background-color: var(--gray100);
  padding: 0;
  width: 100%;
}

#eye_icon:hover {
  cursor: pointer;
}

.email_input::placeholder,
.password_input::placeholder {
  display: flex;
  color: var(--gray400);
  font-size: 16px;
}

.email_input:focus,
.password_input:focus {
  border-color: var(--blue);
  outline: none;
}

.input_error {
  border-color: var(--red);
}

.error_message {
  color: var(--red);
  font-size: 14px;
  padding-left: 16px;
}

.eye_icon:hover {
  cursor: pointer;
}

.login_main_button {
  background-color: var(--gray400);
  color: var(--gray100);
  font-size: 20px;
  font-weight: 600;
  border-width: 0;
  border-radius: 40px;
  padding: 16px 124px;
}

.login_main_button.active {
  background-color: var(--blue);
  color: var(--white);
}

.login_main_button:disabled:hover {
  background-color: var(--gray400);
  cursor: not-allowed;
}

.login_main_button.active:hover {
  background-color: var(--darkblue);
  cursor: pointer;
}

.login_simple_login {
  background-color: #e6f2ff;
  border-radius: 8px;
  padding: 16px 23px;
  width: 100%;
  box-sizing: border-box;
}

.login_simple_login_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 42px;
}

.login_simple_login_description {
  font-size: 16px;
  font-weight: 500;
  color: var(--gray800);
}

.login_simple_login_link {
  display: flex;
  align-items: center;
  gap: 16px;
}

.login_first {
  display: flex;
  gap: 4px;
  align-items: center;
  justify-content: center;
}

.login_signup_question {
  color: var(--gray800);
  font-size: 14px;
  font-weight: 500;
}

.login_signup_link {
  color: var(--blue);
  font-size: 14px;
  font-weight: 500;
}

@media (max-width: 767px) {
  .section_container {
    padding: 0 16px;
    max-width: 400px;
    width: 100%;
    box-sizing: border-box;
  }

  .login_total_container {
    width: 100%;
  }

  .big_logo {
    width: 198px;
    height: 66px;
  }
}
