:root {
  --blue-500: #3692ff;
  --blue-100: #cfe5ff;
  --gray-900: #111827;
  --gray-700: #374151;
  --gray-500: #9ca3af;
  --gray-100: #f3f4f6;
  --white: #ffffff;
  --neutral-100: #fcfcfc;
  --neutral-400: #e5e7eb;
}

* {
  box-sizing: border-box;
  font-family: "Pretendard Variable";
}

header {
  padding: 0 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn {
  background-color: var(--blue-500);
  color: var(--gray-100);
  font-weight: 600;
  text-align: center;
  text-decoration: none;
}

h2 {
  color: var(--gray-700);
  font-size: 40px; /* 40px */
  font-weight: 700;
  line-height: 56px;
  margin: 0;
}

footer {
  display: flex;
  height: 160px;
  background-color: var(--gray-900);
  padding: 32px 400px;
  gap: 10px;
}

.main-login {
  width: 128px;
  height: 48px;
  font-size: 16px;
  line-height: 26px;
  padding: 12px 23px;
  border: none;
  border-radius: 8px;
}

.hero {
  display: flex;
  height: 540px;
  background-color: var(--blue-100);
  align-items: flex-end;
  justify-content: center;
  gap: 7px;
}

.hero-container {
  display: flex;
}

.hero-cta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 60px;
  gap: 32px;
}

.see-more {
  font-size: 20px;
  padding: 16px 124px;
  border: none;
  border-radius: 40px;
}

.contents {
  display: flex;
  padding: 138px 466px;
  gap: 10px;
  justify-content: center;
  white-space: nowrap;
}

.contents-item {
  display: flex;
  background-color: var(--neutral-100);
  align-items: center;
  gap: 64px;
  border: none;
  border-radius: 12px;
}

.content-text {
  padding-right: 24px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.caption {
  color: var(--blue-500);
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
}

.content-text p {
  margin: 0;
}

.description {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.additional-desc {
  font-size: 24px;
  font-stretch: semi-condensed;
  font-weight: 500;
  line-height: 32px;
  color: var(--gray-700);
  margin: 0;
}

.hero-bottom {
  margin-top: 180px;
}

.footer-container {
  display: flex;
  width: 100%;
  height: fit-content;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
}

.footer-info {
  display: flex;
  gap: 30px;
}

.footer-info a {
  text-decoration: none;
  color: var(--neutral-400);
}

.right-align {
  text-align: right;
}

#img-home-top {
  height: 340px;
  width: 746px;
}

#img-home-bottom {
  height: 397px;
  width: 746px;
}

#since {
  color: var(--gray-500);
  margin: 0;
}
