.nav-container {
  border-bottom: 1px solid var(--border);
}

.nav-bar {
  display: flex;
  padding: 9px 200px;
  justify-content: space-between;
  align-items: center;
}

.nav-front {
  display: flex;
  align-items: center;
  gap: 47px;
}

.nav-logo {
  width: 153px;
  height: 51px;
  display: flex;
  align-items: center;
  gap: 9px;
}

.nav-board {
  display: flex;
  gap: 30px;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
}

.nav-board a {
  color: var(--gray600);
  text-decoration: none;
}

.nav-board-used-market.active {
  color: var(--blue);
}

.nav-icon {
  display: block;
  width: 40px;
  height: 40px;
}

.login-button {
  background-color: var(--blue);
  color: var(--gray100);
  padding: 12px 32px;
  border-radius: 8px;
  font-size: 16px;
  text-decoration: none;
}

.login-button:hover {
  background-color: var(--darkblue);
}

.profile-icon {
  position: relative;
}

.logout-button {
  position: absolute;
  top: 60px;
  background-color: var(--white);
  border: 1px solid var(--gray200);
  color: var(--gray500);
  padding: 14px 30px;
  border-radius: 8px;
  font-size: 16px;
  min-width: 120px;
}

.logout-button:hover,
.profile-icon:hover {
  cursor: pointer;
}

@media (max-width: 1279px) {
  .nav-bar {
    padding-left: 24px;
    padding-right: 24px;
  }

  .logout-button {
    right: 20px;
  }
}

@media (max-width: 767px) {
  .nav-bar {
    padding-right: 16px;
    padding-left: 16px;
  }

  .nav-front {
    gap: 8px;
  }

  .nav-logo {
    width: 100px;
    height: 35px;
  }

  .nav-board {
    gap: 8px;
    font-size: 16px;
  }
}
