.header {
  padding: 26px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headerTitle {
  font-size: 20px;
  font-weight: 700;
  line-height: 32px;
  color: #1f2937;
}

.headerButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 74px;
  height: 42px;
  padding: 12px 20px;
  border: none;
  background-color: #3692ff;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  color: #f3f4f6;
  cursor: pointer;
}

.headerButton:disabled {
  background-color: #9ca3af;
  cursor: not-allowed;
}
