// folder
@use "base";
@use "helpers";
@use "components";
@use "pages";

/* BreakPoint Tablet */
@media (max-width: 1199px) {
  .section {
    &-layout {
      height: auto;
      .section-wrap {
        width: 100%;
      }
      &:not(:nth-child(5)) {
        .section-title br {
          display: none;
        }
      }
      &-bg {
        .section-content {
          flex-direction: column;
        }
        .section-content-inner {
          text-align: center;

          .link-item {
            margin: 2.4rem auto 0;
          }
        }
        &.top {
          .section-content-inner {
            margin-bottom: 21.1rem;
            padding-top: 8.4rem;
          }
        }
        &.bottom {
          .section-content-inner {
            margin-bottom: 15.7rem;
            padding-top: 20.1rem;
          }
        }
      }
      &-card {
        margin: 2.4rem 2.4rem 5.6rem;
        .section-content {
          flex-direction: column;
          align-items: start;
          gap: 2.4rem 0;
          width: 69.6rem;
          &-inner {
            margin-left: 0;
          }
          img {
            width: 100%;
            &.img-pc {
              display: none;
            }
            &.img-tablet {
              display: block;
            }
          }
          .section-title {
            margin-top: 1.6rem;
            font-size: 3.2rem;
            line-height: 4rem;
          }
          .section-desc {
            font-size: 1.8rem;
            line-height: 2.6rem;
          }
        }
        &:nth-child(2n + 1) {
          .section-content {
            flex-direction: column-reverse;
            align-items: end;
          }
        }
      }
    }
  }
}

/* BreakPoint Mobile */
@media (max-width: 767px) {
  .section {
    &-layout {
      &-bg {
        .section-content {
          .img-home {
            max-width: 44.8rem;
            width: 100%;
          }
        }
        .section-content-inner {
          .link-item {
            width: 24rem;
            height: 4.8rem;
            margin-top: 1.8rem;
            font-size: 1.8rem;
            line-height: 2.6rem;
          }
          .section-title {
            font-size: 3.2rem;
            line-height: 4.48rem;
            br {
              display: block;
            }
          }
        }
        &.top {
          margin-bottom: 5.2rem;
          .section-content-inner {
            margin-bottom: 13.2rem;
            padding-top: 4.8rem;
          }
        }
        &.bottom {
          .section-content-inner {
            margin-bottom: 7.1rem;
            padding-top: 12.1rem;
          }
        }
      }
      &-card {
        margin: 0 1.5rem 4rem;
        .section-content {
          max-width: 34.4rem;
          width: 100%;
          img {
            &.img-pc,
            &.img-tablet {
              display: none;
            }
            &.img-mobile {
              display: block;
            }
          }
          .badge {
            font-size: 1.6rem;
          }
          .section-title {
            margin-top: 0.8rem;
            font-size: 2.4rem;
            line-height: 3.2rem;
          }
          .section-desc {
            margin-top: 1.6rem;
            font-size: 1.6rem;
          }
        }
        &:nth-child(4) {
          margin-bottom: 8.3rem;
        }
      }
    }
  }
}
