.list {
  @apply my-10 flex flex-col gap-3;

  li {
    @apply border-b py-3;
    border-color: var(--gray-200);
  }
  .empty {
    @apply flex flex-col items-center justify-center gap-1 border-b-0;
    color: var(--gray-400);
  }
}
.content {
  @apply mb-6 text-sm;
}
.name {
  @apply text-xs;
}
.date {
  @apply text-xs;
  color: var(--gray-400);
}
